{% extends "layout.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <p><br></p>
               <h1 class="govuk-heading-xl">Sign in</h1>

               <p>Sign in or <a href="#">create an account</a> to manage your apprenticeship funds</p>

               <form method="post" action="2-my-account" class="check-answers-page">
                    <div class="govuk-form-group">
                         <label class="govuk-label govuk-label--m" for="sender-email">Email address</label>
                         <input class="govuk-input govuk-input--width-20" id="sender-email" name="sender-email" type="text">
                    </div>

                    <div class="govuk-form-group">
                         <label class="govuk-label govuk-label--m" for="sender-password">Password</label>
                         <input class="govuk-input govuk-input--width-20" id="sender-password" name="sender-password" type="password">
                    </div>

                    <button class="govuk-button" data-module="govuk-button">Sign in</button>

                    <p><a href="#" class="govuk-link govuk-link--no-visited-state">Forgotton your password?</a></p>
               </form>
          </div>
     </div>

</div>

{% endblock %}
