{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <a href="javascript:history.back()" class="govuk-back-link">Back</a>
          </div>
     </div>

     <div class="govuk-grid-row title-options">
          <div class="govuk-grid-column-full">

               <h1 class="govuk-heading-xl">Belhavel Construction Ltd</h1>

               <p><br></p>

               <div class="govuk-warning-text application-status-one">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                         <span class="govuk-warning-text__assistive">Warning</span>
                         Application status: <span class="govuk-tag govuk-tag--red">rejected</span>
                    </strong>
               </div>

               <p><br></p>

          </div>
     </div>

     <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

               <section class="employer-details">
                    <h2 class="govuk-heading-m">Details about the application</h2>
                    <strong class="govuk-tag govuk-tag--green">100% Match</strong>
                    <!-- <strong class="govuk-tag govuk-tag--turquoise">75% Match</strong> -->
                    <p>
                         <span class="icon tick"></span>Location: <strong>Manchester</strong><br>
                         <span class="icon tick"></span>Sector: <strong>Construction</strong><br>
                         <span class="icon tick"></span>Type of job role: <strong>Bricklayer</strong><br>
                         <span class="icon tick"></span>Level: <strong>2</strong>
                    </p>
                    <p>
                         Apprentices: <strong>2</strong><br>
                         Estimated duration: <strong>30 months</strong><br>
                         Start by: <strong>October 2021</strong><br>
                         Do they have a training provider? <strong>No</strong><br>
                    </p>
               </section>

               <section class="employer-contact-details">
                    <h2 class="govuk-heading-m">About their apprenticeship opportunity</h2>
                    <p>
                         We are a small family business established 5 years ago in Manchester. We would like to expand by taking on an apprentice bricklayer. This would be our first apprentice. We would be very grateful for this opportunity, please do not hesitate to contact us if you have any questions.
                    </p>
               </section>

               <section class="employer-details">
                    <h2 class="govuk-heading-m">Estimated training costs:</h2>
                    <p style="margin-bottom: 10px;">
                         Estimated cost over 30 months: <strong>£18,000</strong>
                    </p>

                    <details class="govuk-details no-margin-bottom" data-module="govuk-details">
                         <summary class="govuk-details__summary">
                              <span class="govuk-details__summary-text">What is estimated cost?</span>
                         </summary>
                         <div class="govuk-details__text">
                              <p>The estimated total cost of training is based on the funding band maximum.</p>
                              <p>The estimated cost of training for this financial year is based on the funding band maximum, the planned start date of training and the 20% completion payment.</p>
                         </div>
                    </details>
               </section>

               <section class="employer-contact-details">
                    <h2 class="govuk-heading-m">Contact details</h2>
                    <p>You can contact Belhavel Construction Ltd if you would like to ask them for more information.</p>
                    <p>
                         <span class="icon contact"></span><strong>John Doe </strong><br>
                         <span class="icon email"></span><a href="mailto:joe.bloggs@belhavel.com">john.doe@belhavel.com</a><br>
                         <span class="icon email"></span><a href="mailto:joe.bloggs@belhavel.com">john.doe2@belhavel.com</a><br>
                         <span class="icon phone"></span><a href="tel:0123456789">0123 456 7890</a>
                    </p>
                    <p><span class="icon website"></span><a href="#">www.belhavel.com</a></p>
               </section>

          </div>

          <aside class="govuk-grid-column-one-third">

               <div class="new-pledge-values side-panel">

               </div>

          </aside>

     </div>

</div>

{% endblock %}
