{% extends "layout-ltm.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <span class="govuk-caption-m">Transfer Matching service</span>
               <h1 class="govuk-heading-xl">Search transfer funding pledges</h1>

          </div>
     </div>

     <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">

               {% include "../includes/search-filter.html" %}

          </div>

          <div class="govuk-grid-column-two-thirds">

               <div class="search-results">

                    <div class="search-title">
                         <h2 class="govuk-heading-m"><span class="filter-number">29</span> transfer pledges</h2>
                         <p>Sorted by: <strong>Name</strong>
                    </div>

                    <!-- SECTION 1 - START -->
                    <section class="pledge-details west-mids sector-agriculture sector-engineering sector-transport training-agriculture training-engineering training-transport level-six level-seven">
                         <h2 class="govuk-heading-m">
                              Anonymous employer (1234)
                              <a href="#" class="govuk-button">Apply</a>
                         </h2>
                         <span class="govuk-caption-m">£25,000</span>
                         <p>
                              <strong>Locations:</strong> West Midlands<br>
                              <strong>Sectors:</strong> Agriculture, environmental and animal care, Engineering and manufacturing, Transport and logistics<br>
                              <strong>Type of training:</strong> Agriculture, environmental and animal care, Engineering and manufacturing, Transport and logistics<br>
                              <strong>Level:</strong> Level 6 - degree & Level 7 - master’s degree

                         </p>
                    </section>
                    <!-- SECTION 1 - END -->

                    <!-- SECTION 2 - START -->
                    <section class="pledge-details london sector-agriculture sector-engineering sector-transport training-transport level-six level-seven">
                         <h2 class="govuk-heading-m">
                              Anonymous employer (5678)
                              <a href="#" class="govuk-button">Apply</a>
                         </h2>
                         <span class="govuk-caption-m">£25,000</span>
                         <p>
                              <strong>Locations:</strong> Greater London<br>
                              <strong>Sectors:</strong> Agriculture, environmental and animal care, Engineering and manufacturing, Transport and logistics<br>
                              <strong>Type of training:</strong> Transport and logistics<br>
                              <strong>Level:</strong> Level 6 - degree & Level 7 - master’s degree
                         </p>
                    </section>
                    <!-- SECTION 2 - END -->

                    <!-- SECTION 3 - START -->
                    <section class="pledge-details west-mids sector-transport training-transport level-seven">
                         <h2 class="govuk-heading-m">BARRY & BARRY Ltd (9101)
                              <a href="#" class="govuk-button">Apply</a>
                         </h2>
                         <span class="govuk-caption-m">£---</span>
                         <p>
                              <strong>Locations:</strong> West Midlands<br>
                              <strong>Sectors:</strong> Transport and logistics<br>
                              <strong>Type of training:</strong> Transport and logistics<br>
                              <strong>Level:</strong> Level 7 - master’s degree
                         </p>
                    </section>
                    <!-- SECTION 3 - END -->

                    <!-- SECTION 4 - START -->
                    <section class="pledge-details">
                         <h2 class="govuk-heading-m">BASS Ltd (1112)
                              <a href="#" class="govuk-button">Apply</a>
                         </h2>
                         <span class="govuk-caption-m">£30,000</span>
                         <p>
                              <strong>Locations:</strong> All<br>
                              <strong>Sectors:</strong> All<br>
                              <strong>Type of training:</strong> All<br>
                              <strong>Level:</strong> All
                         </p>
                    </section>
                    <!-- SECTION 4 - END -->

                    <!-- SECTION 5 - START -->
                    <section class="pledge-details east-mids sector-agriculture training-agriculture level-six">
                         <h2 class="govuk-heading-m">Construction company (1234)
                              <a href="#" class="govuk-button">Apply</a>
                         </h2>
                         <span class="govuk-caption-m">£15,000</span>
                         <p>
                              <strong>Locations:</strong> East Midlands<br>
                              <strong>Sectors:</strong> Agriculture, environmental and animal care<br>
                              <strong>Type of training:</strong> Agriculture, environmental and animal care<br>
                              <strong>Level:</strong> Level 6 - degree
                         </p>
                    </section>
                    <!-- SECTION 5 - END -->

                    <!-- SECTION 6 - START -->
                    <section class="pledge-details west-mids sector-agriculture sector-engineering sector-transport training-agriculture training-engineering training-transport level-six level-seven">
                         <h2 class="govuk-heading-m">Daytime Haulers (5678)
                              <a href="#" class="govuk-button">Apply</a>
                         </h2>
                         <span class="govuk-caption-m">£250,000</span>
                         <p>
                              <strong>Locations:</strong> West Midlands<br>
                              <strong>Sectors:</strong> Agriculture, environmental and animal care, Engineering and manufacturing, Transport and logistics<br>
                              <strong>Type of training:</strong> Agriculture, environmental and animal care, Engineering and manufacturing, Transport and logistics<br>
                              <strong>Level:</strong>Level 6 - degree & Level 7 - master’s degree
                         </p>
                    </section>
                    <!-- SECTION 6 - END -->

                    <!-- SECTION 7 - START -->
                    <section class="pledge-details west-mids sector-agriculture sector-engineering training-agriculture training-engineering level-seven">
                         <h2 class="govuk-heading-m">Everbright Ltd (9101)
                              <a href="#" class="govuk-button">Apply</a>
                         </h2>
                         <span class="govuk-caption-m">£---</span>
                         <p>
                              <strong>Locations:</strong> West Midlands<br>
                              <strong>Sectors:</strong> Agriculture, environmental and animal care, Engineering and manufacturing<br>
                              <strong>Type of training:</strong> Agriculture, environmental and animal care, Engineering and manufacturing<br>
                              <strong>Level:</strong>Level 6 - degree & Level 7 - master’s degree
                         </p>
                    </section>
                    <!-- SECTION 7 - END -->

                    <!-- SECTION 8 - START -->
                    <section class="pledge-details east-mids">
                         <h2 class="govuk-heading-m">Finders Keepers Ltd (1112)
                              <a href="#" class="govuk-button">Apply</a>
                         </h2>
                         <span class="govuk-caption-m">£300,000</span>
                         <p>
                              <strong>Locations:</strong> East Midlands<br>
                              <strong>Sectors:</strong> All<br>
                              <strong>Type of training:</strong> All<br>
                              <strong>Level:</strong>All
                         </p>
                    </section>
                    <!-- SECTION 8 - END -->

                    <!-- SECTION 9 - START -->
                    <section class="pledge-details london sector-engineering sector-transport training-engineering training-transport level-six level-seven">
                         <h2 class="govuk-heading-m">Great Gatsby (1234)
                              <a href="#" class="govuk-button">Apply</a>
                         </h2>
                         <span class="govuk-caption-m">£25,000</span>
                         <p>
                              <strong>Locations:</strong> Greater London<br>
                              <strong>Sectors:</strong> Engineering and manufacturing, Transport and logistics<br>
                              <strong>Type of training:</strong> Engineering and manufacturing, Transport and logistics<br>
                              <strong>Level:</strong>Level 6 - degree & Level 7 - master’s degree
                         </p>
                    </section>
                    <!-- SECTION 9 - END -->

               </div>

               <!-- NO RESULTS - START -->
               <section class="no-results">
                    <h4 class="govuk-heading-m">No results - Sign up to alerts for these criteria</h4>
                    <p>No results text</p>
                    <a href="#" class="govuk-button">Alert me</a>
               </section>
               <!-- NO RESULTS - END -->

          </div>

     </div>

</div>

{% endblock %}
