{% extends "layout-ltm.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <span class="govuk-caption-m">Transfer Matching service</span>
               <h1 class="govuk-heading-xl">Search transfer funding pledges</h1>

          </div>
     </div>

     <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">

               {% include "../includes/search-filter.html" %}

          </div>

          <div class="govuk-grid-column-two-thirds">

               <div class="search-results">

                    <div class="search-title">
                         <h2 class="govuk-heading-m"><span class="filter-number">29</span> transfer pledges</h2>
                         <p>Sorted by: <strong>Name</strong>
                    </div>

                    <!-- SECTION 1 - START -->
                    <section class="pledge-details west-mids sector-agriculture sector-engineering sector-transport training-agriculture training-engineering training-transport level-six level-seven" data-search="search-item-1">
                         <strong class="govuk-tag govuk-tag--green">Applied</strong>
                         <h2 class="govuk-heading-m">
                              <span class="pledge-name">Anonymous employer (1234)</span>
                              <a href="application/1-pledge-details" class="govuk-button">Apply for pledge</a>
                         </h2>
                         <span class="govuk-caption-m">£25,000</span>
                         <p>
                              <strong>Location(s):</strong> <span class="location">West Midlands</span><br>
                              <strong>Sector(s):</strong> <span class="sector">Agriculture, environmental and animal care, Engineering and manufacturing, Transport and logistics</span><br>
                              <strong>Type(s) of training:</strong> <span class="training">Agriculture, environmental and animal care, Engineering and manufacturing, Transport and logistics</span><br>
                              <strong>Level(s):</strong> <span class="level">Level 6 - degree & Level 7 - master’s degree</span>

                         </p>
                    </section>
                    <!-- SECTION 1 - END -->

                    <!-- SECTION 2 - START -->
                    <section class="pledge-details london sector-agriculture sector-engineering sector-transport training-transport level-six level-seven" data-search="search-item-2">
                         <strong class="govuk-tag govuk-tag--green">Applied</strong>
                         <h2 class="govuk-heading-m">
                              <span class="pledge-name">Anonymous employer (5678)</span>
                              <a href="application/1-pledge-details" class="govuk-button">Apply for pledge</a>
                         </h2>
                         <span class="govuk-caption-m">£25,000</span>
                         <p>
                              <strong>Location(s):</strong> <span class="location">Greater London</span><br>
                              <strong>Sector(s):</strong> <span class="sector">Agriculture, environmental and animal care, Engineering and manufacturing, Transport and logistics</span><br>
                              <strong>Type(s) of training:</strong> <span class="training">Transport and logistics</span><br>
                              <strong>Level(s):</strong>  <span class="level">Level 6 - degree & Level 7 - master’s degree</span>
                         </p>
                    </section>
                    <!-- SECTION 2 - END -->

                    <!-- SECTION 3 - START -->
                    <section class="pledge-details west-mids sector-transport training-transport level-seven" data-search="search-item-3">
                         <strong class="govuk-tag govuk-tag--green">Applied</strong>
                         <h2 class="govuk-heading-m">
                              <span class="pledge-name">BARRY & BARRY Ltd (9101)</span>
                              <a href="application/1-pledge-details" class="govuk-button">Apply for pledge</a>
                         </h2>
                         <span class="govuk-caption-m">£---</span>
                         <p>
                              <strong>Location(s):</strong> <span class="location">West Midlands</span><br>
                              <strong>Sector(s):</strong> <span class="sector">Transport and logistics</span><br>
                              <strong>Type(s) of training:</strong> <span class="training">Transport and logistics<</span>br>
                              <strong>Level(s):</strong>  <span class="level">Level 7 - master’s degree</span>
                         </p>
                    </section>
                    <!-- SECTION 3 - END -->

                    <!-- SECTION 4 - START -->
                    <section class="pledge-details" data-search="search-item-4">
                         <strong class="govuk-tag govuk-tag--green">Applied</strong>
                         <h2 class="govuk-heading-m">
                              <span class="pledge-name">BASS Ltd (1112)</span>
                              <a href="application/1-pledge-details" class="govuk-button">Apply for pledge</a>
                         </h2>
                         <span class="govuk-caption-m">£30,000</span>
                         <p>
                              <strong>Location(s):</strong> <span class="location">All</span><br>
                              <strong>Sector(s):</strong> <span class="sector">All</span><br>
                              <strong>Type(s) of training:</strong> <span class="training">All</span><br>
                              <strong>Level(s):</strong>  <span class="level">All</span>
                         </p>
                    </section>
                    <!-- SECTION 4 - END -->

                    <!-- SECTION 5 - START -->
                    <section class="pledge-details east-mids sector-agriculture training-agriculture level-six" data-search="search-item-5">
                         <strong class="govuk-tag govuk-tag--green">Applied</strong>
                         <h2 class="govuk-heading-m">
                              <span class="pledge-name">Construction company (1234)</span>
                              <a href="application/1-pledge-details" class="govuk-button">Apply for pledge</a>
                         </h2>
                         <span class="govuk-caption-m">£15,000</span>
                         <p>
                              <strong>Location(s):</strong> <span class="location">East Midlands</span><br>
                              <strong>Sector(s):</strong> <span class="sector">Agriculture, environmental and animal care</span><br>
                              <strong>Type(s) of training:</strong> <span class="training">Agriculture, environmental and animal care</span><br>
                              <strong>Level(s):</strong>  <span class="level">Level 6 - degree</span>
                         </p>
                    </section>
                    <!-- SECTION 5 - END -->

                    <!-- SECTION 6 - START -->
                    <section class="pledge-details west-mids sector-agriculture sector-engineering sector-transport training-agriculture training-engineering training-transport level-six level-seven" data-search="search-item-6">
                         <strong class="govuk-tag govuk-tag--green">Applied</strong>
                         <h2 class="govuk-heading-m">
                              <span class="pledge-name">Daytime Haulers (5678)</span>
                              <a href="application/1-pledge-details" class="govuk-button">Apply for pledge</a>
                         </h2>
                         <span class="govuk-caption-m">£250,000</span>
                         <p>
                              <strong>Location(s):</strong> <span class="location">West Midlands</span><br>
                              <strong>Sector(s):</strong> <span class="sector">Agriculture, environmental and animal care, Engineering and manufacturing, Transport and logistics</span><br>
                              <strong>Type(s) of training:</strong> <span class="training">Agriculture, environmental and animal care, Engineering and manufacturing, Transport and logistics</span><br>
                              <strong>Level(s):</strong> <span class="level">Level 6 - degree & Level 7 - master’s degree</span>
                         </p>
                    </section>
                    <!-- SECTION 6 - END -->

                    <!-- SECTION 7 - START -->
                    <section class="pledge-details west-mids sector-agriculture sector-engineering training-agriculture training-engineering level-seven" data-search="search-item-7">
                         <strong class="govuk-tag govuk-tag--green">Applied</strong>
                         <h2 class="govuk-heading-m">
                              <span class="pledge-name">Everbright Ltd (9101)</span>
                              <a href="application/1-pledge-details" class="govuk-button">Apply for pledge</a>
                         </h2>
                         <span class="govuk-caption-m">£---</span>
                         <p>
                              <strong>Location(s):</strong> <span class="location">West Midlands</span><br>
                              <strong>Sector(s):</strong> <span class="sector">Agriculture, environmental and animal care, Engineering and manufacturing</span><br>
                              <strong>Type(s) of training:</strong> <span class="training">Agriculture, environmental and animal care, Engineering and manufacturing</span><br>
                              <strong>Level(s):</strong> <span class="level">Level 6 - degree & Level 7 - master’s degree</span>
                         </p>
                    </section>
                    <!-- SECTION 7 - END -->

                    <!-- SECTION 8 - START -->
                    <section class="pledge-details east-mids" data-search="search-item-8">
                         <strong class="govuk-tag govuk-tag--green">Applied</strong>
                         <h2 class="govuk-heading-m">
                              <span class="pledge-name">Finders Keepers Ltd (1112)</span>
                              <a href="application/1-pledge-details" class="govuk-button">Apply for pledge</a>
                         </h2>
                         <span class="govuk-caption-m">£300,000</span>
                         <p>
                              <strong>Location(s):</strong> <span class="location">East Midlands</span><br>
                              <strong>Sector(s):</strong> <span class="sector">All</span><br>
                              <strong>Type(s) of training:</strong> <span class="training">All</span><br>
                              <strong>Level(s):</strong> <span class="level">All</span>
                         </p>
                    </section>
                    <!-- SECTION 8 - END -->

                    <!-- SECTION 9 - START -->
                    <section class="pledge-details london sector-engineering sector-transport training-engineering training-transport level-six level-seven" data-search="search-item-9">
                         <strong class="govuk-tag govuk-tag--green">Applied</strong>
                         <h2 class="govuk-heading-m">
                              <span class="pledge-name">Great Gatsby (1234)</span>
                              <a href="application/1-pledge-details" class="govuk-button">Apply for pledge</a>
                         </h2>
                         <span class="govuk-caption-m">£25,000</span>
                         <p>
                              <strong>Location(s):</strong> <span class="location">Greater London</span><br>
                              <strong>Sector(s):</strong> <span class="sector">Engineering and manufacturing, Transport and logistics</span><br>
                              <strong>Type(s) of training:</strong> <span class="training">Engineering and manufacturing, Transport and logistics</span><br>
                              <strong>Level(s):</strong> <span class="level">Level 6 - degree & Level 7 - master’s degree</span>
                         </p>
                    </section>
                    <!-- SECTION 9 - END -->

               </div>

               <!-- NO RESULTS - START -->
               <section class="no-results">
                    <h4 class="govuk-heading-m">No results - Sign up to alerts for these criteria</h4>
                    <p>No results text</p>
                    <a href="#" class="govuk-button">Alert me</a>
               </section>
               <!-- NO RESULTS - END -->

          </div>

     </div>

</div>

{% endblock %}
