{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../includes/navigation-sender.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container" id="transfers-hub">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="my-account">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="finance">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="transfers">Transfers</a></li>
          </ol>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <h1 class="govuk-heading-xl">Transfers</h1>

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <p>Transfer content</p>

               <h2 class="govuk-heading-s">Transfer applications</h2>
               <p class="no-applications">You have no pending applications.</p>
          </div>

          <div class="govuk-grid-column-full">

               <!-- APPLICATION TABLE - START -->
               <table class="govuk-table application-complete-table">
                    <thead class="govuk-table__head">
                         <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Description</th>
                              <th scope="col" class="govuk-table__header">Date</th>
                              <th scope="col" class="govuk-table__header">Total</th>
                              <th scope="col" class="govuk-table__header">Approved</th>
                              <th scope="col" class="govuk-table__header"></th>
                         </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                         <tr class="govuk-table__row new-pledge">
                              <td class="govuk-table__cell">
                                   <strong>
                                        <div class="pledge-name-answer">###</div>
                                   </strong>
                              </td>
                              <td class="govuk-table__cell"><div id="date-stamp"></div></td>
                              <td class="govuk-table__cell">£<span class="pledge-value-answer">###</span></td>
                              <td class="govuk-table__cell"><span class="">Awaiting approval</span></td>
                              <td class="govuk-table__cell"><a href="application/6-application-details">View</a></td>
                         </tr>
                    </tbody>
               </table>
               <!-- APPLICATION TABLE - END -->

               {% from "govuk/components/button/macro.njk" import govukButton %}

               <a href="search-pledges" class="govuk-button" data-module="govuk-button">Find an pledge application</a>

               <p><a href="search-pledges">Take me to the Transfer Matching service</a></p>

               <hr class="separator">

               <h2 class="govuk-heading-s">Connection requests</h2>
               <p>You have no pending or approved requests.</p>

               <h2 class="govuk-heading-s">Transfer requests</h2>
               <p>You have no pending or approved requests.</p>


          </div>

     </div>

</div>

{% endblock %}
