{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation-sender-secondary.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry" id="transfers-hub">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row title-options">
          <div class="govuk-grid-column-full">

               <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds left-side">
                         <span class="govuk-caption-m">Find a business to transfer your levy to</span>
                    </div>
                    <!-- <div class="govuk-grid-column-one-third right-side">
                         <p class="govuk-caption-m">
                              <a href="#" class="copy copy-items govuk-link--no-visited-state">
                                   Copy application details
                                   <span class="tooltiptext">Copied to clipboard</span>
                              </a>
                              <a href="" class="edit govuk-link--no-visited-state">Edit pledge</a>
                         </p>
                    </div> -->
               </div>

               <h1 class="govuk-heading-xl">
                    CBJ Engineering
                    <!-- <span class="govuk-caption-m">Birmingham, West Midlands</span> -->
               </h1>

               <p><br></p>

          </div>

     </div>

     <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

               <!-- REJECTED - START -->
               <div class="govuk-form-group rejected-panel">
                    <div class="govuk-warning-text">
                         <span class="govuk-info__icon" aria-hidden="true"></span>
                         <strong class="govuk-warning-text__text">
                              <span class="govuk-warning-text__assistive">Confirmed</span> You have rejected this application - <strong id="date-stamp"></strong>
                         </strong>
                         <!-- <br>
                         <p class="no-margin-bottom"><strong>Reason for rejection</strong></p>
                         <p class="no-margin-bottom">{{ data['application-rejection-detail'] }}</p>

                         {% if data['rejection-reason'] %}
                         <ul class="govuk-list govuk-list--bullet">
                              {% for answer in data['rejection-reason'] -%}
                              <li>{{ answer }}</li>
                              {% endfor %}
                         </ul>
                         {% endif %} -->

                    </div>
               </div>
               <!-- REJECTED - END -->

               <form method="post" action="" id="cbj-engineering">

                    <section class="employer-details">
                         <h2 class="govuk-heading-m">Details about the application</h2>

                         <strong class="govuk-tag govuk-tag--yellow">75% Match</strong>

                         <p>
                              <span class="icon tick"></span>Location: <strong>West Midlands</strong><br>
                              <span class="icon tick"></span>Sector: <strong>Construction</strong><br>
                              <span class="icon tick"></span>Type of job role: <strong>Construction quantity surveyor (degree)</strong><br>
                              <span class="icon cross"></span>Level: <strong>6</strong>
                         </p>

                         <!-- <p class="govuk-heading-s"><a href="#" rel="external" target="_blank">Quantity surveying degree (level 6)</a></p> -->
                         <p>
                              Apprentices: <strong>2</strong><br>
                              Estimated duration: <strong>36 months</strong><br>
                              Start by: <strong>April 2021</strong><br>
                              Do the have a training provider? <strong>Yes</strong><br>
                         </p>
                         <hr class="dotted">
                         <p>
                              Maximum funding band per apprentice: <strong>£18,000</strong><br>
                              <span class="small-text hover-over">
                                   <span class="dotted-underline">Estimated total cost per year</span> <span class="icon help"></span>: £12,000
                                   <span class="tooltiptext">
                                        The estimated total cost of training per year is based on the funding band maximum and the duration of training.
                                        <br><br>
                                        The actual cost per year will depend on the start date of the training and the final cost agreed with the training provider.
                                   </span>
                              </span>

                         </p>
                         <div class="total">
                              <p class="govuk-heading-m">
                                   <span class="small-text hover-over">
                                        <span class="dotted-underline">Estimated total cost</span>  <span class="icon help"></span>: £36,000
                                        <span class="tooltiptext">
                                             The estimated total cost of training is based on the funding band maximum, so may not reflect the final cost agreed with the training provider.
                                        </span>
                                   </span>
                              </p>
                         </div>
                    </section>

                    <section class="employer-contact-details">
                         <h2 class="govuk-heading-m">About their apprenticeship opportunity</h2>

                         <p>
                              No details were provided.
                         </p>
                    </section>

                    <section class="employer-contact-details">
                         <!-- <h2 class="govuk-heading-l">Details about the employer</h2>

                         <p class="govuk-heading-s">
                              CBJ Engineering
                              <span class="govuk-caption-m">West Midlands</span>
                         </p>

                         <p><a href="#">www.cbjengineering.com</a></p>

                         <p>
                              Sector: <strong>Construction company</strong><br>
                              Levy payer: <strong>No</strong>
                         </p>
                         <hr class="dotted"> -->

                         <h2 class="govuk-heading-m">Main contact</h2>

                         <p>You can contact CBJ Engineering if you would like to ask them for more information.</p>

                         <p>
                              <span class="icon contact"></span><strong>Pete Postlethwaite</strong><br>
                              <span class="icon email"></span><a href="mailto:joe.bloggs@belhavel.com">pete@cbjengineering.com</a><br>
                              <span class="icon phone"></span><a href="tel:0785678682">07856 78682</a>
                         </p>

                         <p><span class="icon website"></span><a href="#">www.cbjengineering.com</a></p>

                    </section>

                    <div class="pledge-rejected-info">

                         <!-- <div class="govuk-inset-text">
                              <strong>Disclaimer:</strong> The information provided by CBJ Engineering in their application for this pledge has not been checked and verified by the apprenticeship service.<br>
                              <br>
                              Please carry out your own due diligence when deciding whether to offer a transfer of your levy funds.
                         </div> -->

                         {% from "govuk/components/radios/macro.njk" import govukRadios %}

                         {% set approveHtml %}
                              <p>
                                   <strong>Disclaimer:</strong> The information provided by Belhavel Construction Ltd in their application for this pledge has not been checked and verified by the apprenticeship service.<br>
                                   <br>
                                   Please carry out your own due diligence when deciding whether to offer a  transfer of your levy funds.
                              </p>
                         {% endset -%}

                         {{ govukRadios({
                              idPrefix: "mvs-application-reject",
                              name: "mvs-application-reject",
                              fieldset: {
                                   legend: {
                                        text: "What would you like to do with this application?",
                                        isPageHeading: false,
                                        classes: "govuk-fieldset__legend--m"
                                   }
                              },
                              items: [
                                   {
                                        value: "approve",
                                        text: "Approve the application",
                                        conditional: {
                                             html: approveHtml
                                        }
                                   },
                                   {
                                        value: "reject",
                                        text: "Reject the application"
                                   }
                              ]
                         }) }}

                         <button class="govuk-button" data-module="govuk-button" id="mvs-reject-application">Continue</button>

                         <!-- <a href="" class="govuk-button pledge-rejected-button" id="">Approve</a>
                         <a href="4-reject" class="govuk-button govuk-button--warning button-margin-left pledge-rejected-button">Reject</a> -->
                    </div>

                    <p><a href="javascript:history.back()" class="govuk-link govuk-link--no-visited-state govuk-back-link" id="approved-back-to-pledge-details">Back</a></p>

               </form>

          </div>

          <aside class="govuk-grid-column-one-third">

               <div class="new-pledge-values side-panel">
                    <h3 class="govuk-heading-l">
                         <strong class="before-approval">£<span class="value-format">0</span></strong>
                         <strong class="after-approval">£<span class="value-format">4500</span></strong>
                         <br>
                         <div class="small-text hover-over">
                              <span class="dotted-underline">Pledge 910106 funds committed 2021/22</span>
                              <span class="icon help"></span>
                              <span class="tooltiptext">
                                   Pledge funds committed shows an estimate of the funds you are expecting to transfer in this financial year for this specific pledge.
                                   <br><br>
                                   It is an estimated figure as the funds leaving your account will depend on the start date of the training.
                              </span>
                         </div>
                    </h3>
                    <h3 class="govuk-heading-l">
                         <strong class="before-approval total-value">£<span class="value-format">{{ data['pledge-amount'] }}</span></strong>
                         <strong class="after-approval total-value">£<span class="value-format">{{ data['pledge-amount']-4500 }}</span></strong>
                         <br>
                         <div class="small-text hover-over">
                              <span class="dotted-underline">Pledge 910106 funds remaining 2021/22</span>
                              <span class="icon help"></span>
                              <span class="tooltiptext">
                                   Pledge funds remaining is an estimate of the funds still available to transfer for this specific pledge.
                                   <br><br>
                                   It subtracts your pledge funds committed from your pledge total.
                              </span>
                         </div>
                    </h3>
               </div>

          </aside>

     </div>

</div>

{% endblock %}
