{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="2-my-account">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-finance">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Transfers</a></li>
          </ol>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <p><br></p>
               <h1 class="govuk-heading-xl">Manage transfers</h1>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
               <h2 class="govuk-heading-m">My transfer pledges</h2>
               <p>Create a public funding pledge which is shown online so that businesses can apply to you for a transfer of funds.</p>
               {% if data['pledge_amount'] %}
                    <div class="govuk-inset-text">You have <strong>4</strong> transfer pledges.</div>
               {% else %}
                    <div class="govuk-inset-text">You have <strong>3</strong> transfer pledges.</div>
               {% endif %}
               <a href="../STEP-1/4-start-new-pledge" class="govuk-button" data-module="govuk-button">Create a transfer pledge</a>
               <a href="4-my-pledges" class="govuk-button govuk-button--secondary" data-module="govuk-button">View my transfer pledges and applications</a>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <p style="border-top: 2px solid #b1b4b6;margin-top: 20px;margin-bottom: 40px;"></p>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
               <h2 class="govuk-heading-m">My transfer connections</h2>
               <p>If you know a business you want to transfer funds to, you can make a connection to them and set up a transfer.</p>
               <p>You'll need to know their apprenticeship service account ID number.</p>
               <div class="govuk-inset-text">You have <strong>0</strong> pending transfer connections.</div>
               <a href="#" class="govuk-button govuk-button--secondary secondary-overwrite" data-module="govuk-button">Make a transfer to a business I know</a>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <p style="border-top: 2px solid #b1b4b6;margin-top: 10px;margin-bottom: 40px;"></p>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <h2 class="govuk-heading-m">My transfer finances</h2>
          </div>
     </div>

     <!-- transfer-values -->

     <!-- <div class="transfer-values-prototype mvs-version">

          <div class="transfer-values">
               <div class="transfer-funds">
                    <p><span>Your transfer allowance FY 2021/22</span></p>
                    <p class="number">£200,000</p>
               </div>


               <div class="transfer-funds">
                    <p><span>Pledges and direct transfers FY 2021/22</span></p>
                    {% if data['pledge_amount'] %}
                         <p class="number">£<span class="value-format">{{ 114000+data['pledge_amount'] | int }}</span></p>
                    {% else %}
                         <p class="number">£114,000</p>
                    {% endif %}
               </div>

               <div>
                    <p><span>Remaining transfer funds FY 2021/22</span></p>
                    {% if data['pledge_amount'] %}
                         <p class="number">£<span class="value-format">{{ 86000-data['pledge_amount'] }}</span></p>
                    {% else %}
                         <p class="number">£86,000</p>
                    {% endif %}
               </div>

          </div>

     </div> -->

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <p>If you want to understand your transfer and pledge allownace you can do this on the link below.</p>
               <p>You can also download your finances.</p>

               <!-- <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                         <span class="govuk-details__summary-text">Transfers allowance information</span>
                    </summary>
                    <div class="govuk-details__text">
                         <p><strong>Your transfer allowance for this financial year</strong></p>
                         <p>This is calculated every year on 6 April and shows in your account after 20 April.</p>
                         <p>The levy funds you commit to a transfer will be paid from your account monthly over the duration of the apprenticeship. This means you are committing funds over multiple financial years.</p>
                         <p>Transfer payments will leave your account before payments for your own apprenticeships.</p>
                         <p><a href="https://www.gov.uk/guidance/transferring-your-apprenticeship-levy-to-another-business" target="_blank" rel="external">Find out more detailed information (opens in new tab or window)</a>
                         <p><strong>Pledges and direct transfers</strong></p>
                         <p>This is an estimate of the amount allocated for your transfers in this financial year. It includes any existing transfer commitments carried over from last year.</p>
                         <p>It uses an estimate of monthly payments based on the planned start date of training and the 20% completion payment.</p>
                         <p>It adds the pledges you have made this year to the ongoing transfer commitments you have made in previous years.</p>
                         <p><strong>Remaining transfer funds</strong></p>
                         <p>This is an estimate of what remains for you to pledge to transfers in this financial year.</p>
                    </div>
               </details> -->

               <!-- <a href="3A-my-finances" class="download-csv black-version full-width"> -->
               <a href="3A-my-finances" class="govuk-button govuk-button--secondary secondary-overwrite">
                    <!-- <span class="black-download"></span> -->
                    View my transfer finances
               </a>
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
     </div>

</div>

{% endblock %}
