
{% extends "layout-email.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
     <!-- <div class="email-banner">
          <img src="/public/images/ESFA-logo.jpg" alt="Education & Skills Funding Agency">
     </div> -->
{% endblock %}

{% block content %}

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <h1 class="govuk-heading-m">Barry and Barry you have 1 pledge that is due for renewal at the end of this financial year, 5th April 2022.</h1>

               <p>
                    You can tell us what you want to happen to your pledges at the end of the financial year by <a href="2-signin">signing into your apprenticeship service account</a> and reviewing the options.
               </p>

               <p>
                    You can choose to:
               </p>

               <ul class="govuk-list govuk-list--bullet">
                    <li>continue a pledge into the new financial year</li>
                    <li>let the pledge close automatically on the 5th April</li>
                    <!-- <li>create a new pledge</li> -->
               </ul>

               <p class="govuk-body">
                    Applications that are waiting approval by you or waiting for acceptance by the applicant will be rejected at this time.
                    <!-- If you do nothing your pledges will be closed automatically on 5th April 2022, and the applications on those pledges will be processed based on each application's status on the 5th of April. -->
               </p>

               <!-- <ul class="govuk-list govuk-list--bullet">
                    <li>all unapproved applications on the pledges will be rejected</li>
                    <li>any approved applications that have not been accepted by the receiving employer will be rejected.</li>
               </ul> -->

               <!-- <p class="govuk-body">
                    <a href="2-signin"><strong>View my transfer pledges and applications</strong></a>
               </p> -->

               <p>Find full details about <a href="#" target="_blank">transferring your apprenticeship levy to another business</a> on GOV.UK.</p>

               <p class="govuk-body">
                    This is an automated message. Please don't reply to this email.
               </p>

               <p class="govuk-body">
                    Kind regards,<br>
                    <strong>Apprenticeship service team</strong>
               </p>

          </div>

     </div>

{% endblock %}
