<div class="navigation-account">
     <div class="govuk-width-container">
          <p class="business-name">Your employer account</p>
          <ul class="govuk-list">
               <li><a href="#">Help</a></li>
               <li><a href="#" class="more">Settings</a></li>
               <li><a href="#">Sign out</a></li>
          </ul>
     </div>
</div>

<div class="navigation">
     <div class="govuk-width-container">
          <ul class="govuk-list">
               <li><a href="../my-account" class="govuk-link link-one selected">Home</a></li>
               <li><a href="../finance" class="govuk-link link-two">Finance</a></li>
               <li><a href="#" class="govuk-link link-three">Adverts</a></li>
               <li><a href="#" class="govuk-link link-four">Apprentices</a></li>
               <li><a href="#" class="govuk-link link-five">Your team</a></li>
               <li><a href="#" class="govuk-link link-six">Your organisations and agreements</a></li>
               <li><a href="#" class="govuk-link link-seven">PAYE schemes</a></li>
               <li class="icon-burger"></li>
          </ul>
     </div>
</div>
