// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";
@import "patterns/email";
@import "patterns/dashboard";
@import "patterns/navigation";
@import "patterns/tabs";
@import "patterns/standard-details";
@import "patterns/landing-page";
@import "patterns/tooltip";
@import "patterns/side-nav";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/pagination";
@import "components/back-to-top";
@import "components/progress-tracker";
@import "components/module-tracker";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
h1 {
     span {
          color: #1d70b8;
     }
}

.no-top-margin {
     margin-top: 0 !important;
}

#main-content {
     padding-top: 0;
     .govuk-back-link {
          margin-bottom: 3em;
     }
}

.no-bottom-margin {
     margin-bottom: 0 !important;
}

p {
     &.invitation-code {
          background: govuk-colour("light-grey");
          padding: 1em;
     }
     &.small-text {
          font-size: 14px;
          color: govuk-colour("green");
     }
}

.govuk-header__container {
     border-bottom: 10px solid #134273;
     z-index: 20;
}

.specific-text {
     background: govuk-colour("light-grey");
     border: 5px solid govuk-colour("mid-grey");
     display: block;
     width: 91%;
     padding: 3.5%;
     margin-bottom: 1.5em;
}

// .govuk-heading-xl {
//     margin-bottom: 10px;
// }

.govuk-width-container {
     &.title-overide {
          margin: 0;
          max-width: 100%;
     }
}

.secondary-link {
     margin: 0.5em 0 0 1em;
     display: inline-block;
}

.main-change-link {
     float: right;
     font-size: 1rem;
     margin-top: 0.5em;
     color: $govuk-link-colour;
}

.govuk-tag {
     text-align: center;
}

#service-title-section, #action-title-section {
     background: #f0f3f7;
     padding: 0 0 3em 0;
     &.account-page {
          padding: 0;
     }
     &.standard-details-page {
          // margin-bottom: 2em;
          .govuk-back-link {
               margin-bottom: 5px;
          }
          .govuk-heading-xl {
               margin-top: 0;
          }
     }
     &.landing-page {
          padding: 0;
          .govuk-heading-xl {
               margin: 0;
          }
          .govuk-back-link {
               margin-bottom: 0;
          }
     }
     &.dashboard-page {
          .govuk-heading-xl {
               position: relative;
               .download, .share {
                    font-size: 16px;
                    padding-left: 1.5em;
                    background: url('../images/download-blue.svg') no-repeat 0% 50%;
                    background-size: contain;
                    float: right;
                    margin-top: 1.5em;
               }
               .share {
                    background: url('../images/share-blue.svg') no-repeat 0% 50%;
                    background-size: contain;
               }
          }
     }
     .dashboard-title {
          margin-top: -0.25em;
          display: flex;
          align-items: center;
          .govuk-heading-xl {
               // margin-bottom: 0.5em;
          }
          .confirmation {

               margin: 1.5em 0;
               background: darken(#f0f3f7,5%);
               padding: 1em;
               border-radius: 8px;
               .govuk-heading-s {
                    margin-bottom: 10px;
               }
               p {
                    margin: 0 0 0.75em 0;
                    font-size: 14px;
                    .icon {
                         margin-left: 0;
                         margin-right: 0.5em;
                         border-radius: 50px;
                         &.tick {
                              background-size: 0.85em;
                         }
                         &.cross {
                              background-size: 0.65em;
                         }
                    }
                    a {
                         float: right;
                    }
               }
          }
          // p {
          //      margin-bottom: 0;
          // }
     }
     details {
          margin-bottom: 0;
          .govuk-details__text {
               padding-bottom: 0;
               // p {
               //      margin-bottom: 5px;
               // }
          }
     }
     .change-employer {
          display: inline-block;
          width: auto;
          float: right;
          border-radius: 8px;
          background: darken(#f0f3f7,5%);
          padding: 1.5em;
          margin: 5em 0 0 0;
          text-align: center;
          .govuk-button {
               margin: 0;
          }
     }
}

#action-title-section {
     padding: 0 0 2em 0;
     .govuk-caption-m {
          margin-top: 0.5em;
     }
     .govuk-heading-xl {
          margin-top: 0;
     }
}

.govuk-caption-m {
     ul.govuk-list {
          margin-top: 1em;
          li {
               color: $govuk-secondary-text-colour;
          }
     }
}


hr {
     margin: 2.5em 0 2em 0;
     &.hr-sep {
          border-top: 5px dashed govuk-colour("light-grey");
          border-bottom: none;
     }
}

.hub-page {
     padding-top: 0;
}

.filter {
     &.search-requested-support {
          display: inline-block;
          width: 100%;
          margin: 0 0 2em 0;
          .govuk-form-group {
               margin: 0;
          }
          .search {
               display: inline-block;
               float: left;
               width: 40%;
               position: relative;
               .govuk-button {
                    right: 2px;
                    // top: 0;
                    bottom: 2px;
                    margin: 0;
                    text-indent: -1000em;
                    position: absolute;
                    width: 2em;
                    height: 1.9em;
                    background: url('../images/search-white.svg') no-repeat 50% 50% $govuk-link-colour;
                    background-size: 1em;
               }
          }
          .dropdowns {
               display: inline-block;
               float: right;
               width: 60%;
               .govuk-form-group {
                    float: right;
                    margin-left: 2em;
               }
          }
     }
}

.add-email {
     padding-left: 2em;
     font-size: 1rem;
     margin: 0 0 0 0;
     // position: relative;
     // top: -1.75em;
     display: inline-block;
     background: url('../images/add.svg') no-repeat 0% 50%;
     background-size: contain;
}

.icon {
     display: inline-block;
     width: 1em;
     height: 1em;
     // float: left;
     margin: 0 0.25em -0.15em 0;
     text-indent: -1000em;
     // &:first-of-type {
     //      margin-left: 0;
     // }
     &.approved {
          background: url('../images/tick-green.svg') no-repeat 50% 50%;
          background-size: contain;
     }
     &.contact {
          background: url('../images/contact-person.svg') no-repeat 50% 50%;
          background-size: contain;
     }
     &.telephone {
          background: url('../images/contact-phone.svg') no-repeat 50% 50%;
          background-size: contain;
     }
     &.email {
          background: url('../images/contact-email.svg') no-repeat 50% 50%;
          background-size: contain;
     }
     &.delete {
          background: url('../images/delete.svg') no-repeat 50% 50%;
          background-size: contain;
     }
     &.date {
          background: url('../images/calendar.svg') no-repeat 50% 50%;
          background-size: contain;
     }
     &.tick {
          width: 1.5em;
          height: 1.5em;
          margin: 0 0.25em -0.35em 1em;
          background: url('../images/tick-white.svg') no-repeat 50% 50%;
          background-size: contain;
          &.green {
               background-color: govuk-colour("green");
          }
     }
     &.cross {
          width: 1.5em;
          height: 1.5em;
          margin: 0 0.25em -0.35em 1em;
          background: url('../images/cross.svg') no-repeat 50% 50% govuk-colour("red");
          background-size: contain;
     }
     &.excel {
          background: url('../images/excel.svg') no-repeat 50% 50%;
          background-size: contain;
     }
     &.pdf-download {
          background: url('../images/pdf-blue.svg') no-repeat 0% 50%;
          background-size: contain;
          &.govuk-heading-m {
               width: 100%;
               height: auto;
               text-indent: inherit;
               margin: 0 0 0.5em 0;
               padding-left: 1.25em;
          }
     }
}

.highlight {
     color: $govuk-link-colour;
}

.password-wrapper {
     position: relative;
}

.hide-show-password, .hide-show-confirm {
     position: absolute;
     display: inline-block;
     width: 3em;
     height: 2.5em;
     bottom: -0.5em;
     left: 24em;
     font-size: 0.875rem;
     line-height: 1;
     margin: 0;

     // background: red;
     // text-indent: -1000em;
     // content: 'SHOW';
     // background: url('../images/make-password-visible.svg') no-repeat 50% 50%;
     // background-size: 1.75em;
     &:hover, &:active, &:focus {
          cursor: pointer;
     }
     &.hide {
          // background: url('../images/make-password-invisible.svg') no-repeat 50% 50%;
          // background-size: 1.75em;
     }
}

#hide-show-password, #hide-show-confirm {
     display: none;
}

table {
     tbody {
          tr {
               &.error-corrected {
                    background: govuk-colour("light-grey");
                    th {
                         border-left: 10px solid $govuk-brand-colour;
                         padding-left: 10px;
                    }
               }
               td {
                    &.right-align {
                         text-align: right;
                    }
               }
          }
     }
     &.data-table {
          tr {
               th {
                    &:first-of-type {
                         width: 35%;
                    }
               }
          }
     }
}

.check-to-confirm, .employer-confirmed, .provider-confirmed, .ready-to-sign, .confirmed-panel {
     border-left: 10px solid $govuk-link-colour;
     background: govuk-colour("light-grey");
     padding: 1em 3.5%;
     margin: 1em 0 1.5em 0;
     display: inline-block;
     width: 92%;
     &.govuk-form-group--error {
          border-left: 10px solid govuk-colour("red");
     }
}

.employer-confirmed, .provider-confirmed, .ready-to-sign, .confirmed-panel {
     border-left: 10px solid govuk-colour("green");
     .govuk-warning-text {
          margin: 0;
          .govuk-confirm__icon {
               display: inline-block;
               width: 35px;
               height: 35px;
               margin-top: -5px;
               float: left;
               background: url('../images/tick-green.svg') no-repeat 50% 50%;
               background-size: contain;
          }
     }
     .govuk-button {
          margin: 0.5em 0 0.25em 0;
     }
}

#cs-signed, #cs-agreed {
     .govuk-form-group {
          margin-top: 0;
     }
}

.confirmed-panel {
     margin-top: 0;
}

.key-policies, .agreements {
     .govuk-checkboxes__item {
          margin-top: 1em;
          padding-bottom: 1em;
          &:first-of-type {
               padding-top: 0;
          }
          border-bottom: 1px solid $govuk-border-colour;
     }
}

.das-cards {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     .das-card {
          width: 42.5%;
          margin: 0 5% 3em 0;
          padding: 2.5%;
          border-bottom: 10px solid $govuk-link-colour;
          background: #f8f8f8;
          &:nth-of-type(2) {
               margin-right: 0;
          }
     }
}

.govuk-panel--confirmation {
     margin-top: 3em;
}

.employer-landing-page {
     margin-top: 3em;
     margin-bottom: 3em;
}
