// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";
@import "patterns/my-account";
@import "patterns/navigation";
@import "patterns/pledges";
@import "patterns/search-pledges";
@import "patterns/transfers";
@import "patterns/email";
@import "patterns/accordion";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
#main-content {
     padding-top: 0;
     &.email-page {
          padding-top: 2em;
          border-top: 10px solid govuk-colour("blue");
          margin-top: -10px;
     }
}

.clear-cookies {
     position: fixed;
     right: 1em;
     bottom: 1em;
}

.hide-content {
     display: none;
}

.post-code-answer {
     text-transform: uppercase;
}

.no-margin-bottom {
     margin-bottom: 0 !important;
}

.no-margin-top {
     margin-top: 0 !important;
}

.no-margin-left {
     margin-left: 0 !important;
}

.small-margin-bottom {
     margin-bottom: 0.5em !important;
}

.covid-banner {
     border: 5px solid #2e358b;
     margin-top: 30px;
     margin-bottom: 30px;
     padding: 20px 15px 15px;
     h2 {
          margin: 0;
     }
}

// .govuk-heading-xl {
//      span.highlight-text {
//           color: govuk-colour("blue");
//      }
// }

hr {
     &.dashboard-heading-separator {
          border: none;
          border-bottom: 5px solid #bfc1c3;
          margin: 10px 0;
     }
     &.separator {
          margin: 30px 0 30px 0;
          &.dotted {
               border-bottom: 5px dashed govuk-colour("light-grey");
          }
     }
     &.dotted {
          border: none;
          margin: 30px 0 30px 0;
          border-bottom: 5px dashed #bfc1c3;
     }
}

a {
     &.govuk-button--secondary {
          margin-left: 1em;
          &.secondary-overwrite {
               margin-left: 0;
          }
     }
     &.govuk-link-secondary {
          margin: 0.65em 0 0 1.25em;
          display: inline-block;
     }
     &.add-location, &.add-emails {
          padding-left: 2em;
          font-size: 1rem;
          margin: 0.5em 0 0 0;
          display: inline-block;
          background: url("../images/add.svg") no-repeat 0% 50%;
          background-size: contain;
     }
     &.share {
          padding-left: 1.75em;
          background: url("../images/share-blue.svg") no-repeat 0% 50%;
          background-size: contain;
     }
     &.copy {
          padding-left: 1.75em;
          background: url("../images/copy-blue.svg") no-repeat 0% 50%;
          background-size: contain;
          position: relative;
     }
     &.edit {
          padding-left: 1.75em;
          background: url("../images/edit-blue.svg") no-repeat 0% 50%;
          background-size: contain;
     }
     &.main-cta-float-right {
          margin: 0;
          float: right;
     }
}

button {
     &.govuk-button {
          &.float-right {
               float: right;
          }
          &.margin-top {
               margin-top: 1em;
          }
     }
     &.govuk-button--secondary {
          margin-left: 1em;
     }
}


@media (max-width: 1024px) {

}

@media (max-width: 768px) {
     a {
          &.govuk-button--secondary, &.govuk-link-secondary {
               margin-left: 0;
          }
     }
}

@media (max-width: 500px) {

}


.tooltiptext {
     display: none;
     width: 150px;
     background-color: rgba(0,0,0,0.9);
     color: #fff;
     text-align: center;
     font-weight: normal;
     font-size: 1rem;
     border-radius: 6px;
     padding: 0.5em;
     position: absolute;
     margin-left: -75px;
     left: 50%;
     bottom: -3.25em;
     z-index: 1;
     &:before {
          content: '';
          width: 0;
          height: 0;
          margin: 0 0 0 -0.5em;
          position: absolute;
          left: 50%;
          top: -0.5em;
          border-style: solid;
          border-width: 0 0.5em 0.5em 0.5em;
          border-color: transparent transparent rgba(0,0,0,0.7) transparent;
     }
}

.small-text {
     // text-decoration: underline;
     &.hover-over {
          // border-bottom: 1px dotted black;
          // padding-right: 1.5em;
          // background: url("../images/help-black.svg") no-repeat 100% 50%;
          // background-size: 1em;
          position: relative;
          .dotted-underline {
               border-bottom: 1px dashed;
          }
          &:hover, &:active, &:focus {
               cursor: pointer;
               .tooltiptext {
                    display: inline-block;
                    text-align: left;
                    // font-size: 1rem;
                    width: 300px;
                    margin-left: -150px;
                    top: 2.25em;
                    bottom: auto;
               }
          }
     }
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
     .tooltiptext {
          margin-left: 0;
          left: 0%;
          &:before {
               left: 1em;
          }
     }
     .small-text {
          &.hover-over {
               &:hover, &:active, &:focus {
                    .tooltiptext {
                         width: 300px;
                         margin-left: 0;
                    }
               }
          }
     }
}

@media (max-width: 500px) {

}


p {
     &.after-details {
          margin-top: -0.75em;
     }
}

.search-container {
     margin-top: 1em;
}

#locations {
     .govuk-form-group {
          margin-bottom: 30px;
          &:last-of-type {
               margin-bottom: 0;
          }
          &.new-location {
               padding: 15px;
               padding-left: 20px;
               border-left: 5px solid $govuk-border-colour;
               margin: 0;
               &:last-of-type {
                    margin-bottom: 1em;
               }
               p {
                    margin: 0;
               }
          }
     }
}

.updates-emails, .updates-locations {
     .govuk-form-group {
          margin-bottom: 30px;
     }
}

.govuk-form-group {
     // margin-bottom: 50px;
     .govuk-checkboxes__item {
          &.select-all {
               border-bottom: 1px solid black;
               padding-bottom: 20px;
               margin-bottom: 20px;
               margin-top: 1em;
          }
     }
}

#transfers-hub {
     .govuk-breadcrumbs {
          margin: 1em 0 3em 0;
     }
     .govuk-back-link {
          margin-bottom: 3em;
     }
}

.govuk-back-link {
     margin-bottom: 3em;
}

.funding-wrapper {
     position: relative;
     width: auto;
     display: inline-block;
     .value {
          font-weight: bold;
          background: govuk-colour("light-grey");
          padding: 0.3em 0.65em;
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          border: 2px solid #0b0c0c;
     }
     input {
          padding-left: 2.25em;
          float: left;
     }
     .running-pledge-total {
          width: 80%;
          display: inline-block;
          float: left;
          clear: both;
          background: govuk-colour("blue");
          padding: 5% 10%;
          margin: 1em 0 0 0;
          p {
               color: white;
               margin: 0;
               font-weight: bold;
               &.number {
                    font-size: 36px;
               }
          }
     }
     .total {
          p {
               font-size: 1rem;
          }
     }
     .running-pledge-total {

     }
}

@media (max-width: 1024px) {
     // .transfer-values {
     //      background: blue;
     // }
}

@media (max-width: 768px) {
     .funding-wrapper {
          input {
              padding-left: 3em;
          }
          .value {
               padding: 0.5em 0.85em;
          }
     }
}

@media (max-width: 500px) {
     // .transfer-values {
     //      background: red;
     // }
}


.total {
     width: auto;
     display: inline-block;
     float: left;
     clear: both;
     background: govuk-colour("blue");
     padding: 1em 1.5em;
     margin: 0 0 2em 0;
     p {
          color: white;
          margin: 0;
          font-weight: bold;
          font-size: 1rem;
          &.number {
               font-size: 36px;
          }
     }
}

#apprenticeship-cost {
     display: none;
     &.error {
          .total {
               background: $govuk-error-colour;
          }
     }
     .total {
          margin-bottom: 0;
     }
}

.wrapper {
     display: inline-block;
     float: left;
     clear: both;
}

.govuk-panel {
     &.full-width {
          width: 100%;
     }
}
.govuk-panel--confirmation {
     // display: none;
     margin-bottom: 2em;
     &.application-complete {
          display: inline-block;
          margin: 2em 0 1em 0;
     }
     &.pledge-rejected {
          background: govuk-colour("blue");
     }
     h1 {
          margin: 0;
     }
     p {
          margin: 0;
          font-size: 24px;
          font-weight: bold;
          color: white;
          a {
               color: white;
          }
     }
}

.button-margin-left {
     margin-left: 0.75em;
}

// .govuk-caption-xl {
//      &.anonymous-yes, &.anonymous-no {
//           font-weight: bold;
//           color: govuk-colour("blue");
//           margin-top: 0.25em;
//      }
// }

.pledge-number, .application-number {
     display: flex;
     align-items: center;
     justify-content: center;
     float: left;
     margin: 0 0.5em 0 0;
     border-radius: 50%;
     background: $govuk-border-colour;
     font-weight: bold;
     color: black;
     text-decoration: none;
     width: 1.5em;
     height: 1.5em;
     &.active {
          background: govuk-colour("blue");
          color: white;
     }
}

.icon {
     display: inline-block;
     background: red;
     margin: 0 0.5em -0.2em 0;
     width: 1em;
     height: 1em;
     &.email {
          background: url("../images/email-blue.svg") no-repeat 0% 50%;
          background-size: contain;
     }
     &.contact {
          background: url("../images/contact-blue.svg") no-repeat 0% 50%;
          background-size: contain;
     }
     &.phone {
          background: url("../images/phone-blue.svg") no-repeat 0% 50%;
          background-size: contain;
     }
     &.cross, &.rejected {
          background: url('../images/cross-red.svg') no-repeat 0% 50%;
          background-size: contain;
     }
     &.cancelled {
          background: url('../images/cancel-red.svg') no-repeat 0% 50%;
          background-size: contain;
     }
     &.tick, &.approved {
          background: url('../images/tick-single-green.svg') no-repeat 0% 50%;
          background-size: contain;
     }
     &.sort {
          background: url('../images/sort-blue.svg') no-repeat 0% 50%;
          background-size: contain;
     }
     &.website {
          background: url('../images/website-blue.svg') no-repeat 0% 50%;
          background-size: contain;
     }
     &.delete {
          background: url('../images/delete.svg') no-repeat 0% 50%;
          background-size: contain;
          margin-right: 0.25em;
     }
     &.add {
          &.black {
               background: url('../images/add-black.svg') no-repeat 0% 50%;
               background-size: contain;
          }
          &.white {
               background: url('../images/add-white.svg') no-repeat 0% 50%;
               background-size: contain;
          }
     }
     &.help {
          background: url("../images/help-black.svg") no-repeat 100% 50%;
          background-size: contain;
          margin-left: 0.25em;
          &.white {
               background: url("../images/help-white.svg") no-repeat 100% 50%;
               background-size: contain;
          }
          &.blue {
               background: url("../images/help-blue.svg") no-repeat 100% 50%;
               background-size: contain;
          }

     }
     // &.approved {
     //      background: url("../images/tick-green.svg") no-repeat 0% 50%;
     //      background-size: contain;
     // }
     // &.rejected {
     //      background: url('../images/cross-red.svg') no-repeat 0% 50%;
     //      background-size: contain;
     // }
}

.finance-values {
     div {
          width: 47.5%;
          float: left;
          margin: 0 5% 2em 0;
          &:nth-of-type(even) {
               margin-right: 0;
          }
          p {
               &.govuk-heading-s {
                    margin-bottom: 0.25em;
               }
               &.value {
                    font-size: 24px;
                    padding: 10px 10px 10px 15px;
                    border: 1px solid $govuk-border-colour;
                    border-left: 10px solid black;
               }
          }
          .govuk-caption-m {
               font-size: 1rem;
          }
     }
}

.bottom-ctas {
     hr.separator {
          margin: 20px 0 60px 0;
     }
     p.govuk-body-l {
          margin-bottom: 1em;
     }
}

.approved-panel, .rejected-panel, .deleted-panel, .cancelled-panel {
     border-left: 10px solid govuk-colour("green");
     background: govuk-colour("light-grey");
     padding: 1em 3.5%;
     margin: 0 0 1.5em 0;
     display: none;
     width: 92%;
     .govuk-warning-text {
          margin: 0;
          .govuk-confirm__icon, .govuk-info__icon {
               display: inline-block;
               width: 35px;
               height: 35px;
               margin-top: -5px;
               float: left;
               background: url('../images/tick-green.svg') no-repeat 50% 50%;
               background-size: contain;
          }
     }
     .govuk-button {
          margin: 0.5em 0 0.25em 0;
     }
}

.rejected-panel, .cancelled-panel {
     border-left: none;
     background: none;
     padding: 0;
     width: 100%;
     .govuk-warning-text {
          .govuk-info__icon {
               background: url('../images/info-black.svg') no-repeat 50% 50%;
               background-size: contain;
          }
     }
}


.autocomplete-suggestions {
     background: white;
     border: 2px solid black;
     overflow-y: scroll;
     max-width: 53.65ex ​!important;
     .autocomplete-suggestion {
          padding: 0.35em;
          border-bottom: 2px dashed govuk-colour("light-grey");
          @include govuk-font($size:19, $weight: normal);
          &:hover, &:active, &:focus {
               background: govuk-colour("light-grey");
               cursor: pointer;
          }
          strong {
               color: govuk-colour("blue");
          }
     }
}

// .govuk-hint {
//      ul.govuk-list {
//           li {
//                color: $govuk-secondary-text-colour;
//           }
//      }
// }

#no-more-funds {
     margin: 1em 0 0 0;
}

#cancelled-banner {
     margin: 0.5em 0 1em 0;
}

.govuk-inset-text {
     &.full-wrap {
          background: govuk-colour("light-grey");
          border-left: none;
     }
     &.grey-background {
          background: govuk-colour("light-grey");
     }
}

.govuk-related-items {
     padding-top: 1.5em;
     border-top: 10px solid $govuk-link-colour;
}

.govuk-details {
     .employer-contact-details {
          &:last-of-type {
               margin-bottom: none;
          }
     }
}

.sidescrolling-table {
     overflow-x: auto;
}


.govuk-checkboxes__divider {
     font-family: "GDS Transport",arial,sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     font-weight: 400;
     font-size: 1.1875rem;
     line-height: 1.31579;
     color: #0b0c0c;
     width: 25px;
     margin-bottom: 8px;
     text-align: center;
}

.download-csv {
     background: #f1f7f9;
     display: flex;
     float: left;
     padding: 1.25em;
     font-size: 1.2rem;
     // width: 45%;
     margin: 0 5% 0 0;
     font-weight: normal;
     &:hover, &:active, &:focus {
          background: darken(#f1f7f9, 5%);
          // svg {
          //      background: darken(#1d70b8, 10%);
          // }
     }
     &.black-version {
          padding: 0.5em 0em 0.5em 2.5em;
          background: url('../images/download-black.svg') no-repeat 0% 100%;
          background-size: contain;
          div {
               // font-weight: bold;
               width: 100%;
          }
          &.full-width {
               width: auto;
               // margin-top: 0;
               padding: 0 0em 0 1.75em;
               // padding: 0.5em 0em 0.5em 2.75em;
               display: inline-block;
               background: url('../images/finances-black.svg') no-repeat 0% 100%;
               background-size: contain;
               div {
                    width: 100%;
               }
          }
     }
     &.full-width {
          width: auto;
          margin: 0.25em 0 1em 0;
          padding: 0.75em;
          font-size: 1.1875rem;
          float: left;
          div {
               width: 85%;
          }
          svg {
               width: 1.5em;
               height: 2em;
          }
     }
     div {
          width: 85%;
     }
     svg {
          float: right;
          width: 2.5em;
          height: 3em;
     }
}

.sub-footer {
     margin-bottom: -3em;
     // background: lighten(govuk-colour("blue"), 56.5%);
     padding-top: 1em;
     .footer-wrapper {
          margin-right: auto;
          margin-left: auto;
          max-width: 960px;
          .downloads {
               float: left;
               display: block;
               width: 100%;
               clear: both;
               margin: 2em 0 5em 0;
          }
     }
}

.govuk-notification-banner {
     &.margin-bottom-overwrite {
          margin-bottom: 30px;
     }
}

.side-panel-finance {
     border-left: 10px solid $govuk-brand-colour;
     padding: 1em 0 1em 1em;
     margin-top: 3em;
     .downloads {
          display: inline-block;
          .download-csv.black-version {
               font-size: 1.1875rem;
               margin: 0;
               padding: 0 0 0 2.5em;
          }
     }
}

.das-float-right {
     float: right;
}
