{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container" id="transfers-hub">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="2-my-account">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-transfers">Transfers</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">My applications</a></li>
          </ol>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <h1 class="govuk-heading-xl">My applications</h1>
          </div>
     </div>

     <div class="govuk-grid-row">

          <div class="govuk-grid-column-full">

               <p>You have <strong class="number-of-applications">3</strong> transfer applications.</p>

               <div class="accepted-text-hide">
                    <details class="govuk-details" data-module="govuk-details">
                         <summary class="govuk-details__summary">
                         <span class="govuk-details__summary-text">
                              More details about the status
                         </span>
                         </summary>
                         <div class="govuk-details__text">

                              <section>

                                   <p>The approval status shows the status of each application.</p>

                                   <p>It could be:</p>
                                   <ul class="govuk-list govuk-list--bullet">
                                        <li>awaiting approval </li>
                                        <li>approved, awaiting your acceptance </li>
                                        <li>unsuccessful </li>
                                        <li>funds available to use </li>
                                        <li>withdrawn </li>
                                   </ul>

                                   <p>If your application has been approved, you'll need to accept the funding offer by selecting the opportunity.</p>

                                   <p>Funds will show as available to use if your application has been approved and you have acccepted the offer. You'll then need to add your apprentices and their training provider to your account.</p>

                                   <p>The status shows as withdrawn if you have cancelled your application or decided to decline an offer of funding.</p>

                              </section>

                         </div>
                    </details>
               </div>

               <table class="govuk-table">
                    <thead class="govuk-table__head">
                         <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Opportunity</th>
                              <th scope="col" class="govuk-table__header">Estimated total cost</th>
                              <th scope="col" class="govuk-table__header" width="200px;"> Approval status</th>
                         </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                         <tr class="govuk-table__row">
                              <td class="govuk-table__cell">
                                   {% if data['pledge-application-standard'] %}
                                        <strong>
                                             <a href="5B-application-details" class="pledge-name-answer govuk-link--no-visited-state">####</a>
                                        </strong>
                                   {% else %}
                                        <strong>
                                             <a href="5B-application-details" class="pledge-name-answer govuk-link--no-visited-state">BARRY & BARRY Ltd (910106)</a>
                                        </strong>
                                   {% endif %}
                                   <p class="govuk-caption-m">Date: <span id="date-stamp">####</span></p>
                              </td>
                              {% if data['pledge-application-standard'] %}
                                   <td class="govuk-table__cell">£<span class="total-cost-multiplied value-format">####</span></td>
                              {% else %}
                                   <td class="govuk-table__cell">£18,000</td>
                              {% endif %}
                              <td class="govuk-table__cell" width="200px;" style="text-align: left">
                                   <span class="govuk-tag">FUNDS AVAILABLE</span>
                              </td>
                         </tr>

                         <tr class="govuk-table__row">
                              <td class="govuk-table__cell">
                                   <strong>
                                        <a href="5C-application-details" class="govuk-link--no-visited-state">Finders Keepers Ltd (684509)</a>
                                   </strong>
                                   <span class="govuk-caption-m">Date: 06/27/2021 09:45pm</span>
                              </td>
                              <td class="govuk-table__cell">£25,000</td>
                              <td class="govuk-table__cell" style="text-align: left">
                                   <span class="govuk-tag">FUNDS AVAILABLE</span>
                              </td>
                         </tr>

                         <tr class="govuk-table__row">
                              <td class="govuk-table__cell">
                                   <strong>
                                        <a href="5D-application-details" class="govuk-link--no-visited-state">Opportunity (123465)</a>
                                   </strong>
                                   <span class="govuk-caption-m">Date: 05/27/2021 17:58pm</span>
                              </td>
                              <td class="govuk-table__cell">£15,000</td>
                              <td class="govuk-table__cell" style="text-align: left">
                                   <span class="govuk-tag govuk-tag--pink">FUNDS USED</span>
                              </td>
                         </tr>

                    </tbody>
               </table>

               <br>

               <a href="3-transfers" class="govuk-back-link">Back to transfers</a>

          </div>

     </div>

</div>

{% endblock %}
