{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="2-my-account">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-finance">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3A-transfers">Transfers</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="4-my-pledges">My transfer pledges</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Transfer pledge 910106</a></li>
          </ol>
     </div>

     {% if data['accept_application'] == 'Reject' %}
          <p><br></p>
          <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
               <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
               </div>
               <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">Application rejected</h3>
                    <p class="govuk-body">You rejected the Belhavel Construction Ltd application.</p>
               </div>
          </div>
     {% else %}

     {% endif %}


     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               {% if data['accept_application'] == 'Reject' %}

               {% else %}
                    <p><br></p>
               {% endif %}
               <h1 class="govuk-heading-xl no-margin-bottom">
                    Transfer pledge 910106
                    <!-- {% if data['accept_application'] == 'Reject' %}
                         <span class="govuk-caption-m">Applications for your transfer pledge: <strong>2</strong></span>
                    {% else %}
                         <span class="govuk-caption-m">Applications for your transfer pledge: <strong>3</strong></span>
                    {% endif %} -->
                    <a href="#" class="download-csv black-version float-right">
                         <span class="black-download"></span>
                         <div>Download applications - excel</div>
                    </a>
               </h1>

               <details class="govuk-details">
                    <summary class="govuk-details__summary">
                         <span class="govuk-details__summary-text">Information about the applications</span>
                    </summary>
                    <div class="govuk-details__text">
                         <p><span class="govuk-body govuk-!-font-weight-bold">Estimated cost in this financial year </span> <br>
                              This is an estimate of the cost of training for each application in this financial year. It is based on the funding band maximum and the planned start date of training.
                         </p>
                    </div>
               </details>

          </div>

     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
               <div class="pledge-values top-version">
                    <h3 class="govuk-heading-l">
                         <strong>£<span class="value-format">65000</span></strong>
                         <div class="sub-text">Pledge funds for 2021/22</div>
                    </h3>
                    <h3 class="govuk-heading-l">
                         <strong>£<span class="value-format">29000</span></strong>
                         <div class="sub-text">Remaining pledge funds for 2021/22</div>
                    </h3>
               </div>
          </div>

          <div class="govuk-grid-column-one-half">

               <div class="dropdowns top-version">
                    <div class="govuk-form-group">
                         <!-- <label class="govuk-label" for="type-of-applications">Filter applications</label> -->
                         <select class="govuk-select" id="type-of-criteria" name="type-of-criteria">
                              <option value="All criteria" selected="true" disabled="disabled">-- Filter criteria --</option>
                              <option disabled="disabled">-----------------------</option>
                              <option value="all">All criteria</option>
                              <option value="100">100% match - (2)</option>
                              <option value="75">75% match - (2)</option>
                              <option value="50">50% match - (2)</option>
                              <option value="25">25% match - (0)</option>
                              <option value="0">0% match - (4)</option>
                         </select>
                    </div>
                    <div class="govuk-form-group">
                         <!-- <label class="govuk-label" for="type-of-applications">Filter applications</label> -->
                         <select class="govuk-select" id="type-of-applications" name="type-of-applications">
                              <option value="All statuses" selected="true" disabled="disabled">-- Filter statuses --</option>
                              <option disabled="disabled">-----------------------</option>
                              <option value="all">All statuses</option>
                              <option value="1">Awaiting approval - (1)</option>
                              <option value="2">Awaiting acceptance - (4)</option>
                              <option value="3">Withdrawn - (3)</option>
                              <option value="4">Rejected - (2)</option>
                         </select>
                    </div>
               </div>

          </div>

     </div>


     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <table class="govuk-table applications-table in-tab" id="new-applications-table" data-page-length='50'>
                    <thead class="govuk-table__head">
                         <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header sort-section" width="20%" onclick="sortTable(1)">Applicant</th>
                              <th scope="col" class="govuk-table__header sort-section" width="17.5%" onclick="sortTable(2)">Estimated cost 2021/22</th>
                              <th scope="col" class="govuk-table__header sort-section" width="17.5%" onclick="sortTable(3)">Typical duration</th>
                              <th scope="col" class="govuk-table__header sort-section" width="12.5%" onclick="sortTable(4)">Criteria</th>
                              <th scope="col" class="govuk-table__header sort-section" width="15%" onclick="sortTable(5)">Date applied</th>
                              <th scope="col" class="govuk-table__header sort-section" width="15%" onclick="sortTable(6)">Status</th>
                         </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                         <!-- ///////////////////////////// BLOCK 1 - 5 START ///////////////////////////// -->
                         <tr class="govuk-table__row" data-status="1" data-criteria="100">
                              <td class="govuk-table__cell">
                                   <a href="6A-application-details">Belhavel Construction Ltd</a>
                              </td>
                              <td class="govuk-table__cell">£2,900</td>
                              <td class="govuk-table__cell">30 months</td>
                              <td class="govuk-table__cell">
                                   100% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Sector <br>
                                        &#8226; Type of job role <br>
                                        &#8226; Level
                                   </p>
                              </td>
                              <td class="govuk-table__cell">Today</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Awaiting approval</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="2" data-criteria="75">
                              <td class="govuk-table__cell">
                                   <a href="#">CBJ Engineering</a>
                              </td>
                              <td class="govuk-table__cell">£36,000</td>
                              <td class="govuk-table__cell">24 months</td>
                              <td class="govuk-table__cell">
                                   75% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Sector <br>
                                        &#8226; Type of job role
                                   </p>
                              </td>
                              <td class="govuk-table__cell">15/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Awaiting acceptance by applicant</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="4" data-criteria="50">
                              <td class="govuk-table__cell">
                                   <a href="#">Johnson and Johnson Building Co</a>
                              </td>
                              <td class="govuk-table__cell">£7,500 </td>
                              <td class="govuk-table__cell">24 months </td>
                              <td class="govuk-table__cell">
                                   50% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Sector <br>
                                        &#8226; Type of job role
                                   </p>
                              </td>
                              <td class="govuk-table__cell">15/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Rejected</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="3" data-criteria="0">
                              <td class="govuk-table__cell">
                                   <a href="#">123 Windows Co</a>
                              </td>
                              <td class="govuk-table__cell">£1,000 </td>
                              <td class="govuk-table__cell">18 months</td>
                              <td class="govuk-table__cell">
                                   0% match
                              </td>
                              <td class="govuk-table__cell">15/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Withdrawn by applicant</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="3" data-criteria="0">
                              <td class="govuk-table__cell">
                                   <a href="#">Ferlot & Co</a>
                              </td>
                              <td class="govuk-table__cell">£1,200</td>
                              <td class="govuk-table__cell">12 months</td>
                              <td class="govuk-table__cell">
                                   0% match
                              </td>
                              <td class="govuk-table__cell">15/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Withdrawn by applicant</strong></td>
                         </tr>
                         <!-- ///////////////////////////// BLOCK 1 - 5 END ///////////////////////////// -->

                         <!-- ///////////////////////////// BLOCK 6 - 10 START ///////////////////////////// -->
                         <tr class="govuk-table__row" data-status="2" data-criteria="100">
                              <td class="govuk-table__cell">
                                   <a href="6A-application-details">ActiveCub Ltd</a>
                              </td>
                              <td class="govuk-table__cell">£2,900</td>
                              <td class="govuk-table__cell">30 months</td>
                              <td class="govuk-table__cell">
                                   100% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Sector <br>
                                        &#8226; Type of job role<br>
                                        &#8226; Level
                                   </p>
                              </td>
                              <td class="govuk-table__cell">14/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Awaiting acceptance by applicant</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="2" data-criteria="75">
                              <td class="govuk-table__cell">
                                   <a href="#">Solidaric</a>
                              </td>
                              <td class="govuk-table__cell">£36,000</td>
                              <td class="govuk-table__cell">24 months</td>
                              <td class="govuk-table__cell">
                                   75% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Sector <br>
                                        &#8226; Type of job role
                                   </p>
                              </td>
                              <td class="govuk-table__cell">13/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Awaiting acceptance by applicant</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="4" data-criteria="50">
                              <td class="govuk-table__cell">
                                   <a href="#">Nupositive</a>
                              </td>
                              <td class="govuk-table__cell">£7,500 </td>
                              <td class="govuk-table__cell">24 months</td>
                              <td class="govuk-table__cell">
                                   50% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Type of job role
                                   </p>
                              </td>
                              <td class="govuk-table__cell">13/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Rejected</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="2" data-criteria="0">
                              <td class="govuk-table__cell">
                                   <a href="#">Zurova</a>
                              </td>
                              <td class="govuk-table__cell">£1,250 </td>
                              <td class="govuk-table__cell">18 months</td>
                              <td class="govuk-table__cell">
                                   0% match
                              </td>
                              <td class="govuk-table__cell">21/03/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Awaiting acceptance by applicant</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="3" data-criteria="0">
                              <td class="govuk-table__cell">
                                   <a href="#">Radicalsy Limited</a>
                              </td>
                              <td class="govuk-table__cell">£1,000</td>
                              <td class="govuk-table__cell">18 months</td>
                              <td class="govuk-table__cell">
                                   0% match
                              </td>
                              <td class="govuk-table__cell">12/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Withdrawn by applicant</strong></td>
                         </tr>
                         <!-- ///////////////////////////// BLOCK 6 - 10 END ///////////////////////////// -->

                         <!-- ///////////////////////////// BLOCK 11 - 15 START ///////////////////////////// -->
                         <tr class="govuk-table__row" data-status="1" data-criteria="100">
                              <td class="govuk-table__cell">
                                   <a href="6A-application-details">Steepway Limited</a>
                              </td>
                              <td class="govuk-table__cell">£2,900</td>
                              <td class="govuk-table__cell">30 months</td>
                              <td class="govuk-table__cell">
                                   100% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Sector <br>
                                        &#8226; Type of job role <br>
                                        &#8226; Level
                                   </p>
                              </td>
                              <td class="govuk-table__cell">12/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Awaiting approval</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="4" data-criteria="75">
                              <td class="govuk-table__cell">
                                   <a href="#">Confidentify PLC</a>
                              </td>
                              <td class="govuk-table__cell">£36,000</td>
                              <td class="govuk-table__cell">36 months</td>
                              <td class="govuk-table__cell">
                                   75% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Sector <br>
                                        &#8226; Type of job role
                                   </p>
                              </td>
                              <td class="govuk-table__cell">12/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Rejected</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="4" data-criteria="50">
                              <td class="govuk-table__cell">
                                   <a href="#">Steepby & Co</a>
                              </td>
                              <td class="govuk-table__cell">£7,500</td>
                              <td class="govuk-table__cell">24 months</td>
                              <td class="govuk-table__cell">
                                   50% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Sector <br>
                                        &#8226; Type of job role
                                   </p>
                              </td>
                              <td class="govuk-table__cell">12/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Rejected</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="3" data-criteria="100">
                              <td class="govuk-table__cell">
                                   <a href="#">Onradical</a>
                              </td>
                              <td class="govuk-table__cell">£1,000</td>
                              <td class="govuk-table__cell">18 months</td>
                              <td class="govuk-table__cell">
                                   0% match
                              </td>
                              <td class="govuk-table__cell">12/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Withdrawn by applicant</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="1" data-criteria="100">
                              <td class="govuk-table__cell">
                                   <a href="#">Heroicology PLC</a>
                              </td>
                              <td class="govuk-table__cell">£10,000</td>
                              <td class="govuk-table__cell">12 months</td>
                              <td class="govuk-table__cell">
                                   100% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Sector <br>
                                        &#8226; Type of job role <br>
                                        &#8226; Level
                                   </p>
                              </td>
                              <td class="govuk-table__cell">10/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Awaiting approval</strong></td>
                         </tr>
                         <!-- ///////////////////////////// BLOCK 11 - 15 END ///////////////////////////// -->

                         <!-- ///////////////////////////// BLOCK 16 - 20 START ///////////////////////////// -->
                         <tr class="govuk-table__row" data-status="1" data-criteria="100">
                              <td class="govuk-table__cell">
                                   <a href="6A-application-details">Fearlessia Limited</a>
                              </td>
                              <td class="govuk-table__cell">£5,000</td>
                              <td class="govuk-table__cell">30 months</td>
                              <td class="govuk-table__cell">
                                   100% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Sector <br>
                                        &#8226; Type of job role <br>
                                        &#8226; Level
                                   </p>
                              </td>
                              <td class="govuk-table__cell">10/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Awaiting approval</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="1" data-criteria="75">
                              <td class="govuk-table__cell">
                                   <a href="#">Steepist PLC</a>
                              </td>
                              <td class="govuk-table__cell">£36,000</td>
                              <td class="govuk-table__cell">36 months</td>
                              <td class="govuk-table__cell">
                                   75% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Sector <br>
                                        &#8226; Type of job role
                                   </p>
                              </td>
                              <td class="govuk-table__cell">12/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Awaiting approval</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="1" data-criteria="50">
                              <td class="govuk-table__cell">
                                   <a href="#">Steepline</a>
                              </td>
                              <td class="govuk-table__cell">£7,500</td>
                              <td class="govuk-table__cell">24 months</td>
                              <td class="govuk-table__cell">
                                   50% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Sector <br>
                                        &#8226; Type of job role
                                   </p>
                              </td>
                              <td class="govuk-table__cell">07/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Awaiting approval</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="3" data-criteria="0">
                              <td class="govuk-table__cell">
                                   <a href="#">Modby</a>
                              </td>
                              <td class="govuk-table__cell">£1,000</td>
                              <td class="govuk-table__cell">18 months</td>
                              <td class="govuk-table__cell">
                                   0% match
                              </td>
                              <td class="govuk-table__cell">07/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Withdrawn by applicant</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="1" data-criteria="0">
                              <td class="govuk-table__cell">
                                   <a href="#">Heroicon Ltd</a>
                              </td>
                              <td class="govuk-table__cell">£10,000</td>
                              <td class="govuk-table__cell">12 months</td>
                              <td class="govuk-table__cell">
                                   0% match
                              </td>
                              <td class="govuk-table__cell">07/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Awaiting approval</strong></td>
                         </tr>
                         <!-- ///////////////////////////// BLOCK 16 - 20 END ///////////////////////////// -->

                         <!-- ///////////////////////////// BLOCK 21 - 25 START ///////////////////////////// -->
                         <tr class="govuk-table__row" data-status="1" data-criteria="100">
                              <td class="govuk-table__cell">
                                   <a href="6A-application-details">Positivela</a>
                              </td>
                              <td class="govuk-table__cell">£7,500</td>
                              <td class="govuk-table__cell">12 months</td>
                              <td class="govuk-table__cell">
                                   100% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Sector <br>
                                        &#8226; Type of job role <br>
                                        &#8226; Level
                                   </p>
                              </td>
                              <td class="govuk-table__cell">01/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Awaiting approval</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="1" data-criteria="75">
                              <td class="govuk-table__cell">
                                   <a href="#">Heroicbar Ltd</a>
                              </td>
                              <td class="govuk-table__cell">£16,000</td>
                              <td class="govuk-table__cell">12 months</td>
                              <td class="govuk-table__cell">
                                   75% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Sector <br>
                                        &#8226; Type of job role
                                   </p>
                              </td>
                              <td class="govuk-table__cell">01/11/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Awaiting approval</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="1" data-criteria="50">
                              <td class="govuk-table__cell">
                                   <a href="#">Obviousmax Partners & Son</a>
                              </td>
                              <td class="govuk-table__cell">£9,500</td>
                              <td class="govuk-table__cell">12 months</td>
                              <td class="govuk-table__cell">
                                   50% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Sector <br>
                                        &#8226; Type of job role
                                   </p>
                              </td>
                              <td class="govuk-table__cell">28/10/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Awaiting approval</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="1" data-criteria="0">
                              <td class="govuk-table__cell">
                                   <a href="#">Nubold Ltd</a>
                              </td>
                              <td class="govuk-table__cell">£10,000</td>
                              <td class="govuk-table__cell">18 months</td>
                              <td class="govuk-table__cell">
                                   0% match
                              </td>
                              <td class="govuk-table__cell">28/10/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Awaiting approval</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-status="1" data-criteria="0">
                              <td class="govuk-table__cell">
                                   <a href="#">Edbold</a>
                              </td>
                              <td class="govuk-table__cell">£3,000</td>
                              <td class="govuk-table__cell">12 months</td>
                              <td class="govuk-table__cell">
                                   0% match
                              </td>
                              <td class="govuk-table__cell">26/10/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Awaiting approval</strong></td>
                         </tr>
                         <!-- ///////////////////////////// BLOCK 21 - 25 END ///////////////////////////// -->

                         <!-- ///////////////////////////// BLOCK 26 - 30 START ///////////////////////////// -->

                         <!-- ///////////////////////////// BLOCK 26 - 30 END ///////////////////////////// -->

                         <!-- ///////////////////////////// BLOCK 31 - 35 START ///////////////////////////// -->

                         <!-- ///////////////////////////// BLOCK 31 - 35 END ///////////////////////////// -->

                         <!-- ///////////////////////////// BLOCK 36 - 40 START ///////////////////////////// -->

                         <!-- ///////////////////////////// BLOCK 36 - 40 END ///////////////////////////// -->

                         <!-- ///////////////////////////// BLOCK 41 - 45 START ///////////////////////////// -->

                         <!-- ///////////////////////////// BLOCK 41 - 45 END ///////////////////////////// -->

                         <!-- ///////////////////////////// BLOCK 46 - 50 START ///////////////////////////// -->

                         <!-- ///////////////////////////// BLOCK 46 - 50 END ///////////////////////////// -->

                    </tbody>
               </table>

               <a href="#" class="govuk-button">Create a new transfer pledge</a>

               <a href="13-delete-pledge" class="govuk-button govuk-link-secondary govuk-button--warning accepted-journey-cancel-button no-margin-top">Close pledge</a>

               <br>

               <a href="4-my-pledges" class="govuk-back-link">Back to my transfer pledges</a>

          </div>

     </div>

</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
{% endblock %}
