<h2 class="govuk-heading-l" id="sprint-12">
     Sprint 12
     <span class="govuk-caption-l">
          7th July - 17th August 2021
     </span>
</h2>

<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
          <ul class="govuk-list govuk-list--bullet">
               <li><strong>STEP 1:</strong> &nbsp;
                    <a class="govuk-link govuk-link--no-visited-state" href="/sprint-12/MVS/sender/signin-1.html">Sender creates a transfer pledge</a>
               </li>
               <li><strong>STEP 2:</strong> &nbsp;
                    <a class="govuk-link govuk-link--no-visited-state" href="/sprint-12/MVS/receiver/signin-2.html">Receiver applies to the transfer pledge</a>
               </li>
               <li><strong>STEP 3:</strong> &nbsp;
                    <a class="govuk-link govuk-link--no-visited-state" href="/sprint-12/MVS/sender/signin-3.html">Sender approves the transfer pledge application</a>
               </li>
               <li><strong>STEP 4:</strong> &nbsp;
                    <a class="govuk-link govuk-link--no-visited-state" href="/sprint-12/MVS/receiver/signin-4.html">Receiver accept the approved transfer pledge application</a>
               </li>
               <li><strong>STEP 5:</strong> &nbsp;
                    <a class="govuk-link govuk-link--no-visited-state" href="https://das-standards-versioning-proto.herokuapp.com/sprint-4-beta/add-version-employer/2a-add-traing-provider" target="_blank">Receiver add apprentices using the transfer pledge funds</a>
               </li>
               <li><strong>STEP 6:</strong> &nbsp;
                    <a class="govuk-link govuk-link--no-visited-state" href="/sprint-12/MVS/receiver/signin-6.html">Receiver view used transfer pledge funds</a>
               </li>
          </ul>
     </div>
</div>
