<div class="tabs application-tabs">
     <div class="govuk-width-container">
          <ul class="govuk-list">
               <li><button class="govuk-link application-all selected" onclick="openTab('application-content-1')"><span class="number">100</span> - All applications</button></li>
               <li><button class="govuk-link application-approval" onclick="openTab('application-content-2')"><span class="number">3</span> - Awaiting approval</button></li>
               <li><button class="govuk-link application-acceptance" onclick="openTab('application-content-3')"><span class="number">82</span> - Awaiting acceptance</button></li>
               <li><button class="govuk-link application-withdrawn" onclick="openTab('application-content-4')"><span class="number">5</span> - Withdrawn</button></li>
               <li><button class="govuk-link application-rejected" onclick="openTab('application-content-5')"><span class="number">10</span> - Rejected</button></li>
          </ul>
     </div>
</div>
