{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <a href="javascript:history.back()" class="govuk-back-link">Back</a>
          </div>
     </div>

     <div class="govuk-grid-row title-options">
          <div class="govuk-grid-column-two-thirds">

               <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" id="accept_application_error_summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                         <ul class="govuk-list govuk-error-summary__list">
                              <li>
                                   <a href="#accept_application">You must choose to either approve or reject this application</a>
                              </li>
                         </ul>
                    </div>
               </div>

          </div>
     </div>

     <div class="govuk-grid-row title-options">
          <div class="govuk-grid-column-full">

               <h1 class="govuk-heading-xl">Belhavel Construction Ltd</h1>

               <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                         You will be able to use the funds pledged from the 27th October.
                    </strong>
               </div>

               <p><br></p>

          </div>
     </div>

     <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

               <section class="employer-details">
                    <h2 class="govuk-heading-m">Details about the application</h2>
                    <strong class="govuk-tag govuk-tag--green">100% Match</strong>
                    <!-- <strong class="govuk-tag govuk-tag--turquoise">75% Match</strong> -->
                    <p>
                         <span class="icon tick"></span>Location: <strong>Manchester</strong><br>
                         <span class="icon tick"></span>Sector: <strong>Construction</strong><br>
                         <span class="icon tick"></span>Type of job role: <strong>Bricklayer</strong><br>
                         <span class="icon tick"></span>Level: <strong>2</strong>
                    </p>
                    <p>
                         Apprentices: <strong>2</strong><br>
                         Estimated duration: <strong>30 months</strong><br>
                         Start by: <strong>October 2021</strong><br>
                         Do they have a training provider? <strong>No</strong><br>
                    </p>
               </section>

               <section class="employer-contact-details">
                    <h2 class="govuk-heading-m">About their apprenticeship opportunity</h2>
                    <p>
                         We are a small family business established 5 years ago in Manchester. We would like to expand by taking on an apprentice bricklayer. This would be our first apprentice. We would be very grateful for this opportunity, please do not hesitate to contact us if you have any questions.
                    </p>
               </section>

               <section class="employer-details">
                    <h2 class="govuk-heading-m">Can I afford to fund this training?</h2>
                    <p style="margin-bottom: 10px;">

                         Estimated cost over 30 months: <strong>£18,000</strong>

                         <br><br>

                         <strong>For 2021/22: </strong>
                         <br>
                         Pledge funds remaining this year: <strong>&nbsp;&nbsp;&nbsp; £29,000</strong>
                         <br>
                         Estimated costs this year:<strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; £2,900</strong>
                         </p>
                         <p>
                         <strong>Pledge funds remaining if application is approved:</strong> <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; £26,100</strong>
                         <br>
                    </p>

                    <details class="govuk-details" data-module="govuk-details">
                         <summary class="govuk-details__summary">
                              <span class="govuk-details__summary-text">What is estimated cost?</span>
                         </summary>
                         <div class="govuk-details__text">
                              <p>The estimated total cost of training is based on the funding band maximum.</p>
                              <p>The estimated cost of training for this financial year is based on the funding band maximum, the planned start date of training and the 20% completion payment.</p>
                         </div>
                    </details>

                    <a href="8-forecast" class="govuk-button govuk-button">See forecast</a>

               </section>

               <section class="employer-contact-details">
                    <h2 class="govuk-heading-m">Contact details</h2>
                    <p>You can contact Belhavel Construction Ltd if you would like to ask them for more information.</p>
                    <p>
                         <span class="icon contact"></span><strong>John Doe </strong><br>
                         <span class="icon email"></span><a href="mailto:joe.bloggs@belhavel.com">john.doe@belhavel.com</a><br>
                         <span class="icon email"></span><a href="mailto:joe.bloggs@belhavel.com">john.doe2@belhavel.com</a><br>
                         <span class="icon phone"></span><a href="tel:0123456789">0123 456 7890</a>
                    </p>
                    <p><span class="icon website"></span><a href="#">www.belhavel.com</a></p>
               </section>


               <form method="post" action="accept_application" id="accept_application">

                    <div class="govuk-form-group">
                         <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                   <h2 class="govuk-heading-m no-margin-bottom">What would you like to do with this application?</h2>
                              </legend>
                              <span id="accept_application_error_text" class="govuk-error-message">
                                   <span class="govuk-visually-hidden">Error:</span> You must choose to either approve or reject this application
                              </span>
                              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="accept_application_accept" name="accept_application" type="radio" value="Accept" data-aria-controls="conditional-accept_application">
                                        <label class="govuk-label govuk-radios__label" for="accept_application_accept">Approve the application</label>
                                   </div>
                                   <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-accept_application">
                                        <div class="govuk-form-group">
                                             <p>By approving this application I:</p>
                                             <ul class="govuk-list govuk-list--bullet">
                                                  <li>agree to pay the full cost of the apprenticeship training until completion which could be over multiple financial years</li>
                                                  <li>accept that the transfer will take priority over funds for my own apprentices and will leave my levy account first</li>
                                                  <li>accept the funds will leave my account on a monthly basis following the existing payment process</li>
                                                  <li>accept this action cannot be undone through the service unless agreed offline with the receiver</li>
                                                  <li>accept I am not responsible for any of the training or assessments relating to this apprenticeship</li>
                                             </ul>
                                        </div>
                                   </div>
                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="accept_application_reject" name="accept_application" type="radio" value="Reject">
                                        <label class="govuk-label govuk-radios__label" for="accept_application_reject">Reject the application</label>
                                   </div>
                              </div>
                         </fieldset>
                    </div>

                    <button class="govuk-button" data-module="govuk-button" id="accept_application">Continue</button>

                    <p><a href="javascript:history.back()" class="govuk-link govuk-link--no-visited-state govuk-back-link" id="approved-back-to-pledge-details">Back</a></p>

               </form>

          </div>

          <aside class="govuk-grid-column-one-third">

               <div class="new-pledge-values side-panel">

               </div>

          </aside>

     </div>

</div>

{% endblock %}
