{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry" id="transfers-hub">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

               <h1 class="govuk-heading-xl">
                    Approve <span class="highlight-text">Belhavel Construction Ltd</span> application
               </h1>

               <form method="post" action="7B-confirmation" id="approve-pledge-form">

                    {% from "govuk/components/radios/macro.njk" import govukRadios %}
                    {% from "govuk/components/input/macro.njk" import govukInput %}

                    {% set approveAllHtml %}
                         <p>By approving this application I:</p>
                         <ul class="govuk-list govuk-list--bullet">
                              <li>agree to pay the full cost of the apprenticeship training until completion which could be over multiple financial years</li>
                              <li>accept that the transfer will take priority over funds for my own apprentices and will leave my levy account first</li>
                              <li>accept the funds will leave my account on a monthly basis following the existing payment process</li>
                              <li>accept this action cannot be undone through the service unless agreed offline with the receiver</li>
                              <li>accept I am not responsible for any of the training or assessments relating to this apprenticeship</li>
                         </ul>
                    {% endset -%}

                    {{ govukRadios({
                    idPrefix: "approve-application",
                         name: "approve-application",
                         fieldset: {
                              legend: {
                                   text: "How would you like to proceed with this application?",
                                   isPageHeading: false
                              }
                         },
                         items: [
                              {
                                   value: "approve all",
                                   text: "Automatically approve the apprentice details",
                                   conditional: {
                                        html: approveAllHtml
                                   },
                                   hint: {
                                        text: "I want to automatically approve the application and don’t need to see the apprentice details again unless something changes"
                                   }
                              },
                              {
                                   value: "approve with manual",
                                   text: "Check and approve apprentice details",
                                   hint: {
                                        text: "I want to review and approve the apprentice details"
                                   }
                              }
                         ]
                    }) }}

                    <button class="govuk-button" data-module="govuk-button" id="approve-pledge-continue">Continue</button>

                    <a href="javascript:history.back()" class="govuk-link govuk-link-secondary govuk-back-link">Back</a>

               </form>

          </div>

          <div class="govuk-grid-column-one-third">

               <!-- <section class="employer-details side-panel applications-details">
                    <p class="govuk-heading-s">Application details:</p>
                    <p class="details">
                         <span class="icon tick"></span>Location: <strong>Birmingham, West Midlands</strong><br>
                         <span class="icon tick"></span>Sector: <strong>Construction company</strong><br>
                         <span class="icon tick"></span>Category of training: <strong>Bricklaying</strong><br>
                         <span class="icon tick"></span>Level: <strong>2</strong>
                    </p>
                    <p class="details">
                         Apprentices: <strong>1</strong><br>
                         Estimated duration: <strong>30 months</strong><br>
                         Start by: <strong>March 2021</strong><br>
                         Do they have a training provider?: <strong>No</strong><br>
                    </p>
                    <div class="total">
                         <p class="govuk-heading-s">Estimated total: £9,000</p>
                    </div>
               </section> -->

          </div>

     </div>

</div>

{% endblock %}
