{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <h1 class="govuk-heading-xl">Your Opportunity (123465) application details</h1>

               <div class="govuk-warning-text application-status-one">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                         <span class="govuk-warning-text__assistive">Warning</span>
                         Application status: <span class="govuk-tag govuk-tag--yellow">Withdrawn</span>
                         <br>
                         Your application for funding from Opportunity (123465) has been withdrawn on 17/06/2021 at 14:47
                         <br>
                         <br>
                         Businesses will be able to use the funds pledged from the 27th October.
                    </strong>
               </div>

               <div class="accepted-text-hide">
                    <h2 class="govuk-heading-m">About your apprenticeship training course</h2>
               </div>

               <section class="employer-contact-details">
                    <p><strong>Apprenticeship training course:</strong> Construction engineer (level 2)</p>
                    <p><strong>Number of apprentices:</strong> 1</p>
                    <p><strong>Estimated total cost:</strong> £15,000</p>
                    <p><strong>Apprenticeship training to start by:</strong> 06/2021</p>
               </section>

               <div class="govuk-inset-text">
                        <h2 class="govuk-heading-m">Alternative funding options</h2>

                        <p>If your business doesn't pay the apprenticeship levy, you could <a href="#">make a funding reservation</a> instead.</p>

                        <p>This means the government will pay 95% of your apprenticeship training and assessment costs, so you only pay 5%.</p>

                        <p>You could apply for transfer funding from another employer.</p>

                        <p><a href="../STEP-2/5-search-pledge">View transfer funding opportunities</a></p>
               </div>

               <a href="4-my-applications" class="govuk-button">Return to my applications</a>

          </div>

          <div class="govuk-grid-column-one-third">
               <section class="employer-details side-panel">
                    <p class="govuk-heading-s">Opportunity (123465) wants to fund apprenticeship training in:</p>
                    <p class="details">
                         Location: <strong >Manchester, Liverpool, Leeds</strong><br>
                         Sector: <strong>Construction, Engineering and manufacturing</strong><br>
                         Type of job role: <strong>Business and administration, Construction, Digital</strong><br>
                         Level: <strong>Level 4 - HNC, Level 5 - HND, Level 6 - degree</strong>
                    </p>
                    <div class="total">
                         <p class="govuk-heading-s">Total funding available:<br>up to £65,000 in 2021/22</p>
                    </div>
               </section>
          </div>

     </div>

</div>
{% endblock %}
