<div class="transfer-values-prototype mvs-projected-values">

     <div class="transfer-values">
          <div class="">
               <p>Committed 2022/23</p>
               <p class="number before-pledge">£<span class="value-format">0</span></p>
               <p class="number after-pledge">£<span class="value-format">{{ (data['pledge-amount'] | float) / 4 }}</span></p>
          </div>
          <div class="">
               <p>Committed 2023/24</p>
               <p class="number before-pledge">£<span class="value-format">0</span></p>
               <p class="number after-pledge">£<span class="value-format">{{ (data['pledge-amount'] | float) / 4 }}</span></p>
          </div>
          <div class="">
               <p>Committed 2024/25</p>
               <p class="number before-pledge">£<span class="value-format">0</span></p>
               <p class="number after-pledge">£<span class="value-format">{{ (data['pledge-amount'] | float) / 4 }}</span></p>
          </div>
          <div class="">
               <p>Committed 2025/26</p>
               <p class="number before-pledge">£<span class="value-format">0</span></p>
               <p class="number after-pledge">£<span class="value-format">{{ (data['pledge-amount'] | float) / 4 }}</span></p>
          </div>
     </div>

</div>
