{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <h1 class="govuk-heading-xl">Pledges at financial year end and your transfer allowance</h1>

               <p>The maximum amount you can pledge is <strong>£200,000</strong>. This is based on your transfer allowance and is valid for the current financial year.</p>

               <p>When you renew the pledge - or create a new pledge - for the following year we assume that your transfer allowance will remain the same.</p>

               <p>Your transfer allowance is calculated every April but only appears on your account by the end of April. It is based on the total amount of levy you declared during the previous tax year.</p>

               <p><br></p>

               <form method="post" action="12A-carry-over">

                    <button class="govuk-button" data-module="govuk-button">Continue</button>
                    <a href="javascript:history.back()" class="govuk-link govuk-link-secondary govuk-link--no-visited-state">Cancel</a>

               </form>

               <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

               <br> -->

               <div class="govuk-inset-text">
                    <p>If the actual transfer allowance is lower than the sum of your pledges we will notify you. We will automatically reduce the pledges to match the transfer allowance that is available.</p>
               </div>

          </div>

     </div>

</div>

{% endblock %}
