{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <a href="javascript:history.back()" class="govuk-back-link">Back</a>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds pledge-core">


               <h1 class="govuk-heading-xl">Create a transfer pledge</h1>

               <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
               <p class="govuk-body govuk-!-margin-bottom-7">You have completed 1 of 8 sections.</p> -->

               <p>Create a transfer funding pledge that will be shown online so that businesses can apply to you for funding.</p>

               <p>The amount you choose and the criteria you set will be displayed publicly.</p>

               <p>You can choose whether or not to show your organisation's name publicly.</p>

               <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                         <span class="govuk-warning-text__assistive">Warning</span> We will add a reference number to each pledge you create to help keep track of applications.
                    </strong>
               </div>

               <ol class="app-task-list">

                    <li id="section-1">
                         <h2 class="app-task-list__section">
                              <span class="app-task-list__section-number number-one">1. </span>
                              Pledge amount and option to hide<br>organisation name
                              {% if data['pledge_amount'] and data['show_publicly'] %}
                                   <strong class="govuk-tag app-task-list__tag">completed</strong>
                              {% else %}
                                   <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                              {% endif %}
                         </h2>
                         <ul class="app-task-list__items">
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="6A-new-pledge-details">Amount you want to pledge</a>
                                   </span>
                                   <p>
                                        {% if data['pledge_amount'] %}
                                             £65,000
                                        {% else %}
                                             -
                                        {% endif %}
                                   </p>
                              </li>
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="6A-new-pledge-details">Show or hide your organisation's name</a>
                                   </span>
                                   <p>
                                        {% if data['show_publicly'] %}
                                             {{ data['show_publicly'] }}
                                        {% else %}
                                             -
                                        {% endif %}
                                   </p>
                              </li>
                         </ul>
                    </li>

                    <li id="section-2">
                         <h2 class="app-task-list__section">
                              <span class="app-task-list__section-number">2. </span>
                              <div class="text-wrapper">
                                   Criteria
                                   <span class="govuk-caption-m">The following criteria are all optional. They will remain set to 'all' unless you choose to change them.</span>
                              </div>
                              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">optional</strong>
                         </h2>
                         <ul class="app-task-list__items">
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="6B-new-pledge-details">Location</a>
                                   </span>
                                   <p>
                                        {% if data['pledge-location'] %}
                                             <ul class="govuk-list">
                                                  <li>Manchester</li>
                                                  <li>Liverpool</li>
                                                  <li>Leeds</li>
                                             </ul>
                                        {% else %}
                                             All of England
                                        {% endif %}
                                   </p>
                              </li>
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="6C-new-pledge-details">Sector</a>
                                   </span>
                                   <p>
                                        {% if data['pledge_sector'] %}
                                             <ul class="govuk-list govuk-list--bullet">
                                                  <li>Construction</li>
                                                  <li>Engineering and manufacturing</li>
                                             </ul>
                                        {% else %}
                                             All sectors and industries
                                        {% endif %}
                                   </p>
                              </li>
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="6D-new-pledge-details">Type of job role</a>
                                   </span>
                                   <p>
                                        {% if data['pledge_training'] %}
                                             <ul class="govuk-list govuk-list--bullet">
                                                  <li>Business and administration</li>
                                                  <li>Construction</li>
                                                  <li>Digital</li>
                                             </ul>
                                        {% else %}
                                             All apprenticeship job roles
                                        {% endif %}
                                   </p>
                              </li>
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="6E-new-pledge-details">Level</a>
                                   </span>
                                   <p class="pledge_level_all">All qualification levels</p>
                                   <div class="pledge_level_specific">
                                        {% if data['pledge_level'] %}
                                        <ul class="govuk-list govuk-list--bullet">
                                             {% for answer in data['pledge_level'] -%}
                                             <li>{{ answer }}</li>
                                             {% endfor %}
                                        </ul>
                                        {% else %}
                                             All qualification levels
                                        {% endif %}
                                   </div>
                              </li>

                         </ul>
                    </li>

               </ol>

               {% if data['pledge_amount'] and data['show_publicly'] %}
                    <h2 class="govuk-heading-m">Submit your transfer pledge</h2>

                    <p class="govuk-body">I confirm that I want to make the above pledge so I can fund another business's apprenticeship training and assessment with my levy funds.</p>

                    <div class="govuk-inset-text">
                         <strong>Disclaimer:</strong> The information provided by applicants to your pledge will not be checked and verified by the apprenticeship service.
                         <br>
                         <br>Please carry out your own due diligence when deciding whether to offer a transfer of your levy funds.
                    </div>

                    <form action="7-new-pledge-confirmation" method="post" novalidate>

                         <input type="hidden" name="answers-checked" value="true">
                         <div class="govuk-button-group">
                              <button class="govuk-button" data-module="govuk-button">Submit my pledge</button>
                         </div>

                    </form>
               {% else %}

               {% endif %}

               <a href="3-transfers" class="govuk-link govuk-link--no-visited-state">Cancel pledge</a>

          </div>

     </div>

</div>

{% endblock %}
