{% set version = 'sprint-26' %}

<h2 class="govuk-heading-l" id="{{version}}">
     Sprint 26
     <span class="govuk-caption-l">
          19th January 2022 - 1st February 2022
     </span>
</h2>

<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">

          <h3 class="govuk-heading-m">Sender</h3>
          <ul class="govuk-list govuk-list--bullet">
               <li><strong>STEP 1:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/MVS/sender/STEP-1/0-prototype-user.html">Create a transfer pledge</a></li>
               <li><strong>STEP 3:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/MVS/sender/STEP-3/1-signin.html">Approve the transfer pledge application</a></li>
               <li><strong>STEP 5.1:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/MVS/sender/STEP-5-1/2-my-account.html">Add apprentice using funds</a></li>
               <li><strong>STEP 7:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/MVS/sender/STEP-7/1-signin.html">Reject a pledge application (910106)</a></li>
               <li><strong>STEP 8:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/MVS/sender/STEP-8/1-email.html">Close a pledge (910107) & Pledges in 2022</a></li>
               <li><strong>STEP 11:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/MVS/sender/STEP-11/1-signin.html">Make a transfer connection</a></li>
               <li><strong>STEP 12:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/MVS/sender/STEP-12/1-email.html">Pledges in 2022</a></li>
               <li><strong>STEP 13:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/MVS/sender/STEP-13/1-email.html">Edit pledges in 2022</a></li>
               <li><strong>STEP 14:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/MVS/sender/STEP-14/1-signin.html">Reject multiple applications</a></li>
          </ul>

          <h3 class="govuk-heading-m">Receiver</h3>
          <ul class="govuk-list govuk-list--bullet">
               <li><strong>STEP 2:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/MVS/receiver/STEP-2/0-prototype-user.html">Apply to the transfer pledge</a></li>
               <li><strong>STEP 4:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/MVS/receiver/STEP-4/1-signin.html">Accept the approved transfer pledge application</a></li>
               <li><strong>STEP 5.2:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/MVS/receiver/STEP-5-2/4A-application-details.html">Add apprentice using funds</a></li>
               <li><strong>STEP 6:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/MVS/receiver/STEP-6/1-signin.html">View used transfer pledge funds</a></li>
               <li><strong>STEP 9:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/MVS/receiver/STEP-9-10/1-signin.html">Reject a funding request application</a></li>
               <li><strong>STEP 10:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/MVS/receiver/STEP-9-10/1-signin.html">Cancel a funding request application</a></li>
          </ul>

          <h3 class="govuk-heading-m">Provider</h3>
          <ul class="govuk-list govuk-list--bullet">
               <li><strong>STEP 5.3:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/MVS/provider/STEP-5-3/2-my-account.html">Add apprentice using funds</a></li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <h2 class="govuk-heading-m" style="padding-top: 10px;margin-bottom: 0px;">Post MVS</h2>

          <details class="govuk-details" data-module="govuk-details">
               <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">Post MVS links</span>
               </summary>
               <div class="govuk-details__text">

                    <ul class="govuk-list govuk-list--bullet">
                         <li>
                              <strong>CSV Export - My transfer pledges:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/Post-MVS/sender/CSV-export/1A-my-pledges.html">Design 1</a>
                              &nbsp; |  &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/Post-MVS/sender/CSV-export/1B-my-pledges.html">Design 2</a>
                              &nbsp; |  &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/Post-MVS/sender/CSV-export/1C-my-pledges.html">Design 3</a>
                         </li>
                         <li>
                              <strong>Finance:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/MVS/sender/STEP-3/3A-transfers.html">Finance view designs</a>
                         </li>
                         <!-- <li>
                              <strong>Finance:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/Post-MVS/sender/Finance/1B-transfers.html">Finance running low design</a>
                         </li> -->
                         <li>
                              <strong>CSV Export - Pledge details:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/Post-MVS/sender/CSV-export/2A-pledge-details.html">Design 1</a>
                              &nbsp; |  &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/Post-MVS/sender/CSV-export/2B-pledge-details.html">Design 2</a>
                              &nbsp; |  &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/Post-MVS/sender/CSV-export/2C-pledge-details.html">Design 3</a>
                         </li>
                    </ul>

                    <p></p>

                    <ul class="govuk-list govuk-list--bullet">
                         <li><strong>TASK 1:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/Post-MVS/ALERTS/1-my-account.html">Application submitted to a pledge</a></li>
                         <li><strong>TASK 2:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/Post-MVS/ALERTS/2-my-account.html">Application ready to use</a></li>
                         <li><strong>EMAIL 1:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/Post-MVS/ALERTS/1-email">Application approved by sending employer</a></li>
                         <li><strong>EMAIL 2:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/Post-MVS/ALERTS/2-email">Application rejected by sending employer</a></li>
                         <!-- <li><strong>EMAIL 3:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/Post-MVS/ALERTS/3-email">Pledge deleted (automatically reject applications 'awaiting approval')</a></li> -->
                         <li><strong>EMAIL 3:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/Post-MVS/ALERTS/3-email">Application submitted to a pledge</a></li>
                         <li><strong>EMAIL 4:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/Post-MVS/ALERTS/4-email">Funding rejected / application cancelled by receiving employer</a></li>
                         <!-- <li><strong>EMAIL 5:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/{{version}}/Post-MVS/ALERTS/5-email">funding accepted by receiving employer</a></li> -->
                    </ul>

               </div>
          </details>

     </div>
</div>
