{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <a href="javascript:history.back()" class="govuk-back-link">Back</a>
          </div>
     </div>

     <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

               <div class="govuk-panel govuk-panel--confirmation pledge-approved">
                    <h1 class="govuk-panel__title">On 6th April, pledge 910106 will be renewed</h1>
               </div>

               <h2 class="govuk-heading-m">What happens next</h2>

               <p>You don't need to do anything else, your pledge will automatically renew when the new financial year begins on 6th April 2022.</p>

               <p>
                    <a href="8-pledge-details" class="govuk-link govuk-link--no-visited-state">View pledge 910106</a><br>
                    or<br>
                    <a href="7-my-pledges" class="govuk-link govuk-link--no-visited-state">View your pledges</a>
               </p>

               <p></p>

               <a href="5-transfers" class="govuk-back-link">Back to Transfers</a>

          </div>

     </div>

</div>

{% endblock %}
