{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <h1 class="govuk-heading-xl">What would you like to do?</h1>

               <form method="post" action="pledge_action_910106">

                    <div class="govuk-form-group">
                         <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

                              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" name="pledge_actions_910106" id="pledge_actions_renew" value="Renew" type="radio">
                                        <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="pledge_actions_renew">Pledge again at the end of this financial year</label>
                                   </div>

                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" name="pledge_actions_910106" id="pledge_actions_close" value="Close" type="radio">
                                        <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="pledge_actions_close">Take no action and let the pledge close</label>
                                   </div>

                              </div>

                         </fieldset>
                    </div>

                    <button class="govuk-button" data-module="govuk-button">Continue</button>
                    <a href="javascript:history.back()" class="govuk-link govuk-link-secondary govuk-link--no-visited-state">Cancel</a>

               </form>

               <div class="govuk-inset-text">

                    <p><strong>What happens to applications?</strong></p>

                    <p>When you continue with a pledge, or if it expires, then these applications are rejected at the end of the financial year, 5th April 2022:</p>

                    <ul class="govuk-list govuk-list--bullet">
                         <li>applications that have not been approved</li>
                         <li>applications that have not have not been accepted by the receiving employer</li>
                    </ul>

                    <!-- <p>If you take no action:</p>

                    <ul class="govuk-list govuk-list--bullet">
                         <li>the pledge will be automatically closed on 5th April 2022</li>
                         <li>all unapproved applications will be rejected</li>
                         <li>any approved applications that have not been accepted by the receiving employer will be rejected</li>
                    </ul> -->
               </div>

          </div>

     </div>

</div>

{% endblock %}
