.title-options {
     // text-align: right;
     .left-side {
          text-align: left;
     }
     .right-side {
          text-align: right;
     }
     p {
          margin-bottom: 0;
          a {
               margin: 0 0 0 1.25em;
               font-size: 0.85em;
               &:first-of-type {
                    margin-left: 0;
               }
          }
     }
     .funding-wrapper {
          .running-pledge-total {
               width: auto;
               float: right;
          }
     }
     .govuk-heading-xl {
          margin-bottom: 0;
     }
     .govuk-warning-text {
          margin: 1em 0 0.25em 0;
     }
}

#pledge-tabs, #applications-tabs, #pledge-table-tabs, #transfers-tabs {
     padding: 0;
     .govuk-tabs__list {
          border-bottom: 3px solid govuk-colour("light-grey");
          .govuk-tabs__list-item--selected {
               border: 3px solid govuk-colour("light-grey");
               margin-bottom: -3px;
               border-bottom: 3px solid white;
          }
     }
     .govuk-tabs__panel {
          padding-left: 0;
          padding-right: 0;
          border-left: none;
          border-right: none;
          border-bottom: none;
     }
}

#application-cancelled-banner {
     ul.govuk-list {
          max-width: 100%;
     }
}

#accept-application {
     margin-right: 0.75em;
}

#pledge-tabs {
     display: none;
}

#transfers-tabs {
     .tab-overide-deactive {
          margin-bottom: -3px;
          margin-top: 0px;
          border: none !important;
          border-bottom: 3px solid #f3f2f1 !important;
          background-color: #f3f2f1;
          position: relative;
          margin-right: 5px;
          margin-bottom: 0;
          margin-left: 0;
          padding: 10px 20px;
          float: left;
          text-align: center;
          a {
               text-decoration: underline;
          }
     }
     .tab-overide-active {
          background-color: #ffffff;
          border: 3px solid #f3f2f1;
          margin-bottom: -3px;
          border-bottom: 3px solid white;
          position: relative;
          margin-top: -5px;
          margin-bottom: -1px;
          padding-top: 14px 19px 16px 19px;
          a {
               text-decoration: none;
          }
     }
     .number {
          width: 1.5em;
          height: 1.5em;
          background: $govuk-border-colour;
          border-radius: 50%;
          display: flex;
          float: left;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          position: relative;
          top: -0.05em;
          margin: 0 0.45em 0 0;
          &.active {
               background: $govuk-link-colour;
               color: white;
          }
     }
}

.application {
     border: 3px solid govuk-colour("light-grey");
     margin-bottom: 1.5em;
     border-radius: 8px;
     padding: 1.5em;
     &:last-of-type {
          // border-bottom: none;
          margin-bottom: 2em;
     }
     .title {
          margin-bottom: 1em;
          .govuk-tag {
               margin-bottom: 0.5em;
          }
          .govuk-heading-m {
               margin-bottom: 0;
          }
          .govuk-button {
               margin: 0;
               &.govuk-button--warning {
                    margin-left: 0.75em;
               }
          }
          .main-ctas {
               text-align: right;
               .shortlist, .remove-shortlist {
                    float: right;
                    clear: both;
                    font-size: 1.2rem;
                    margin: 0.75rem 0 0 0;
               }
          }
     }
     .pledge-total {
          padding-top: 0;
          margin: 0;
     }
     .matching-details, .pledge-details, .more-details-details {
          display: inline-block;
          width: 100%;
          margin: 0;
          padding: 0.75em 0;
          border-top: 2px dashed govuk-colour("light-grey");
          border-bottom: 2px dashed govuk-colour("light-grey");
          p {
               width: 25%;
               float: left;
               font-size: 1rem;
               margin: 0;
               &.cross {
                    span {
                         color: $govuk-error-colour;
                    }
               }
               span {
                    font-size: 1rem;
               }
               .icon {
                    display: inline-block;
                    width: 0.85em;
                    height: 0.85em;
                    margin: 0 0.5em -0.1em 0;
                    background: url('../images/cross-red.svg') no-repeat 0% 50%;
                    background-size: contain;
               }
          }
     }
     .matching-details, .pledge-details, .more-details-details {
          border-bottom: none;
     }
     .more-details-details {
          padding-bottom: 0;
          p {
               width: 100%;
          }
     }
     .govuk-details {
          margin-bottom: 0;
          summary {
               margin-bottom: 0;
          }
     }
}

.pledge-values {
     display: flex;
     margin: 1.5em 0 1.5em;
     div {
          width: 33%;
          margin-right: 3%;
          background: govuk-colour("turquoise");
          padding: 2%;
          &:last-of-type {
               margin-right: 0;
          }
          &.alert {
               background: $govuk-error-colour;
          }
          &.empty {
               background: $govuk-link-colour;
          }
          &.pledge-funds, &.pledge-funds-spent {
               background: govuk-colour("light-grey");
               // border-left: 10px solid govuk-colour("turquoise");
               p {
                    color: black;
               }
          }
          p {
               color: white;
               font-weight: bold;
               margin: 0;
               font-size: 1rem;
               &.number {
                    font-size: 3rem;
               }
          }
     }
}

.new-pledge-values {
     display: inline-block;
     width: auto;
     float: right;
     margin-top: -0.5em;
     h3 {
          margin: 0;
          float: left;
          display: inline-block;
          line-height: 1;
          .total-value {
               color: $govuk-link-colour;
          }
          &:first-of-type {
               margin-right: 1.5em;
          }
          .small-text {
               font-size: 16px;
               font-weight: normal;
               border: none;
               text-decoration: underline;
               background: none;
          }
     }
     &.side-panel {
          h3 {
               margin-left: 0.5em;
               margin-bottom: 0.5em;
               margin-right: 0;
               border-left: 10px solid $govuk-link-colour;
               padding: 0.25em 0 0.5em 0.5em;
               line-height: 1.2;
               .small-text {
                    // font-size: 0.9rem;
                    // &.hover-over {
                    //      // border-bottom: 1px dotted black;
                    //      &:hover, &:active, &:focus {
                    //           .tooltiptext {
                    //                bottom: -14.25em;
                    //           }
                    //      }
                    // }
               }
          }
     }
}

section {
     &.employer-details, &.employer-contact-details, &.transfer-details {
          background: govuk-colour("light-grey");
          padding: 1.5em 1.5em 4.5em 1.5em;
          position: relative;
          margin-bottom: 2em;
          .total {
               background: darken(govuk-colour("light-grey"),10%);
               padding: 1em 1.5em;
               position: absolute;
               bottom: 0;
               left: 0;
               right: 0;
               p {
                    margin: 0;
               }
          }
          .pledge-name-answer, .application-name-answer {
               // color: $govuk-link-colour;
               font-weight: bold;
          }
          .govuk-tag {
               margin-bottom: 1em;
          }
     }
     &.employer-details {
          &#sector-playback {
               padding-bottom: 1.5em;
               ul {
                    margin-bottom: 0;
               }
          }
          .total {
               margin: 0;
               p {
                    color: black;
                    font-size: 1.5rem;
               }
          }
          &.side-panel {
               padding: 1em 1em 6.5em 1em;
               &.applications-details {
                    padding: 1em 1em 4.5em 1em;
               }
               p.details {
                    font-size: 1rem;
                    margin: 0;
               }
               .total {
                    p {
                         font-size: 1.2rem;
                    }
               }
               &.border-overide {
                    padding: 1em 0 0 0;
                    border-top: 10px solid  $govuk-link-colour;
                    background: white;
               }
          }
          &.confirm-details {
               padding-bottom: 1.5em;
               h2 {
                    color: $govuk-link-colour;
               }
               p {
                    &:last-of-type {
                         margin: 0;
                    }
               }
          }
          &.mvs-version {
               padding-bottom: 1.5em;
          }
     }
     &.employer-contact-details {
          padding: 1.5em 1.5em 1.5em 1.5em;
          ul {
               margin-bottom: 0;
          }
          p {
               &:last-of-type {
                    margin-bottom: 0;
               }
          }
     }
     &.transfer-details {
          .total {
               margin: 0;
               p {
                    color: black;
                    font-size: 2rem;
               }
          }
     }
}

.pledge-name-answer, .application-name-answer {
     &.main-title {
          // color: $govuk-link-colour;
          font-weight: bold;
     }
}

.application-name-answer, .pledge-name-answer {
     // color: $govuk-link-colour;
     font-weight: bold;
}

.govuk-panel--confirmation {
     .pledge-name-answer {
          color: white;
     }
}

details {
     &.pledge-details {
          margin: 15px 0 30px 0;
          .employer-details {
               display: flex;
               flex-wrap: wrap;
               .wrapper {
                    width: 50%;
                    &:nth-of-type(1) {
                         margin-bottom: 1em;
                    }
                    &:nth-of-type(2) {
                         margin-bottom: 1em;
                    }
               }
               .total {
                    margin: 0;
                    p {
                         color: black;
                         font-size: 1.5rem;
                    }
               }
          }
     }
}
