.search-filter {
     margin: 0 0 4em 0;
     border: 1px solid $govuk-border-colour;
     padding: 0;
     position: relative;
     background: white;
     z-index: 1;
     .govuk-heading-s {
          display: block;
          padding: 15px 15px;
          border-bottom: 1px solid $govuk-border-colour;
          background: white;
          margin: 0;
          z-index: 10;
     }
     .filters {
          padding: 20px 15px;
          details {
               margin-bottom: 0.75em;
               font-size: 1rem;
               padding-bottom: 0.75em;
               border-bottom: 2px dashed $govuk-border-colour;
               &:last-of-type {
                    margin: 0;
                    border-bottom: none;
                    padding-bottom: 0;
               }
               .govuk-details__text {
                    padding-right: 0;
                    padding-left: 15px;
               }
               .govuk-checkboxes__input {
                    width: 39px;
                    height: 39px;
               }
               .govuk-checkboxes--small {
                    .govuk-checkboxes__label {
                         padding: 8px 15px 7px 1px;
                         &:before {
                              top: 6px;
                         }
                         &:after {
                              top: 10px;
                              left: 3px;
                         }
                    }
                    .govuk-checkboxes__item {
                         padding-left: 27px;
                         width: 88%;
                         &:hover {
                              .govuk-checkboxes__input:focus + .govuk-checkboxes__label:before {
                                   box-shadow: 0 0 0 3px #ffdd00, 0 0 0 7px #b1b4b6;
                              }
                              .govuk-checkboxes__input:not(:disabled) + .govuk-checkboxes__label:before {
                                   box-shadow: 0 0 0 5px #b1b4b6;
                              }
                         }
                         &.select-all {
                              border-bottom: 2px dashed govuk-colour("light-grey");
                              padding-bottom: 10px;
                              margin-bottom: 10px;
                              margin-top: 0;
                         }
                    }
                    .govuk-label {
                         font-size: 0.875rem;
                         &:before {
                              width: 18px;
                              height: 18px;
                         }
                    }
               }
          }
     }
}

.no-results {
     background: govuk-colour("light-grey");
     padding: 1em;
     .govuk-button {
          margin: 0;
     }
     p {
          &:last-of-type {
               margin: 0;
          }
     }
}

.search-results {
     .search-title {
          .govuk-heading-m {
               margin: 0;
          }
     }
     .pledge-details {
          border-bottom: 2px solid $govuk-border-colour;
          margin: 0 0 2em 0;
          padding: 0 0 1em 0;
          &:last-of-type {
               border-bottom: none;
          }
          .govuk-heading-m {
               margin-bottom: 0;
               .govuk-button {
                    float: right;
                    margin: 0;
               }
          }
          .govuk-caption-m {
               margin-bottom: 1em;
          }
          p {
               font-size: 1rem;
               color: $govuk-secondary-text-colour;
               strong {
                    color: black;
               }
          }
          .govuk-tag {
               display: none;
               margin-bottom: 0.5em;
          }
          &.applied {
               padding: 1.25em 1.25em 3.25em 1.25em;
               box-shadow: inset 0px -32px 0px 0px white;
               background: govuk-colour("light-grey");
               // border-bottom: none;
               .govuk-tag {
                    display: inline-block;
               }
               .govuk-button {
                    display: none;
               }
               p {
                    margin: 0;
               }
          }
     }
}

#pledge-application-emails {
     // .first-of-type {
     //      margin-bottom: 0;
     // }
     .additional-email {
          padding: 1em 1em 1em 2em;
          margin: 0;
          border-left: 10px solid $govuk-border-colour;
          &:last-of-type {
               margin-bottom: 2em;
          }
          p {
               margin: 0;
          }
     }
}

#addAnotherApplicationEmail {
     margin-top: -1em;
     display: block;
}
