.transfers-title {
     margin-bottom: 0;
     // margin-top: 1em;
     .date-wrapper {
          float: right;
          a {
               font-size: 1rem;
               font-weight: normal;
               margin-left: 0.75em;
               &.current {
                    color: black;
                    text-decoration: none;

               }
          }
     }
}

.finance-homepage {
     margin-top: 1em;
     margin-bottom: 3em;
     padding: 0 0 1em 0;
     // border-left: 10px solid  $govuk-border-colour;
     float: left;
     width: 50%;
     .govuk-button {
          margin-bottom: 0;
     }
     &:nth-of-type(2n) {
          .govuk-button {
               margin-left: 0;
          }
     }
}

.pledge-core, .application-core {
     ol.app-task-list {
          li {
               h2 {
                    display: inline-block;
                    width: 100%;
                    p {
                         float: right;
                    }
                    span {
                         display: inline-block;
                         float: left;
                         &.number-one {
                              float: left;
                              height: 2em;
                         }
                    }
                    .text-wrapper {
                         display: inline-block;
                         float: left;
                         max-width: 75%;
                    }
               }
               ul {
                    li {
                         span {
                              width: 30%;
                              padding-right: 5%;
                         }
                         p, div {
                              float: right;
                              width: 65%;
                              text-align: right;
                              margin: 0;
                              span {
                                   width: auto;
                                   padding: 0;
                              }
                              ul {
                                   margin: 0;
                                   list-style-type: none;
                                   li {
                                        &:last-of-type {
                                             margin-bottom: 0;
                                        }
                                        font-weight: normal;
                                   }
                              }
                         }
                    }
               }
          }
     }
}

.application-core {
     ol.app-task-list {
          li {
               h2 {
                    span {
                         &.number-one {
                              float: left;
                              height: auto;
                         }
                    }
               }
          }
     }
}

table {
     &.pledge-complete-table, &.application-complete-table, &.application-deleted-table, &.applications-table, &.transfer-complete-table {
          thead {
               tr {
                    th {
                         background: govuk-colour("light-grey");
                         // border: 4px solid white;
                         text-align: center;
                         padding: 0.5em 0;
                    }
               }
          }
          tbody {
               tr {
                    &.new-pledge {
                         td {
                              background: rgba(29,112,60,0.1);
                         }
                    }
                    &.error, &.cancelled {
                         background: govuk-colour("light-grey");
                         border-top: 3px solid white;
                         border-bottom: 3px solid white;
                         td {
                              &:first-of-type {
                                   border-left: 5px solid govuk-colour("red");
                              }
                              // background: rgba(29,112,60,0.1);
                         }
                    }
                    td {
                         text-align: center;
                         // border: 4px solid white;
                         padding: 0.5em 0;
                    }
               }
          }
     }
     &.application-deleted-table {
          thead {
               tr {
                    th {
                         padding: 0.5em;
                         text-align: left;
                    }
               }
          }
          tbody {
               tr {
                    td {
                         text-align: left;
                         padding: 0.5em;
                    }
               }
          }
     }
     &.pledge-complete-table, &.applications-table, &.application-complete-table {
          thead {
               tr {
                    th {
                         border-bottom: none;
                         text-align: left;
                         padding: 0.75em;
                         padding-left: 0.5em;
                    }
               }
          }
          tbody {
               tr {
                    border-bottom: 4px solid govuk-colour("light-grey");
                    &:last-of-type {
                         border-bottom: none;
                    }
                    td {
                         text-align: left;
                         padding-left: 0.5em;
                         border-bottom: none;
                         .govuk-caption-m {
                              font-size: 1rem;
                              div {
                                   display: inline-block;
                              }
                         }
                         .govuk-button {
                              margin-bottom: 0.5em;
                              font-size: 1rem;
                         }
                         .delete-pledge {
                              font-size: 1rem;
                         }
                         &:last-of-type {
                              // padding-right: 0.5em;
                              text-align: right;
                         }
                    }
               }
          }
     }
     &.application-complete-table {
          // display: none;
          details {
               margin: 0.75em 0 0 0;
          }
     }
     &.applications-table {
          thead {
               tr {
                    th {
                         padding: 1em 0.5em;
                         color: $govuk-brand-colour;
                         text-decoration: underline;
                         font-size: 1rem;
                    }
               }
          }
          tbody {
               tr {
                    border-bottom: 5px solid govuk-colour("light-grey");
                    &:last-of-type {
                         border-bottom: 5px solid govuk-colour("light-grey");
                    }
                    // &:nth-of-type(even) {
                    //      background: govuk-colour("light-grey");
                    // }
                    // &:last-of-type {
                    //      border-bottom: none;
                    // }
                    td {
                         padding: 1em 0.5em;
                         text-align: left;
                         font-size: 1rem;
                         // border-bottom: 2px solid govuk-colour("light-grey");
                         &:last-child {
                              padding-right: 0.5em;
                         }
                         a, p {
                              margin: 0;
                              font-size: 1rem;
                         }
                         p {
                              // &.cross {
                              //      color: $govuk-error-colour;
                              // }
                              &.application-approved, &.application-rejected, &.application-cancelled {
                                   display: none;
                              }
                              &.application-approved {
                                   color: $govuk-success-colour;
                              }
                              &.application-rejected, &.application-funds, &.application-cancelled {
                                   color: $govuk-error-colour;
                              }
                         }
                         .icon {
                              display: inline-block;
                              &.cross, &.rejected {
                                   width: 0.85em;
                                   height: 0.85em;
                                   margin: 0 0.65em -0.1em 0;
                              }
                              &.tick, &.approved {
                                   width: 1em;
                                   height: 1em;
                                   margin: 0 0.5em -0.2em 0;
                              }
                         }
                    }
               }
          }
     }
}

table {
     &.application-deleted-table {
          tbody {
               tr {
                    &.new-pledge {
                         td {
                              background: white;
                              border-bottom: 1px solid govuk-colour("light-grey");
                         }
                    }
               }
          }
     }
}

.transfer-values {
     display: flex;
     margin: 1.5em 0 1.5em;
     &.transfer-values-2019, &.transfer-values-2020, &.transfer-values-2022, &.transfer-values-2023, &.transfer-values-2024 {
          div {
               background: govuk-colour("light-grey");
               // border-left: 10px solid govuk-colour("turquoise");
               p {
                    color: black;
               }
          }
     }
     &.transfer-values-2022, &.transfer-values-2023, &.transfer-values-2024 {
          div {
               &.transfer-funds, &.transfer-funds-non-pledge {
                    p {
                         color: $govuk-border-colour;
                    }
               }
          }
     }
     &.transfer-values-2021 {
          padding-bottom: 3em;
          div.transfer-funds-remaining {
               div.multiple-values {
                    display: flex;
                    p {
                         padding: 0.5em 2.5%;
                         width: 28.3%;
                         font-size: 1.2rem;
                         text-align: center;
                         position: relative;
                         &:nth-of-type(1) {
                              border-right: 2px solid white;
                              // background: govuk-colour("light-grey");
                              .description {
                                   bottom: -3em;
                              }
                         }
                         &:nth-of-type(2) {
                              // background: govuk-colour("light-grey");
                              border-right: 2px solid white;
                              .description {
                                   bottom: -4.25em;
                              }
                         }
                         &:nth-of-type(3) {
                              .description {
                                   bottom: -1.75em;
                              }
                         }
                         .description {
                              position: absolute;
                              font-size: 0.75rem;
                              left: 0;
                              bottom: -3em;
                              width: 100%;
                              text-align: center;
                              font-weight: normal;
                         }
                    }
               }
          }
     }
     div {
          width: 33%;
          margin-right: 3%;
          background: govuk-colour("turquoise");
          padding: 2%;
          display: flex;
          flex-direction: column;
          // justify-content: flex-end;
          &:last-of-type {
               margin-right: 0;
          }
          &.transfer-funds-remaining, &.transfer-funds {
               background: govuk-colour("light-grey");
               // border-left: 10px solid govuk-colour("turquoise");
               p {
                    color: black;
               }
          }
          &.transfer-funds-remaining {
               padding: 0;
               div {
                    padding: 1.5em 1.5em 0.5em 1.5em;
                    width: auto;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    background: govuk-colour("light-grey");
                    // width: 100%;
                    &.multiple-values {
                         display: none;
                         padding: 0;
                         border-top: 3px solid white;
                         flex-direction: row;
                         justify-content: flex-end;
                         p {
                              padding: 0.5em 1.5em;
                              width: 50%;
                              font-size: 1.2rem;
                              &:nth-of-type(1) {
                                   border-right: 2px solid white;
                                   // background: govuk-colour("light-grey");
                              }
                              &:nth-of-type(2) {
                                   background: govuk-colour("light-grey");
                              }
                         }
                    }
                    p {
                         color: black;
                    }
               }
          }
          // &.transfer-funds-non-pledge {
          //      ul {
          //           padding: 0;
          //           margin: 0.25em 0 0 0;
          //           li {
          //                list-style: none;
          //                float: left;
          //                width: auto;
          //                margin-right: 0;
          //                a {
          //                     padding: 0.5em;
          //                     text-decoration: none;
          //                     font-weight: bold;
          //                     font-size: 0.75rem;
          //                     color: black;
          //                     &:active, &:hover, &:focus {
          //                          outline: none;
          //                          box-shadow: none;
          //                          background: govuk-colour("turquoise");
          //                          border-radius: 20px;
          //                          color: white;
          //                     }
          //                     &.selected {
          //                          background: govuk-colour("turquoise");
          //                          border-radius: 20px;
          //                          color: white;
          //                     }
          //                }
          //           }
          //      }
          // }
          p {
               color: white;
               font-weight: bold;
               margin: 0;
               font-size: 0.875rem;
               &.number {
                    font-size: 3rem;
               }
          }
     }
}

.transfer-values-prototype {
     .transfer-values {
          &.transfer-values-2021 {
               padding: 0;
               div.transfer-funds-remaining {
                    div.multiple-values {
                         display: none;
                    }
               }
          }
     }
     &.mvs-version {
          .transfer-values {
               div {
                    &.transfer-funds-remaining {
                         padding: 2%;
                    }
               }
          }
     }
     &.mvs-projected-values {
          .transfer-values {
               div {
                    background: govuk-colour("light-grey");
                    // border-left: 10px solid govuk-colour("turquoise");
                    p {
                         color: black;
                         &.number {
                              font-size: 2rem;
                         }
                    }
               }
          }
     }
}

.transfer-values-V2 {
     .transfer-values {
          &.transfer-values-2021 {
               padding-bottom: 0em;
               div {
                    &.transfer-funds-remaining {
                         padding-bottom: 2%;
                         .govuk-warning-text__icon {
                              position: relative;
                              left: 0;
                              min-width: 20px;
                              min-height: 20px;
                              font-size: 14px;
                              line-height: 14px;
                              margin-right: 8px;
                         }
                    }
               }
          }
     }
}

.transfer-values-V3 {
     .transfer-values {
          &.transfer-values-2021 {
               padding-bottom: 0em;
          }
     }
}

details {
     &.tranfer-values-projected {
          margin: 0;
          .govuk-details__text {
               border: none;
               padding: 0;
          }
     }
}
