.transfers-title {
     margin-bottom: 0;
}

table {
     &.pledge-complete-table, &.application-complete-table, &.application-deleted-table, &.applications-table {
          thead {
               tr {
                    th {
                         background: govuk-colour("light-grey");
                         border: 4px solid white;
                         text-align: center;
                         padding: 0.5em 0;
                    }
               }
          }
          tbody {
               tr {
                    &.new-pledge {
                         td {
                              background: rgba(29,112,60,0.1);
                         }
                    }
                    td {
                         text-align: center;
                         border: 4px solid white;
                         padding: 0.5em 0;
                    }
               }
          }
     }
     &.applications-table {
          thead {
               tr {
                    border: none;
                    th {
                         padding: 1em 0.5em;
                         background: none;
                         border: none;
                         border-bottom: 4px solid black;
                         text-align: left;
                         color: $govuk-brand-colour;
                         text-decoration: underline;
                         font-size: 1rem;
                    }
               }
          }
          tbody {
               tr {
                    border-bottom: 5px solid govuk-colour("light-grey");
                    // &:nth-of-type(even) {
                    //      background: govuk-colour("light-grey");
                    // }
                    // &:last-of-type {
                    //      border-bottom: none;
                    // }
                    td {
                         padding: 1em 0.5em;
                         text-align: left;
                         font-size: 1rem;
                         // border-bottom: 2px solid govuk-colour("light-grey");
                         &:last-child {
                              padding-right: 0.5em;
                         }
                         a, p {
                              margin: 0;
                              font-size: 1rem;
                         }
                         p {
                              // &.cross {
                              //      color: $govuk-error-colour;
                              // }
                              &.application-approved, &.application-rejected {
                                   display: none;
                              }
                              &.application-approved {
                                   color: $govuk-success-colour;
                              }
                              &.application-rejected {
                                   color: $govuk-error-colour;
                              }
                         }
                         .icon {
                              display: inline-block;
                              &.cross, &.rejected {
                                   width: 0.85em;
                                   height: 0.85em;
                                   margin: 0 0.65em -0.1em 0;
                              }
                              &.tick, &.approved {
                                   width: 1em;
                                   height: 1em;
                                   margin: 0 0.5em -0.2em 0;
                              }
                         }
                    }
               }
          }
     }
}

table {
     &.application-deleted-table {
          tbody {
               tr {
                    &.new-pledge {
                         td {
                              background: white;
                              border-bottom: 1px solid govuk-colour("light-grey");
                         }
                    }
               }
          }
     }
}

.transfer-values {
     display: flex;
     margin: 1.5em 0 1.5em;
     div {
          width: 33%;
          margin-right: 3%;
          background: govuk-colour("turquoise");
          padding: 2%;
          &:last-of-type {
               margin-right: 0;
          }
          &.transfer-funds-remaining, &.transfer-funds-non-pledge {
               background: govuk-colour("light-grey");
               // border-left: 10px solid govuk-colour("turquoise");
               p {
                    color: black;
               }
          }
          p {
               color: white;
               font-weight: bold;
               margin: 0;
               font-size: 1rem;
               &.number {
                    font-size: 3rem;
               }
          }
     }
}
