{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <h1 class="govuk-heading-xl">You do not need to take any more action</h1>

               <p>The pledge will automatically close on the 5th April 2022.</p>

               <p>Applications that are waiting approval by you or waiting for acceptance by the applicant will be rejected at this time.</p>

               <p><br></p>

               <a href="7-my-pledges" class="govuk-button">Continue</a>

          </div>

     </div>

</div>

{% endblock %}
