<div class="search-filter">
     <h4 class="govuk-heading-s">Apply filter</h4>
     <div class="filters">

          <!-- FILTER - 1 - START -->
          <details class="govuk-details" data-module="govuk-details" data-search-filter="location">
               <summary class="govuk-details__summary"><span class="govuk-details__summary-text">Your location</span></summary>
               <div class="govuk-details__text">
                    <div class="govuk-form-group">
                         <fieldset class="govuk-fieldset">
                              <div class="govuk-checkboxes govuk-checkboxes--small search-locations-filter">
                                   <!-- <div class="govuk-checkboxes__item select-all">
                                        <input class="govuk-checkboxes__input" id="search-location-all" name="search-location" type="checkbox" value="All locations in England">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-location-all">All locations in England</label>
                                   </div> -->
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-location-east-mids" name="search-location" type="checkbox" value="East Midlands" rel="east-mids" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-location-east-mids">East Midlands</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-location-east-eng" name="search-location" type="checkbox" value="East of England" rel="east-eng" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-location-east-eng">East of England</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-location-london" name="search-location" type="checkbox" value="Greater London" rel="london" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-location-london">Greater London</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-location-north-east" name="search-location" type="checkbox" value="North East" rel="north-east" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-location-north-east">North East</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-location-north-west" name="search-location" type="checkbox" value="North West England" rel="north-west" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-location-north-west">North West England</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-location-south-east" name="search-location" type="checkbox" value="South East England" rel="south-east" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-location-south-east">South East England</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-location-south-west" name="search-location" type="checkbox" value="South West England" rel="south-west" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-location-south-west">South West England</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-location-west" name="search-location" type="checkbox" value="West Midlands" rel="west-mids" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-location-west">West Midlands</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-location-york" name="search-location" type="checkbox" value="Yorkshire and the Humber" rel="yorks" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-location-york">Yorkshire and the Humber</label>
                                   </div>
                              </div>
                         </fieldset>
                    </div>
               </div>
          </details>
          <!-- FILTER - 1 - END -->

          <!-- FILTER - 2 - START -->
          <details class="govuk-details" data-module="govuk-details" data-search-filter="sector">
               <summary class="govuk-details__summary"><span class="govuk-details__summary-text">Your business sector</span></summary>
               <div class="govuk-details__text">
                    <div class="govuk-form-group">
                         <fieldset class="govuk-fieldset">
                              <div class="govuk-checkboxes govuk-checkboxes--small search-sector-filter">
                                   <!-- <div class="govuk-checkboxes__item select-all">
                                        <input class="govuk-checkboxes__input" id="search-sector-all" name="_search-sector" type="checkbox" value="Select all" onClick="toggle(this)">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-sector-all">Select all</label>
                                   </div> -->
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-sector-agriculture" name="search-sector" type="checkbox" value="Agriculture, environmental and animal care" rel="sector-agriculture" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-sector-agriculture">Agriculture, environmental and animal care</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-sector-business" name="search-sector" type="checkbox" value="Business and administration" rel="sector-business" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-sector-business">Business and administration</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-sector-care" name="search-sector" type="checkbox" value="Care services" rel="sector-care" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-sector-care">Care services</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-sector-catering" name="search-sector" type="checkbox" value="Catering and hospitality" rel="sector-catering" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-sector-catering">Catering and hospitality</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-sector-construction" name="search-sector" type="checkbox" value="Construction" rel="sector-construction" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-sector-construction">Construction</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-sector-creative" name="search-sector" type="checkbox" value="Creative and design" rel="sector-creative" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-sector-creative">Creative and design</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-sector-digital" name="search-sector" type="checkbox" value="Digital" rel="sector-digital" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-sector-digital">Digital</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-sector-education" name="search-sector" type="checkbox" value="Education and childcare" rel="sector-education" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-sector-education">Education and childcare</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-sector-engineering" name="search-sector" type="checkbox" value="Engineering and manufacturing" rel="sector-engineering" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-sector-engineering">Engineering and manufacturing</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-sector-hair" name="search-sector" type="checkbox" value="Hair and beauty" rel="sector-hair" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-sector-hair">Hair and beauty</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-sector-health" name="search-sector" type="checkbox" value="Health and science" rel="sector-health" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-sector-health">Health and science</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-sector-legal" name="search-sector" type="checkbox" value="Legal, finance and accounting" rel="sector-legal" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-sector-legal">Legal, finance and accounting</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-sector-protective" name="search-sector" type="checkbox" value="Protective services" rel="sector-protective" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-sector-protective">Protective services</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-sector-sales" name="search-sector" type="checkbox" value="Sales, marketing and procurement" rel="sector-sales" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-sector-sales">Sales, marketing and procurement</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-sector-transport" name="search-sector" type="checkbox" value="Transport and logistics" rel="sector-transport" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-sector-transport">Transport and logistics</label>
                                   </div>
                              </div>
                         </fieldset>
                    </div>
               </div>
          </details>
          <!-- FILTER - 2 - END -->

          <!-- FILTER - 3 - START -->
          <details class="govuk-details" data-module="govuk-details" data-search-filter="training">
               <summary class="govuk-details__summary"><span class="govuk-details__summary-text">Category of apprenticeship training</span></summary>
               <div class="govuk-details__text">
                    <div class="govuk-form-group">
                         <fieldset class="govuk-fieldset">
                              <div class="govuk-checkboxes govuk-checkboxes--small search-training-filter">
                                   <!-- <div class="govuk-checkboxes__item select-all">
                                        <input class="govuk-checkboxes__input" id="search-training-all" name="_search-training" type="checkbox" value="Select all" onClick="toggle(this)">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-training-all">Select all</label>
                                   </div> -->
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-training-agriculture" name="search-training" type="checkbox" value="Agriculture, environmental and animal care" rel="training-agriculture" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-training-agriculture">Agriculture, environmental and animal care</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-training-business" name="search-training" type="checkbox" value="Business and administration" rel="training-business" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-training-business">Business and administration</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-training-care" name="search-training" type="checkbox" value="Care services" rel="training-care" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-training-care">Care services</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-training-catering" name="search-training" type="checkbox" value="Catering and hospitality" rel="training-catering" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-training-catering">Catering and hospitality</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-training-construction" name="search-training" type="checkbox" value="Construction" rel="training-construction" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-training-construction">Construction</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-training-creative" name="search-training" type="checkbox" value="Creative and design" rel="training-creative" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-training-creative">Creative and design</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-training-digital" name="search-training" type="checkbox" value="Digital" rel="training-digital" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-training-digital">Digital</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-training-education" name="search-training" type="checkbox" value="Education and childcare" rel="training-education" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-training-education">Education and childcare</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-training-engineering" name="search-training" type="checkbox" value="Engineering and manufacturing" rel="training-engineering" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-training-engineering">Engineering and manufacturing</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-training-hair" name="search-training" type="checkbox" value="Hair and beauty" rel="training-hair" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-training-hair">Hair and beauty</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-training-health" name="search-training" type="checkbox" value="Health and science" rel="training-health" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-training-health">Health and science</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-training-legal" name="search-training" type="checkbox" value="Legal, finance and accounting" rel="training-legal" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-training-legal">Legal, finance and accounting</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-training-protective" name="search-training" type="checkbox" value="Protective services" rel="training-protective" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-training-protective">Protective services</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-training-sales" name="search-training" type="checkbox" value="Sales, marketing and procurement" rel="training-sales" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-training-sales">Sales, marketing and procurement</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-training-transport" name="search-training" type="checkbox" value="Transport and logistics" rel="training-transport" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-training-transport">Transport and logistics</label>
                                   </div>
                              </div>
                         </fieldset>
                    </div>
               </div>
          </details>
          <!-- FILTER - 3 - END -->

          <!-- FILTER - 4 - START -->
          <details class="govuk-details" data-module="govuk-details" data-search-filter="level">
               <summary class="govuk-details__summary"><span class="govuk-details__summary-text">Apprenticeship qualification level</span></summary>
               <div class="govuk-details__text">
                    <div class="govuk-form-group">
                         <fieldset class="govuk-fieldset">
                              <div class="govuk-checkboxes govuk-checkboxes--small search-level-filter">
                                   <!-- <div class="govuk-checkboxes__item select-all">
                                        <input class="govuk-checkboxes__input" id="search-level-all" name="search-level" type="checkbox" value="Select all levels">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-level-all">Select all levels</label>
                                   </div> -->
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-level-two" name="search-level" type="checkbox" value="Level 2 - GCSE" rel="level-two" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-level-two">Level 2 - GCSE</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-level-three" name="search-level" type="checkbox" value="Level 3 - A level" rel="level-three" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-level-three">Level 3 - A level</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-level-four" name="search-level" type="checkbox" value="Level 4 - higher national certificate (HNC)" rel="level-four" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-level-four">Level 4 - higher national certificate (HNC)</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-level-five" name="search-level" type="checkbox" value="Level 5 - higher national diploma (HND)" rel="level-five" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-level-five">Level 5 - higher national diploma (HND)</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-level-six" name="search-level" type="checkbox" value="Level 6 - degree" rel="level-six" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-level-six">Level 6 - degree</label>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search-level-seven" name="search-level" type="checkbox" value="Level 7 - master’s degree" rel="level-seven" onchange="change();">
                                        <label class="govuk-label govuk-checkboxes__label" for="search-level-seven">Level 7 - master’s degree</label>
                                   </div>
                              </div>
                         </fieldset>
                    </div>
               </div>
          </details>
          <!-- FILTER - 4 - END -->

     </div>
</div>
