{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation-sender-secondary.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry" id="transfers-hub">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <h1 class="govuk-heading-xl">Find a business to transfer your levy to by creating a transfers pledge</h1>

               <form method="post" action="1-funding" id="">

                    <p>To help you find another business to transfer your levy funding to, you can:</p>

                    <ol class="govuk-list govuk-list--number">
                         <li>Set the criteria of how you want to spend your levy</li>
                         <li>Create a public funding pledge that is searchable online</li>
                         <li>Review and approve applications</li>
                         <li>Connect with your chosen business and confirm details of the transfer</li>
                     </ol>

                    <p><br></p>

                    <button class="govuk-button" data-module="govuk-button" id="">Continue</button>

                    <a href="javascript:history.back()" class="govuk-link govuk-link-secondary govuk-link--no-visited-state">Cancel</a>

               </form>

          </div>

     </div>

</div>

{% endblock %}
