{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <span class="govuk-caption-m">Find a business to fund training for your apprentices</span>
               <h1 class="govuk-heading-xl">Your BARRY & BARRY Ltd (910106) application details</h1>

               <div class="govuk-warning-text application-status-one">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                         <span class="govuk-warning-text__assistive">Warning</span>
                         Application status: <span class="govuk-tag govuk-tag">FUNDS USED</span>
                    </strong>
                    <!--
                    <strong class="govuk-warning-text__text">
                         <span class="govuk-warning-text__assistive">Warning</span>
                         Application status: <span class="govuk-tag govuk-tag--grey">Awaiting approval</span>
                    </strong>
                    -->  
               </div>

               <div class="govuk-warning-text application-status-one-accepted">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                         <span class="govuk-warning-text__assistive">Warning</span>
                         <span class="govuk-tag">approved, awaiting your acceptance</span> Barry & Barry Ltd have approved your application - <strong id="date-stamp"></strong>
                    </strong>
               </div>

               <div class="accepted-text-hide">
                    <h2 class="govuk-heading-m">Funds balance</h2>
               </div>

               <section class="employer-contact-details">
                    <p><strong>Accepted:</strong> £18,000 <br>
                      <strong>Used:</strong> £18,000 <br>
                      <strong>remaining:</strong> £0
                    </p>
               </section>

               <!--
               <div class="accepted-text-hide">
                    <h2 class="govuk-heading-m">Which criteria do you match?</h2>
                    <section class="employer-contact-details">
                         <ul class="govuk-list">
                              <li><span class="icon tick"></span>Location: <strong>SW12AT</strong></li>
                              <li><span class="icon tick"></span>Sector: <strong>Construction, Engineering and manufacturing</strong></li>
                              <li><span class="icon tick"></span>Job role & level: <strong>Bricklayer (level 2)</strong></li>
                         </ul>
                    </section>
               </div>
               -->

               <div class="accepted-text-hide">
                    <h2 class="govuk-heading-m">About your apprenticeship training course</h2>
               </div>

               <section class="employer-contact-details">
                    <p><strong>Apprenticeship training course:</strong> Bricklayer (level 2)</p>
                    <p><strong>Number of apprentices:</strong> 2</p>
                    <p><strong>Estimated total cost:</strong> £18,000</p>
                    <p><strong>Apprenticeship training to start by:</strong> 06/2021</p>
               </section>

               <!--
               <div class="accepted-text-hide">
                    <details class="govuk-details" data-module="govuk-details">
                         <summary class="govuk-details__summary">
                         <span class="govuk-details__summary-text">
                              More details about your apprenticeship
                         </span>
                         </summary>
                         <div class="govuk-details__text">
                              <h2 class="govuk-heading-m">Details about your apprenticeship</h2>

                              <section class="employer-contact-details">
                                   <p>Lorum ipsum colabra roman senarus dolore causare sempre.</p>
                              </section>

                              <h2 class="govuk-heading-m">Your organisation's details</h2>

                              <section class="employer-contact-details">
                                   <p><strong>Your organisation name:</strong> Belhavel Construction Ltd</p>
                                   <p><strong>Contact name:</strong> John Doe</p>
                                   <p><strong>Email address:</strong>
                                        john.doe@belhavel.com, john.doe2@belhavel.com
                                   </p>
                                   <p><strong>Your website:</strong> www.belhavel.com</p>
                              </section>

                         </div>
                    </details>
               </div>
               -->

               <br>

               <!--
               <form method="post" action="my-applications-4" id="">

               <button class="govuk-button" data-module="govuk-button">Use funds</button>
               -->

               <!--

               <a href="my-applications-4" class="govuk-button">Accept funding</a> &nbsp;&nbsp;&nbsp;&nbsp;
               <a href="application-4" class="govuk-button govuk-button--warning accepted-journey-cancel-button" id="delete-application">Cancel application</a>

               -->

               <br>

               <a href="my-application-3" class="govuk-link govuk-link-secondary govuk-link--no-visited-state govuk-back-link">Back</a>

          </div>

          <!--
          <div class="govuk-grid-column-one-third">
               <section class="employer-details side-panel">
                    <p class="govuk-heading-s">Funds balance</p>
                    <p class="details">
                         Accepted: <strong >£20,000</strong><br>
                         Used: <strong>£0</strong><br>
                         Remaining: <strong>£20,000</strong><br>
                    </p>
               </section>
          </div>
          -->

          <!--
          <div class="govuk-grid-column-one-third">
               <section class="employer-details side-panel">
                    <p class="govuk-heading-s">BARRY & BARRY Ltd (910106) wants to fund apprenticeship training in:</p>
                    <p class="details">
                         Location: <strong >Manchester, Liverpool, Leeds</strong><br>
                         Sector: <strong>Construction, Engineering and manufacturing</strong><br>
                         Type of job role: <strong>Business and administration, Construction, Digital</strong><br>
                         Level: <strong>Level 4 - HNC, Level 5 - HND, Level 6 - degree</strong>
                    </p>
                    <div class="total">
                         <p class="govuk-heading-s">Total funding available:<br>up to £65,000</span> in 2021/22</p>
                    </div>
               </section>
          </div>
          -->

     </div>

</div>

{% endblock %}
