{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container" id="transfers-hub">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="my-account-2">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="transfers-2">Transfers</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">My applications</a></li>
          </ol>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <h1 class="govuk-heading-xl">My applications</h1>

          </div>
     </div>

     <div class="govuk-grid-row">

          <div class="govuk-grid-column-full">

               <!-- 
               <div class="govuk-panel govuk-panel--confirmation" id="application-approved-banner">
                    <h1 class="govuk-panel__title">You have accepted funding from <strong class="pledge-name-answer">####</strong></h1>
               </div>
               -->

               <!--
               <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" id="application-cancelled-banner">
                    <div class="govuk-notification-banner__header">
                         <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Important</h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                         <ul class="govuk-list govuk-list--bullet">
                              <li class="alert-one">You have cancelled your application <strong>Opportunity (123465)</strong> - <span class="govuk-tag govuk-tag--yellow">Cancelled</span></li>
                              <li class="alert-two">Your application to <strong>Finders Keepers Ltd (684509)</strong> has been rejected  - <span class="govuk-tag govuk-tag--red">Rejected</span></li>
                              <li class="alert-three">Your application to <strong class="pledge-name-answer">####</strong> has been accepted - <span class="govuk-tag">Accepted</span></li>
                              <li class="alert-four">You have approved the application to <strong class="pledge-name-answer">####</strong> - <span class="govuk-tag govuk-tag--green">Approved</span></li>
                         </ul>
                    </div>
               </div> 
               -->


               <!-- <p class="no-applications">You have no pending applications.</p> -->
               <p>You have <strong class="number-of-applications">3</strong> transfer applications.</p>

               <div class="accepted-text-hide">
                    <details class="govuk-details" data-module="govuk-details">
                         <summary class="govuk-details__summary">
                         <span class="govuk-details__summary-text">
                              More details about the status
                         </span>
                         </summary>
                         <div class="govuk-details__text">

                              <section>

                                   <p>The approval status shows the status of each application.</p>

                                   <p>It could be:
                                   <li>awaiting approval </li>
                                   <li>approved, awaiting your acceptance </li>
                                   <li>unsuccessful </li>
                                   <li>funds available to use </li>
                                   <li>withdrawn </li>
                                   </p>

                                   <p>If your application has been approved, you'll need to accept the funding offer by selecting the opportunity.</p>

                                   <p>Funds will show as available to use if your application has been approved and you have acccepted the offer. You'll then need to add your apprentices and their training provider to your account.</p>

                                   <p>The status shows as withdrawn if you have cancelled your application or decided to decline an offer of funding.</p>

                              </section>

                         </div>
                    </details>
               </div>

               <table class="govuk-table">
                    <thead class="govuk-table__head">
                         <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Opportunity</th>
                              <th scope="col" class="govuk-table__header">Estimated total cost</th>
                              <th scope="col" class="govuk-table__header" width="200px;"> Approval status</th>
                         </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                         <tr class="govuk-table__row">
                              <td class="govuk-table__cell">
                                   <strong>
                                        <a href="application-7" class="pledge-name-answer govuk-link--no-visited-state">BARRY & BARRY Ltd (910106)</a>
                                        <br>
                                   </strong>
                                   <span class="govuk-caption-m">Date: 07/27/2021 20:42pm</span>
                              </td>
                              <td class="govuk-table__cell">£18,000</td>
                              <td class="govuk-table__cell" width="240px;" style="text-align: left">
                                   <span class="govuk-tag govuk-tag">FUNDS AVAILABLE TO USE</span>
                              </td>
                         </tr>

                         <tr class="govuk-table__row">
                              <td class="govuk-table__cell">
                                   <strong>
                                        <a href="#" class="govuk-link--no-visited-state">Finders Keepers Ltd (684509)</a>
                                        <br>
                                   </strong>
                                   <span class="govuk-caption-m">Date: 06/27/2021 09:45pm</span>
                              </td>
                              <td class="govuk-table__cell">£25,000</td>
                              <td class="govuk-table__cell" style="text-align: left">
                                   <span class="govuk-tag govuk-tag--grey">Awaiting approval</span>
                              </td>
                         </tr>

                         <tr class="govuk-table__row">
                              <td class="govuk-table__cell">
                                   <strong>
                                        <a href="#" class="govuk-link--no-visited-state">Opportunity (123465)</a>
                                        <br>
                                   </strong>
                                   <span class="govuk-caption-m">Date: 05/27/2021 17:58pm</span>
                              </td>
                              <td class="govuk-table__cell">£15,000</td>
                              <td class="govuk-table__cell" style="text-align: left">
                                   <span class="govuk-tag govuk-tag--red">WITHDRAWN</span>
                              </td>
                         </tr>

                    </tbody>
               </table>

               <br>

               <a href="transfers" class="govuk-back-link">Back to transfers</a>

          </div>

     </div>

</div>

{% endblock %}
