{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">

          <div class="govuk-grid-column-full">
               
               <h1 class="govuk-heading-xl">Create a transfers application</h1>
          </div>

          <div class="govuk-grid-column-two-thirds application-core">

               <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
               <p class="govuk-body govuk-!-margin-bottom-7">You have completed 1 of 8 sections.</p> -->

               <!-- <p>Create a transfers funding pledge that will be shown online so that businesses can apply to you for funding.</p>

               <p>The amount you choose and the criteria you set will be displayed publicly.</p>

               <p>You can choose whether or not to show your organisation's name publicly.</p> -->

               <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                         <span class="govuk-warning-text__assistive">Warning</span> All your details will be passed to the employer who owns the transfer funding. Please ensure that the information you provide is truthful and accurate.
                    </strong>
               </div>

               <ol class="app-task-list">

                    <!-- SECTION - ONE - START -->
                    <li>
                         <h2 class="app-task-list__section">
                              <span class="app-task-list__section-number number-one">1. </span>
                              Apprenticeship training
                              <strong class="govuk-tag govuk-tag app-task-list__tag">COMPLETED</strong>
                         </h2>
                         <ul class="app-task-list__items" style="margin-bottom: 30px;">
                              <li class="app-task-list__item">
                                   <h3 class="govuk-heading-s">Apprenticeship one</h3>
                                   <span class="app-task-list__task-name">
                                        <a href="new-transfer-application-1">Job role</a>
                                   </span>
                                   <p>Bricklayer (level 2)</p>
                              </li>
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="new-transfer-application-1">Number of apprentices</a>
                                   </span>
                                   <p>2</p>
                              </li>
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="new-transfer-application-1">Start by</a>
                                   </span>
                                   <p>6/2021</p>
                              </li>
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="new-transfer-application-1">Have you found a training provider?</a>
                                   </span>
                                   <p>No</p>
                              </li>
                         </ul>

                         <!--
                         <div style="display: inline-block;width: auto;float: left;"> 
                              <button class="govuk-button" data-module="govuk-button">
                                   <span class="icon add white"></span>Add another apprenticeship
                              </button>
                         </div>
                         -->
                         
                         <div style="display: inline-block;width: auto;float: right;">
                         
                              <h3 class="govuk-heading-m apprenticeship-total" style="display: inline-block;">
                                   Total: <strong style="color: #1d70b8">£2,880</strong>
                                   <br>
                                   <span class="govuk-body govuk-!-font-size-16">for financial year 2021/22</span>
                              </h3>
                         </div>

                    </li>
                    <!-- SECTION - ONE - END -->

                    <!-- SECTION - TWO - START -->
                    <li class="pledge-section-two">
                         <h2 class="app-task-list__section">
                              <span class="app-task-list__section-number">2. </span>
                              Your business details
                              <strong class="govuk-tag govuk-tag app-task-list__tag">COMPLETED</strong>
                         </h2>
                         <ul class="app-task-list__items">
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="new-transfer-application-2">Sector</a>
                                   </span>
                                   <p>Construction <br>Engineering and manufacturing</p>
                              </li>
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="new-transfer-application-2">Location</a>
                                   </span>
                                   <p>SW12AT</p>
                              </li>
                         </ul>
                    </li>
                    <!-- SECTION - TWO - END -->

                    <!-- SECTION - THREE - START -->
                    <li class="pledge-section-three">
                         <h2 class="app-task-list__section">
                              <span class="app-task-list__section-number">3. </span>
                              About your apprenticeship
                              <strong class="govuk-tag govuk-tag app-task-list__tag">COMPLETED</strong>
                         </h2>
                         <ul class="app-task-list__items">
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="new-transfer-application-3">More detail</a>
                                   </span>
                                   <p>Lorum ipsum colabra roman senarus dolore causare sempre.</p>
                              </li>
                         </ul>
                    </li>
                    <!-- SECTION - THREE - END -->

                    <!-- SECTION - FOUR - START -->
                    <li>
                         <h2 class="app-task-list__section">
                              <span class="app-task-list__section-number">4. </span>
                              Contact details
                              <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                         </h2>
                         <ul class="app-task-list__items">
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="new-transfer-application-4">Name</a>
                                   </span>
                                   <p>-</p>
                              </li>
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="new-transfer-application-4">Email address</a>
                                   </span>
                                   <p>-</p>
                              </li>
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="new-transfer-application-4">Business website</a>
                                   </span>
                                   <p>-</p>
                              </li>
                         </ul>
                    </li>
                    <!-- SECTION - FOUR - END -->

               </ol>

               <!--

               <div class="submit-transfer-application">

                    <div class="govuk-warning-text funding-over">
                         <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                         <strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive">Warning</span> Your application exceeds the transfer funding set by <span class="pledge-name-answer">####</span>. We will notify them of this.</strong>
                    </div>

                    <h2 class="govuk-heading-m">Submit your transfers application</h2>

                    <p class="govuk-body">I confirm that I want to make the above application so I can receive funding from another business for apprenticeship training.</p>

                    <form action="6-confirmation" method="post" novalidate>

                         <input type="hidden" name="answers-checked" value="true">
                         <div class="govuk-button-group">
                              <button class="govuk-button" data-module="govuk-button" id="application-confirm-continue">Submit my application</button>
                         </div>

                    </form>

               </div>

               -->

               <a href="#" class="govuk-link govuk-link--no-visited-state">Cancel application</a>

          </div>

          <div class="govuk-grid-column-one-third">
               <section class="employer-details side-panel">
                    <p class="govuk-heading-s">BARRY & BARRY Ltd (910106) wants to fund apprenticeship training in:</p>
                    <p class="details">
                         Location: <strong >Manchester, Liverpool, Leeds</strong><br>
                         Sector: <strong>Construction, Engineering and manufacturing</strong><br>
                         Type of job role: <strong>Business and administration, Construction, Digital</strong><br>
                         Level: <strong>Level 4 - HNC, Level 5 - HND, level 6 - degree</strong>
                    </p>
                    <div class="total">
                         <p class="govuk-heading-s">Total funding available:<br>up to £65,000</span> in 2021/22</p>
                    </div>
               </section>
          </div>

     </div>

</div>

{% endblock %}
