{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="my-account">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="transfers">Transfers</a></li>
          </ol>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <h1 class="govuk-heading-xl">Manage transfers</h1>

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
               <h2 class="govuk-heading-m">Apply for transfers funding</h2>
               <p>Search transfers funding opportunities and apply for a transfer of funds.</p>
               <div class="govuk-inset-text">You have <strong class="number-of-applications">0</strong> transfer applications.</div>
               <a href="start-new-search" class="govuk-button" data-module="govuk-button">Apply for transfer opportunities</a>
               <a href="my-applications" class="govuk-button govuk-button--secondary" data-module="govuk-button">View my transfer applications</a>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <p style="border-top: 2px solid #b1b4b6;margin-top: 20px;margin-bottom: 40px;"></p>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
               <h2 class="govuk-heading-m">My transfer connections</h2>
               <p>If you know a business you want to transfer funds to, you can make a connection to them and set up a transfer.</p>
               <p>You'll need to know their apprenticeship service account ID number.</p>
               <p>If you want to receive a transfer from a business you know, discuss details with them and give them your apprenticeship service account ID number so they can send you a connection request.</p>
               <!--
               <div class="govuk-inset-text">You have <strong class="number-of-connections">0</strong> pending transfer connections.</div>
               -->
               <a href="#" class="govuk-button govuk-button--secondary secondary-overwrite" data-module="govuk-button">Make a transfer to a business I know</a>
          </div>

     </div>

</div>

{% endblock %}
