{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="2-my-account">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-finance">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-transfers">Transfers</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="4-my-pledges">My transfer pledges</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Transfer pledge 910106</a></li>
          </ol>
     </div>

     <p style="padding-bottom: 30px;"></p>

     <!-- /////////////////// REJECTED MESSAGE - START ///////////////////-->
     {% if data['approve_application'] == "No" %}
          <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" id="approve_application_banner">
               <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
               </div>
               <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">Transfer application rejected</h3>
                    <p class="govuk-body">You rejected the transfer application from Johnson and Johnson Building Co.</p>
               </div>
          </div>
     {% else %}

     {% endif %}
     <!-- /////////////////// REJECTED MESSAGE - END ///////////////////-->


     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <h1 class="govuk-heading-xl">
                    Transfer pledge 910106
                    <!-- <span class="govuk-caption-m">Applications for your transfer pledge: <strong>4</strong></span> -->
               </h1>

          </div>
     </div>

     <div>
          <details class="govuk-details">
               <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">Information about the applications</span>
               </summary>
               <div class="govuk-details__text">
                    <p><span class="govuk-body govuk-!-font-weight-bold">Estimated cost in this financial year </span> <br>
                         This is an estimate of the cost of training for each application in this financial year. It is based on the funding band maximum and the planned start date of training.
                    </p>
               </div>
          </details>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <table class="govuk-table">
                    <thead class="govuk-table__head">
                         <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header" width="250px">Applicant</th>
                              <th scope="col" class="govuk-table__header" width="120px">
                                   <div class="small-text">
                                        Estimated cost 2021/22
                                   </div>
                              </th>
                              <th scope="col" class="govuk-table__header" width="120px">Typical duration</th>
                              <th scope="col" class="govuk-table__header">Criteria</th>
                              <th scope="col" class="govuk-table__header">Date applied</th>
                              <th scope="col" class="govuk-table__header" width="100">Status</th>
                         </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                         <tr class="govuk-table__row" data-table-row="one">
                              <td class="govuk-table__cell"><a href="#">Belhavel Construction Ltd</a></td>
                              <td class="govuk-table__cell">£2,900 <!--<br><p style="color: grey; padding-top: 5px;font-size: 16px;">Length of apprenticeship training: 24 months</p>-->
                              </td>
                              <td class="govuk-table__cell">30 months </td>
                              <td class="govuk-table__cell">
                                   100% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Sector <br>
                                        &#8226; Type of job role <br>
                                        &#8226; Level
                                   </p>
                              </td>
                              <td class="govuk-table__cell">23/03/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Awaiting approval</strong></td>
                         </tr>
                         <tr class="govuk-table__row" data-table-row="two">
                              <td class="govuk-table__cell"><a href="#">CBJ Engineering</a></td>
                              <td class="govuk-table__cell">£36,000 </td>
                              <td class="govuk-table__cell">24 months </td>
                              <td class="govuk-table__cell">
                                   75% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Sector <br>
                                        &#8226; Type of job role
                                   </p>
                              </td>
                              <td class="govuk-table__cell">15/03/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">AWAITING ACCEPTANCE BY APPLICANT</strong></td>
                         </tr>
                         <tr class="govuk-table__row">
                              <td class="govuk-table__cell"><a href="7-pledge-application">Johnson and Johnson Building Co</a></td>
                              <td class="govuk-table__cell">£7,500 </td>
                              <td class="govuk-table__cell">24 months </td>
                              <td class="govuk-table__cell">
                                   50% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Sector <br>
                                        &#8226; Type of job role
                                   </p>
                              </td>
                              <td class="govuk-table__cell">28/03/2021</td>
                              <td class="govuk-table__cell">
                                   {% if data['approve_application'] == "No" %}
                                        <strong class="govuk-tag govuk-tag--red">Rejected</strong>
                                   {% elseif data['approve_application'] == "Yes" %}
                                        <strong class="govuk-tag govuk-tag--yellow">AWAITING ACCEPTANCE BY APPLICANT</strong>
                                   {% else %}
                                        <strong class="govuk-tag govuk-tag--blue">Awaiting approval</strong>
                                   {% endif %}
                              </td>
                         </tr>
                         <tr class="govuk-table__row">
                              <td class="govuk-table__cell"><a href="#">123 Windows Co</a></td>
                              <td class="govuk-table__cell">£1,000 </td>
                              <td class="govuk-table__cell">18 months</td>
                              <td class="govuk-table__cell">
                                   0% match
                              </td>
                              <td class="govuk-table__cell">21/03/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Withdrawn by applicant</strong></td>
                         </tr>
                    </tbody>
               </table>

               <br>

               <a href="#" class="govuk-button">Create a new transfer pledge</a>

               <a href="#" class="govuk-button govuk-link-secondary govuk-button--warning accepted-journey-cancel-button no-margin-top">Close pledge</a>

               <div class="pledge-values">
                    <h3 class="govuk-heading-l">
                         <strong>
                              {% if data['pledge_amount'] %}
                                   £<span class="value-format">{{ data['pledge_amount'] }}</span>
                              {% else %}
                                   £65,000
                              {% endif %}
                         </strong>
                         <div class="sub-text">Pledge funds for 2021/22</div>
                    </h3>
                    <h3 class="govuk-heading-l">
                         <strong>
                              {% if data['pledge_amount'] %}
                                   {% if data['accept_application'] == 'Accept' %}
                                        <strong style="color: #1d70b8">£27,100</strong>
                                   {% else %}
                                        <strong style="color: #1d70b8">£30,000</strong>
                                   {% endif %}
                              {% else %}
                                   {% if data['accept_application'] == 'Accept' %}
                                        <span style="color: #1d70b8">£20,000</span>
                                   {% else %}
                                        <span style="color: #1d70b8">£29,000</span>
                                   {% endif %}
                              {% endif %}
                         </strong>
                         <div class="sub-text">Remaining pledge funds for 2021/22</div>
                    </h3>
               </div>

               <br>

               <a href="4-my-pledges" class="govuk-back-link">Back to my transfer pledges</a>

               <hr class="govuk-section-break dotted no-margin-top">

               <a href="#" class="download-csv black-version">
                    <span class="black-download"></span>
                    <div>Download applications - excel</div>
               </a>

               <p><br></p>
               <p><br></p>

          </div>

     </div>

</div>

{% endblock %}
