{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="2-my-account">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-finance">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-transfers">Transfers</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="4-my-pledges">My transfer pledges</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Transfer pledge 910105</a></li>
          </ol>
     </div>

     <p style="padding-bottom: 30px;"></p>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <h1 class="govuk-heading-xl">Transfer pledge 910107</h1>
               {% if data['delete_pledge'] == "Yes" %}
                    <div class="govuk-warning-text">
                         <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                         <strong class="govuk-warning-text__text">
                              <span class="govuk-warning-text__assistive">Warning</span>
                              This pledge is now: <span class="govuk-tag govuk-tag--grey">Inactive</span>
                         </strong>
                    </div>
               {% else %}

               {% endif %}
          </div>
     </div>

     <div>
          <details class="govuk-details">
               <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">Information about the applications</span>
               </summary>
               <div class="govuk-details__text">
                    <p><span class="govuk-body govuk-!-font-weight-bold">Estimated cost in this financial year </span> <br>
                         This is an estimate of the cost of training for each application in this financial year. It is based on the funding band maximum and the planned start date of training.
                    </p>
               </div>
          </details>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <table class="govuk-table">
                    <thead class="govuk-table__head">
                         <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header" width="250px">Applicant</th>
                              <th scope="col" class="govuk-table__header" width="120px">Estimated cost 2021/22</th>
                              <th scope="col" class="govuk-table__header" width="120px">Typical duration</th>
                              <th scope="col" class="govuk-table__header">Criteria</th>
                              <th scope="col" class="govuk-table__header">Date applied</th>
                              <th scope="col" class="govuk-table__header" width="100">Status</th>
                         </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                         <tr class="govuk-table__row" data-table-row="one">
                              <td class="govuk-table__cell" colspan="6" style="text-align: center;">No applications received yet</td>
                         </tr>
                    </tbody>
               </table>

               <br>

               {% if data['delete_pledge'] == "Yes" %}
                    <a href="#" class="govuk-button">Create a new transfer pledge</a>

                    <div class="pledge-values">
                         <h3 class="govuk-heading-l">
                              <strong>£<span class="value-format">42000</span></strong>
                              <div class="sub-text">Pledge funds for 2021/22</div>
                         </h3>
                         <h3 class="govuk-heading-l">
                              <strong>£<span class="value-format">42000</span></strong>
                              <div class="sub-text">Remaining pledge funds for 2021/22</div>
                         </h3>
                    </div>
               {% else %}
                    <a href="#" class="govuk-button">Create a new transfer pledge</a>

                    <a href="6-delete-pledge" class="govuk-button govuk-link-secondary govuk-button--warning accepted-journey-cancel-button no-margin-top">Close pledge</a>

                    <div class="pledge-values">
                         <h3 class="govuk-heading-l">
                              <strong>£<span class="value-format">42000</span></strong>
                              <div class="sub-text">Pledge funds for 2021/22</div>
                         </h3>
                         <h3 class="govuk-heading-l">
                              <strong>£<span class="value-format">42000</span></strong>
                              <div class="sub-text">Remaining pledge funds for 2021/22</div>
                         </h3>
                    </div>
               {% endif %}

               <br>

               <a href="4-my-pledges" class="govuk-back-link">Back to my transfer pledges</a>

               <hr class="govuk-section-break dotted no-margin-top">

               <a href="#" class="download-csv black-version">
                    <span class="black-download"></span>
                    <div>Download applications - excel</div>
               </a>

               <p><br></p>
               <p><br></p>

          </div>

     </div>

</div>

{% endblock %}
