
{% extends "layout-email.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
     <!-- <div class="email-banner">
          <img src="/public/images/ESFA-logo.jpg" alt="Education & Skills Funding Agency">
     </div> -->
{% endblock %}

{% block content %}

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <h1 class="govuk-heading-m">BARRY & BARRY LTD you have 10 applications to your transfer pledge ready to review.</h1>

               <p class="govuk-body">
                    Sign in to your apprenticeship service account and start reviewing applications.
               </p>

               <button class="govuk-button margin-top" data-module="govuk-button">View my transfer pledges and applications</button>

               <p class="govuk-body">
                    This is an automated message. Please don't reply to this email.
               </p>

               <p class="govuk-body">
                    Kind regards,<br>
                    <strong>Apprenticeship service team</strong>
               </p>

          </div>

     </div>

{% endblock %}
