{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation-sender-secondary.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry" id="transfers-hub">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <span class="govuk-caption-m">Find an employer to transfer your levy to</span>
               <h1 class="govuk-heading-xl">Do you work with another organisation to manage transfers?</h1>

               <form method="post" action="8-check-answers" id="pledge-intermediaries-form">

                    <p>For example, a local enterprise partnership, a skills body or a mayoral or local authority.</p>

                    <p>You can share your pledge with them to help you promote the opportunity and support the employer receiving the transfer through the process.</p>

                    <div class="govuk-form-group">
                         <fieldset class="govuk-fieldset">
                              <legend class="govuk-fieldset__legend">
                                   <h1 class="govuk-fieldset__heading">Do you want to share your pledge with another organisation?</h1>
                              </legend>
                              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="pledge-intermediaries-yes" name="pledge-intermediaries" type="radio" value="Yes" data-aria-controls="pledge-intermediaries-emails">
                                        <label class="govuk-label govuk-radios__label" for="pledge-intermediaries-yes">Yes</label>
                                   </div>
                                   <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="pledge-intermediaries-emails">

                                        <div class="updates-emails">
                                             <div id="emails" data-email-count="{{numberOfEmails}}">

                                                  <div class="govuk-form-group">
                                                       <label class="govuk-label" for="pledge-email[url1]">Email address</label>
                                                       <input class="govuk-input govuk-!-width-three-quarters" id="pledge-email[url1]" name="pledge-email[url1]" type="email" spellcheck="false">
                                                  </div>

                                                  {% for url, email in emails -%}
                                                       {% if url != 'url1' %}
                                                       {% if email != '' %}
                                                            <div class="govuk-form-group">
                                                                 <label class="govuk-label" for="pledge-email[{{url}}]">Email address</label>
                                                                 <input class="govuk-input govuk-!-width-three-quarters" id="pledge-email[{{url}}]" name="pledge-email[{{url}}]" type="email" spellcheck="false">
                                                                 <p class="govuk-body">
                                                                      <a class="govuk-link govuk-link--no-visited-state" data-remove="{{url}}" href="#">remove</a>
                                                                 </p>
                                                            </div>
                                                       {% endif %}
                                                       {% endif %}
                                                  {%- endfor %}
                                             </div>
                                             <p class="govuk-body govuk-!-margin-bottom-6">
                                                  <a class="govuk-link govuk-link--no-visited-state add-emails" href="#" id="addAnotherEmail">Add another email</a>
                                             </p>
                                        </div>

                                   </div>
                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="pledge-intermediaries-no" name="pledge-intermediaries" type="radio" value="No">
                                        <label class="govuk-label govuk-radios__label" for="pledge-intermediaries-no">No</label>
                                   </div>
                              </div>

                         </fieldset>
                    </div>

                    <button class="govuk-button" data-module="govuk-button" id="pledge-intermediaries-continue">Continue</button>

                    <a href="9-cancel-pledge" class="govuk-link govuk-link-secondary govuk-link--no-visited-state">Cancel pledge</a>

                    <hr>

                    <p><br></p>
                    <p>
                         <a href="#">Advice about making transfers in your area or sector</a> can be offered by other organisations such as your local authority, mayoral combined authority, local enterprise partnerships or an industry body.
                    </p>

               </form>

          </div>

     </div>

</div>

{% endblock %}
