{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="2-my-account">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-finance">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-transfers">Transfers</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">My transfer pledges</a></li>
          </ol>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
               <p><br></p>
               <h1 class="govuk-heading-xl">My transfer pledges</h1>
          </div>
     </div>

     <div class="govuk-grid-row">

          <div class="govuk-grid-column-full">

               <p>You have <strong>1</strong> transfer pledge.</p>

               <table class="govuk-table">
                    <thead class="govuk-table__head">
                         <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Transfer pledge</th>
                              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Pledged to transfers</th>
                              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Approved for apprenticeships</th>
                              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Remaining funds</th>
                              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Applications</th>
                              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
                              <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
                         </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                         <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header"><a href="5-pledge-details" style="font-weight: 400;">910106</a></th>
                              <td class="govuk-table__cell govuk-table__cell--numeric">
                                   {% if data['new_pledge_amount'] %}
                                        £<span class="value-format">{{ data['new_pledge_amount'] }}</span>
                                   {% else %}
                                        £<span class="value-format">65000</span>
                                   {% endif %}
                              </td>
                              <td class="govuk-table__cell govuk-table__cell--numeric">£36,000</td>
                              <td class="govuk-table__cell govuk-table__cell--numeric">
                                   {% if data['new_pledge_amount'] %}
                                        £<span class="value-format">{{ data['new_pledge_amount'] - 29000 }}</span>
                                   {% else %}
                                        £<span class="value-format">29000</span>
                                   {% endif %}
                              </td>
                              <td class="govuk-table__cell govuk-table__cell--numeric">30</td>
                              <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag">Active</strong></td>
                              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="./edit-pledge/5-new-pledge-details">Edit</a></td>
                         </tr>
                    </tbody>
               </table>

               <br>

               <a href="#" class="govuk-button" data-module="govuk-button">Create a transfer pledge</a>

               <br><br>

          </div>

     </div>

</div>

{% endblock %}
