{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="2-my-account">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-finance">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-transfers">Transfers</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="4-my-pledges">My transfer pledges</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Transfer pledge 910106</a></li>
          </ol>
     </div>

     {% if data['accept_application'] == 'Reject' %}
          <p><br></p>
          <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
               <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
               </div>
               <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">Application rejected</h3>
                    <p class="govuk-body">You rejected the Belhavel Construction Ltd application.</p>
               </div>
          </div>
     {% else %}

     {% endif %}

     {% if data['accept_application'] == 'Reject' %}

     {% else %}
          <p><br></p>
     {% endif %}

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-xl no-margin-bottom">Transfer pledge 910106</h1>
               <details class="govuk-details">
                    <summary class="govuk-details__summary">
                         <span class="govuk-details__summary-text">Information about the applications</span>
                    </summary>
                    <div class="govuk-details__text">
                         <p><span class="govuk-body govuk-!-font-weight-bold">Estimated cost in this financial year </span> <br>
                              This is an estimate of the cost of training for each application in this financial year. It is based on the funding band maximum and the planned start date of training.
                         </p>
                    </div>
               </details>
          </div>

          <div class="govuk-grid-column-one-third">
               <div class="side-panel-applications">
                    <a href="#" class="download-csv black-version float-right">
                         <span class="black-download"></span>
                         <div>Download applications - excel</div>
                    </a>
               </div>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
               <div class="pledge-values top-version">
                    <h3 class="govuk-heading-l">
                         <strong>£<span class="value-format">65000</span></strong>
                         <div class="sub-text">Pledge funds for 2021/22</div>
                    </h3>
                    <h3 class="govuk-heading-l">
                         <strong>£<span class="value-format">29000</span></strong>
                         <div class="sub-text">Remaining pledge funds for 2021/22</div>
                    </h3>
               </div>
          </div>

          <div class="govuk-grid-column-one-half">

          </div>

     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <table class="govuk-table applications-table in-tab padding-override" id="new-applications-table" data-page-length='50'>
                    <thead class="govuk-table__head">
                         <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header sort-section" width="22.5%" onclick="sortTable(1)">Applicant</th>
                              <th scope="col" class="govuk-table__header sort-section" width="15%" onclick="sortTable(2)">Estimated cost 2021/22</th>
                              <th scope="col" class="govuk-table__header sort-section" width="12.5%" onclick="sortTable(3)">Typical duration</th>
                              <th scope="col" class="govuk-table__header sort-section" width="17.5%" onclick="sortTable(4)">Criteria</th>
                              <th scope="col" class="govuk-table__header sort-section" width="10%" onclick="sortTable(5)" data-class-name="priority">Date applied</th>
                              <th scope="col" class="govuk-table__header sort-section" width="20%" onclick="sortTable(6)">Status</th>
                         </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                         <tr class="govuk-table__row" data-table-row="one">
                              <td class="govuk-table__cell">
                                   <a href="6A-application-details">Belhavel Construction Ltd</a>
                                   <!-- <span class="govuk-caption-m">Date applied: </span> -->
                              </td>
                              <td class="govuk-table__cell">
                                   <span class="hide-content">C</span>
                                   £2,900
                              </td>
                              <td class="govuk-table__cell">30 months</td>
                              <td class="govuk-table__cell">
                                   <span class="hide-content">A</span> 100% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location<br>
                                        &#8226; Sector<br>
                                        &#8226; Type of job role<br>
                                        &#8226; Level
                                   </p>
                              </td>
                              <td class="govuk-table__cell">23/03/2021</td>
                              <td class="govuk-table__cell">
                                   {% if data['accept_application'] == 'Accept' %}
                                        <strong class="govuk-tag govuk-tag--yellow">AWAITING ACCEPTANCE BY APPLICANT</strong>
                                   {% elseif data['accept_application'] == 'Reject' %}
                                        <strong class="govuk-tag govuk-tag--red">Rejected</strong>
                                   {% else %}
                                        <strong class="govuk-tag govuk-tag--blue">Awaiting approval</strong>
                                   {% endif %}
                              </td>
                         </tr>
                         <tr class="govuk-table__row" data-table-row="two">
                              <td class="govuk-table__cell">
                                   <a href="#">CBJ Engineering</a>
                                   <!-- <span class="govuk-caption-m">Date applied: </span> -->
                              </td>
                              <td class="govuk-table__cell">
                                   <span class="hide-content">A</span>
                                   £36,000
                              </td>
                              <td class="govuk-table__cell">24 months</td>
                              <td class="govuk-table__cell">
                                   <span class="hide-content">B</span> 75% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Sector <br>
                                        &#8226; Type of job role
                                   </p>
                              </td>
                              <td class="govuk-table__cell">15/03/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">AWAITING ACCEPTANCE BY APPLICANT</strong></td>
                         </tr>
                         <tr class="govuk-table__row">
                              <td class="govuk-table__cell">
                                   <a href="#">Johnson and Johnson Building Co</a>
                                   <!-- <span class="govuk-caption-m">Date applied: </span> -->
                              </td>
                              <td class="govuk-table__cell">
                                   <span class="hide-content">B</span>
                                   £7,500
                              </td>
                              <td class="govuk-table__cell">24 months </td>
                              <td class="govuk-table__cell">
                                   <span class="hide-content">C</span> 50% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Sector <br>
                                        &#8226; Type of job role
                                   </p>
                              </td>
                              <td class="govuk-table__cell">28/03/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Rejected</strong></td>
                         </tr>
                         <tr class="govuk-table__row">
                              <td class="govuk-table__cell">
                                   <a href="#">123 Windows Co</a>
                                   <!-- <span class="govuk-caption-m">Date applied: </span> -->
                              </td>
                              <td class="govuk-table__cell">
                                   <span class="hide-content">D</span>
                                   £1,000
                              </td>
                              <td class="govuk-table__cell">18 months </td>
                              <td class="govuk-table__cell">
                                   <span class="hide-content">E</span> 0% match
                              </td>
                              <td class="govuk-table__cell">21/03/2021</td>
                              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Withdrawn by applicant</strong></td>
                         </tr>
                    </tbody>
               </table>

               <p><br></p>

               <a href="#" class="govuk-button">Create a new transfer pledge</a>

               <a href="13-delete-pledge" class="govuk-button govuk-link-secondary govuk-button--warning accepted-journey-cancel-button no-margin-top">Close pledge</a>

               <br>

               <a href="4-my-pledges" class="govuk-back-link">Back to my transfer pledges</a>

               <!-- <hr class="govuk-section-break dotted no-margin-top">

               <a href="#" class="download-csv black-version">
                    <span class="black-download"></span>
                    <div>Download applications - excel</div>
               </a> -->

          </div>

     </div>

</div>

{% endblock %}
