{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <a href="javascript:history.back()" class="govuk-back-link">Back</a>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <!-- ////////////////////////// ERROR MESSAGE - START ////////////////////////// -->
               <div class="govuk-error-summary location-error-message" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                         <ul class="govuk-list govuk-error-summary__list">
                              <li class="confirm-location_2"><a href="#confirm-location_2">Please select a location</a></li>
                              <li class="confirm-location_3"><a href="#confirm-location_3">Please select a location</a></li>
                         </ul>
                    </div>
               </div>
               <!-- ////////////////////////// ERROR MESSAGE - END ////////////////////////// -->

               <h1 class="govuk-heading-xl">There are multiple locations based on your selected locations</h1>

               <form method="post" action="location_duplicate_2">

                    <div class="govuk-form-group" id="confirm-location_2">
                         <fieldset class="govuk-fieldset">
                              <legend class="govuk-fieldset__legend">Please select the correct location</legend>
                              <span id="location-confirm-error_2" class="govuk-error-message">
                                   <span class="govuk-visually-hidden">Error:</span> Please select a location
                              </span>
                              <div class="govuk-radios">
                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="location_duplicate_one" name="location_duplicate_2" type="radio" value="Stratford and New Town, Greater London" {{ checked("location_duplicate", "Stratford and New Town, Greater London") }}>
                                        <label class="govuk-label govuk-radios__label" for="location_duplicate_one">Stratford and New Town, Greater London</label>
                                   </div>
                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="location_duplicate_two" name="location_duplicate_2" type="radio" value="Stratford St Mary, Suffolk" {{ checked("location_duplicate", "Stratford St Mary, Suffolk") }}>
                                        <label class="govuk-label govuk-radios__label" for="location_duplicate_two">Stratford St Mary, Suffolk</label>
                                   </div>
                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="location_duplicate_three" name="location_duplicate_2" type="radio" value="Stratford-upon-Avon, Warwickshire" {{ checked("location_duplicate", "Warwick Bridge, Cumbria") }}>
                                        <label class="govuk-label govuk-radios__label" for="location_duplicate_three">Stratford-upon-Avon, Warwickshire</label>
                                   </div>
                              </div>
                         </fieldset>
                    </div>

                    <div class="govuk-form-group" id="confirm-location_3">
                         <fieldset class="govuk-fieldset">
                              <legend class="govuk-fieldset__legend">Please select the correct location</legend>
                              <span id="location-confirm-error_3" class="govuk-error-message">
                                   <span class="govuk-visually-hidden">Error:</span> Please select a location
                              </span>
                              <div class="govuk-radios">
                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="location_duplicate_four" name="location_duplicate_3" type="radio" value="London Colney, Hertfordshire" {{ checked("location_duplicate", "London Colney, Hertfordshire") }}>
                                        <label class="govuk-label govuk-radios__label" for="location_duplicate_four">London Colney, Hertfordshire</label>
                                   </div>
                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="location_duplicate_five" name="location_duplicate_3" type="radio" value="London Fields, Greater London" {{ checked("location_duplicate", "London Fields, Greater London") }}>
                                        <label class="govuk-label govuk-radios__label" for="location_duplicate_five">London Fields, Greater London</label>
                                   </div>
                              </div>
                         </fieldset>
                    </div>

                    <a href="5-new-pledge-details#section-2"class="govuk-button" data-module="govuk-button" id="pledge-location-confirmation">Continue</a>
                    <a class="govuk-button confirm-error-message_2" data-module="govuk-button">Continue</a>

                    <a href="javascript:history.back()" class="govuk-link govuk-link-secondary govuk-link--no-visited-state govuk-back-link">Back</a>

               </form>

          </div>

     </div>

</div>

{% endblock %}
