{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">

          <div class="govuk-grid-column-full">

               <h1 class="govuk-heading-xl" style="margin-bottom: 40px;">Forecast</h1>

               <p>This is a forecast of the estimated costs for this apprenticeship by financial year (FY). <br> <p/>

               <table class="govuk-table">
                    <thead class="govuk-table__head">
                         <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header"> </th>
                              <th width="110" scope="col" class="govuk-table__header govuk-table__header--numeric">FY 2021/22</th>
                              <th width="110" scope="col" class="govuk-table__header govuk-table__header--numeric">FY 2022/23</th>
                              <th width="110" scope="col" class="govuk-table__header govuk-table__header--numeric">FY 2023/24</th>
                              <th width="110" scope="col" class="govuk-table__header govuk-table__header--numeric">FY 2024/25</th>
                              <th width="110" scope="col" class="govuk-table__header govuk-table__header--numeric">FY 2025/26</th>
                         </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                         <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">1 apprentices: Bricklayer level 2</th>
                              <td class="govuk-table__cell govuk-table__cell--numeric">£2,900</td>
                              <td class="govuk-table__cell govuk-table__cell--numeric">£2,900</td>
                              <td class="govuk-table__cell govuk-table__cell--numeric">£3,200</td>
                              <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
                              <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
                         </tr>
                    </tbody>
               </table>

               <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                         <span class="govuk-details__summary-text">About the forecast</span>
                    </summary>
                    <div class="govuk-details__text">
                         <p>The forecast uses an estimated total cost of training, based on the funding band maximum for this apprenticeship.</p>

                         <p>The yearly estimated costs are based on the planned start date of training and the 20% completion payment. It uses the financial year starting April.</p>

                         <p>As the estimated costs are based on information provided in the application to receive transfer funding, and details such as planned start and end dates and final agreed costs may change, the forecast can only be an estimate.</p>
                    </div>
               </details>

               <br>

               <a href="6A-application-details" class="govuk-button govuk-button">Return to application details</a>

               <br>
               <br>
               <br>

          </div>

     </div>

</div>

{% endblock %}
