{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation-sender-secondary.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry" id="transfers-hub">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <span class="govuk-caption-m">Find a business to fund training for your apprentices</span>
               <h1 class="govuk-heading-xl">
                    Reject funding and cancel pledge application to BARRY & BARRY Ltd (910106)
               </h1>

          </div>

          <div class="govuk-grid-column-two-thirds">

               <form method="post" action="../my-applications" id="delete-application-form">

                    {% from "govuk/components/radios/macro.njk" import govukRadios %}
                    {% from "govuk/components/input/macro.njk" import govukInput %}

                    {{ govukRadios({
                    idPrefix: "delete-application",
                         name: "delete-application",
                         fieldset: {
                              legend: {
                                   text: "Are you sure you want to reject the funding and cancel the application?",
                                   isPageHeading: false
                              }
                         },
                         items: [
                              {
                                   value: "Yes, reject the funding and cancel the application",
                                   text: "Yes, reject the funding and cancel the application"
                              },
                              {
                                   value: "No, accept funding",
                                   text: "No, accept funding"
                              }
                         ]
                    }) }}

                    <button class="govuk-button" data-module="govuk-button" id="delete-application-continue">Continue</button>

                    <a href="javascript:history.back()" class="govuk-link govuk-link-secondary govuk-link--no-visited-state govuk-back-link">Back</a>

               </form>

          </div>

     </div>

</div>

{% endblock %}
