{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation-sender-secondary.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry" id="transfers-hub">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

               <span class="govuk-caption-m">Find a business to fund training for your apprentices</span>
               <h1 class="govuk-heading-xl">
                    Accept funding from <span class="pledge-name-answer">####</span>
               </h1>

               <form method="post" action="../my-applications" id="accept-application-form">

                    {% from "govuk/components/radios/macro.njk" import govukRadios %}
                    {% from "govuk/components/input/macro.njk" import govukInput %}

                    {% set yesAcceptHtml %}
                         <p>By accepting a transfer of funds from <strong>BARRY & BARRY Ltd (910106)</strong>, I agree that they will pay the full cost of apprenticeship training and assessment using the levy funds in their apprenticeship service account.</p>

                         <p>This will be paid monthly direct to my chosen training provider over the duration of the training course.</p>

                         <p>I confirm that all the information I have provided is correct and truthful. I confirm that I will only use the transferred funds for the apprenticeships agreed with <strong>BARRY & BARRY Ltd (910106)</strong>.</p>

                         <p>I will add the details of my apprentice(s) to my apprenticeship service account, or ask my training provider to.</p>

                         <p><span class="pledge-name-answer">####</span> will then need to review and approve the transfer.</p>
                    {% endset -%}

                    {{ govukRadios({
                    idPrefix: "accept-application",
                         name: "accept-application",
                         fieldset: {
                              legend: {
                                   text: "Are you sure you want to accept the funding?",
                                   isPageHeading: false
                              }
                         },
                         items: [
                              {
                                   value: "yes, accept the funding",
                                   text: "Yes, accept the funding",
                                   conditional: {
                                        html: yesAcceptHtml
                                   }
                              },
                              {
                                   value: "no, reject the funding and cancel the application",
                                   text: "No, reject the funding and cancel the application"
                              }
                         ]
                    }) }}

                    <button class="govuk-button" data-module="govuk-button" id="approve-application-continue">Continue</button>

                    <a href="javascript:history.back()" class="govuk-link govuk-link-secondary govuk-link--no-visited-state govuk-back-link">Back</a>

               </form>

          </div>

     </div>

</div>

{% endblock %}
