{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation-sender-secondary.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry" id="transfers-hub">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <span class="govuk-caption-m">Find a business to fund training for your apprentices</span>
               <h1 class="govuk-heading-xl">
                    Would you like to use the same details to apply for <span class="pledge-name-answer main-title">Opportunity (1234)</span>'s application?
               </h1>

               <form method="post" action="" id="">

                    {% from "govuk/components/radios/macro.njk" import govukRadios %}
                    {% from "govuk/components/input/macro.njk" import govukInput %}

                    {{ govukRadios({
                    idPrefix: "reapply-application",
                         name: "reapply-application",
                         fieldset: {
                              legend: {
                                   text: "Select which option you would like to proceed with",
                                   isPageHeading: false
                              }
                         },
                         items: [
                              {
                                   value: "Yes, apply using the same details application",
                                   text: "Yes, apply using the same details application"
                              },
                              {
                                   value: "No, I would like to change the application",
                                   text: "No, I would like to change the application"
                              }
                         ]
                    }) }}

                    <button class="govuk-button" data-module="govuk-button" id="delete-application-continue">Continue</button>

                    <a href="javascript:history.back()" class="govuk-link govuk-link-secondary govuk-link--no-visited-state govuk-back-link">Back</a>

               </form>

          </div>

     </div>

</div>

{% endblock %}
