{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation-sender-secondary.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry" id="transfers-hub">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <span class="govuk-caption-m">Transfer matching service</span>
               <h1 class="govuk-heading-xl">
                    Approve <span class="highlight-text">Belhavel Construction Ltd</span> application
                    <span class="govuk-caption-m">Birmingham, West Midlands</span>
               </h1>

          </div>

          <div class="govuk-grid-column-two-thirds">

               <form method="post" action="1-pledge-details" id="approve-pledge-form">

                    {% from "govuk/components/radios/macro.njk" import govukRadios %}
                    {% from "govuk/components/input/macro.njk" import govukInput %}

                    {% set approveAllHtml %}
                         <p>By fully approving this application, I am:</p>
                         <ul class="govuk-list govuk-list--bullet">
                              <li>agreeing to pay the full costs of this apprenticeship training to completion</li>
                              <li>accepting that funds for this transfer will take priority over funds for my own apprentices and transfers funding will leave my account first</li>
                              <li>not responsible or liable for anything else relating to this apprenticeship</li>
                         </ul>
                         <p>Belhavel Construction Ltd is bound by the funding rules for the levy transfer they receive.</p>
                    {% endset -%}

                    {{ govukRadios({
                    idPrefix: "approve-application",
                         name: "approve-application",
                         fieldset: {
                              legend: {
                                   text: "How would you like to proceed with the application?",
                                   isPageHeading: false
                              }
                         },
                         items: [
                              {
                                   value: "approve all",
                                   text: "Approve employer and all apprentices",
                                   conditional: {
                                        html: approveAllHtml
                                   },
                                   hint: {
                                        text: "I don't need to see the details again unless something changes"
                                   }
                              },
                              {
                                   value: "approve with manual",
                                   text: "Approve employer I still want to approve the apprentices",
                                   hint: {
                                        text: "I want to review and approve the details when Belhavel Construction Ltd have added their apprentice to their account"
                                   }
                              }
                         ]
                    }) }}

                    <button class="govuk-button" data-module="govuk-button" id="approve-pledge-continue">Continue</button>

                    <a href="javascript:history.back()" class="govuk-link govuk-link-secondary govuk-link--no-visited-state">Cancel</a>

               </form>

          </div>

     </div>

</div>

{% endblock %}
