{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation-sender-secondary.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry" id="transfers-hub">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row" id="sender-check-answers">
          <div class="govuk-grid-column-two-thirds">

               <span class="govuk-caption-m">Make a transfer to a business I know</span>
               <h1 class="govuk-heading-xl">Confirm your transfer details</h1>

               <form action="6-confirmed" method="post" id="" novalidate>

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">I confirm that I want to transfer:</legend>

                    <section class="employer-details">
                         <h2 class="govuk-heading-m">Up to £18,000 of levy funds to Belhavel Construction Ltd</h2>
                         <p>To spend on:</p>
                         <p><strong>Category of apprenticeship training:</strong> {{ data['private-transfer-standard'] }}</p>
                         <p><strong>Maximum cost:</strong> £9,000</p>
                         <p><strong>Duration:</strong> 30 months</p>
                         <p><strong>Apprentices:</strong> {{ data['private-transfer-apprentices'] }}</p>
                    </section>

                    <div class="govuk-form-group">
                         <div class="govuk-checkboxes">
                              <div class="govuk-checkboxes__item">
                                   <input class="govuk-checkboxes__input" id="private-transfer-agreement-1" name="private-transfer-agreement" type="checkbox" value="private-transfer-agreement-1">
                                   <label class="govuk-label govuk-checkboxes__label" for="private-transfer-agreement-1">Up to <strong>£<span class="value-format">{{ data['transfer-private-amount'] }}</span></strong> of levy funds to <strong class="highlight-text">Belhavel Construction Ltd</strong></label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                   <input class="govuk-checkboxes__input" id="private-transfer-agreement-2" name="private-transfer-agreement" type="checkbox" value="private-transfer-agreement-2">
                                   <label class="govuk-label govuk-checkboxes__label" for="private-transfer-agreement-2">To spend on any approved apprenticeship training of their choice</label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                   <input class="govuk-checkboxes__input" id="private-transfer-agreement-3" name="private-transfer-agreement" type="checkbox" value="private-transfer-agreement-3">
                                   <label class="govuk-label govuk-checkboxes__label" for="private-transfer-agreement-3">I accept that I am liable for the total cost of the apprenticeship training and assessment costs of <strong class="highlight-text">Belhavel Construction Ltd</strong> up to a maximum of <strong>£<span class="value-format">{{ data['transfer-private-amount'] }}</span></strong></label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                   <input class="govuk-checkboxes__input" id="private-transfer-agreement-4" name="private-transfer-agreement" type="checkbox" value="private-transfer-agreement-4" aria-describedby="private-transfer-agreement-4-hint">
                                   <label class="govuk-label govuk-checkboxes__label" for="private-transfer-agreement-4">I accept that:</label>
                                   <div id="private-transfer-agreement-4-hint" class="govuk-hint govuk-checkboxes__hint">
                                        <ul class="govuk-list govuk-list--bullet">
                                             <li><strong class="highlight-text">Belhavel Construction Ltd</strong> will be bound by the apprenticeship funding rules</li>
                                             <li>they will only be able to start an apprenticeship with this transfer where the total agreed cost does not exceed <strong>£<span class="value-format">{{ data['transfer-private-amount'] }}</span></strong></li>
                                             <li>they are able to fund more than one apprenticeship with this transfer if the funding available is sufficient</li>
                                             <li>I will not be notified in advance of the training funded by this transfer</li>
                                             <li>payment to the relevant training provider(s) will leave my account on a monthly basis, before funds for my own apprentices</li>
                                        </ul>
                                   </div>
                              </div>

                         </div>
                    </div>

                    <p><br></p>

                    <div class="govuk-button-group">
                         <button class="govuk-button" data-module="govuk-button" id="private-transfer-complete">Continue</button>
                         <a href="../transfers" class="govuk-link govuk-link-secondary govuk-link--no-visited-state">Cancel transfer</a>
                    </div>

               </form>

          </div>

     </div>

</div>

{% endblock %}
