.title-options {
     text-align: right;
     p {
          margin-bottom: 0;
          a {
               margin: 0 0 0 1.25em;
               font-size: 0.85em;
               &:first-of-type {
                    margin-left: 0;
               }
          }
     }
     .funding-wrapper {
          .running-pledge-total {
               width: auto;
               float: right;
          }
     }
}

#pledge-tabs {
     padding: 0;
     .govuk-tabs__list {
          border-bottom: 3px solid govuk-colour("light-grey");
          .govuk-tabs__list-item--selected {
               border: 3px solid govuk-colour("light-grey");
               margin-bottom: -3px;
               border-bottom: 3px solid white;
          }
     }
     .govuk-tabs__panel {
          padding-left: 0;
          padding-right: 0;
          border-left: none;
          border-right: none;
          border-bottom: none;
     }
}

.application {
     border: 3px solid govuk-colour("light-grey");
     margin-bottom: 1.5em;
     border-radius: 8px;
     padding: 1.5em;
     &:last-of-type {
          // border-bottom: none;
          margin-bottom: 2em;
     }
     .title {
          margin-bottom: 0.25em;
          .govuk-tag {
               margin-bottom: 0.5em;
          }
          .govuk-heading-m {
               margin-bottom: 0;
          }
          .govuk-button {
               margin: 0;
               &.govuk-button--warning {
                    margin-left: 0.75em;
               }
          }
          .main-ctas {
               text-align: right;
          }
     }
     .pledge-total {
          padding-top: 0;
     }
     .govuk-details {
          margin-bottom: 0;
          summary {
               margin-bottom: 0;
          }
     }

}
