// Task list pattern

.app-task-list {
     list-style-type: none;
     padding-left: 0;
     margin-top: 0;
     margin-bottom: 0;
     @include govuk-media-query($from: tablet) {
          min-width: 550px;
     }
     .apprentice-section-one {
          ul.app-task-list__items {
               margin-bottom: 1.5em;
               li {
                    &:first-of-type {
                         // padding-top: 0;
                         .govuk-heading-s {
                              margin-top: -0.5em;
                              background: govuk-colour("light-grey");
                              padding: 0.5em;
                              margin-bottom: 0.5em;
                              border-bottom: 1px solid $govuk-border-colour;
                         }
                    }
               }
          }
          .govuk-button {
               margin-left: 1.5em;
               margin-bottom: 3em;
          }
          .apprenticeship-total {
               float: right;
               width: auto;
               margin: 0.125em 0 0 0;
               line-height: 0.75;
               strong {
                    color: $govuk-link-colour;
               }
               .small-text {
                    font-size: 16px;
                    font-weight: normal;
                    color: $govuk-secondary-text-colour;
                    strong {
                         color: black;
                    }
                    // display: inline-block;
                    // clear: both;
               }
          }
     }
}


@media (max-width: 1024px) {

}

@media (max-width: 768px) {
     .app-task-list {
          .pledge-section-one {
               &.apprentice-added {
                    .govuk-button {
                         margin-left: 0em;
                         margin-bottom: 1em;
                    }
                    .apprenticeship-total {
                         margin: 0.75em 0 2em 0;
                         font-size: 2rem;
                         float: left;
                    }
               }
          }
     }
}

@media (max-width: 500px) {

}

.app-task-list__section {
     display: table;
     @include govuk-font($size:24, $weight: bold);
}

.app-task-list__section-number {
     display: table-cell;

     @include govuk-media-query($from: tablet) {
          min-width: govuk-spacing(6);
          padding-right: 0;
     }
}

.app-task-list__items {
     @include govuk-font($size: 19);
     @include govuk-responsive-margin(9, "bottom");
     list-style: none;
     padding-left: 0;
     @include govuk-media-query($from: tablet) {
          padding-left: govuk-spacing(6);
     }
}

.app-task-list__item {
     border-bottom: 1px solid $govuk-border-colour;
     margin-bottom: 0 !important;
     padding-top: govuk-spacing(2);
     padding-bottom: govuk-spacing(2);
     @include govuk-clearfix;
     ul.govuk-list {
          float: right;
          margin-bottom: 0;
          li {
               list-style: none;
               text-align: right;
          }
     }
}

.app-task-list__item:first-child {
     border-top: 1px solid $govuk-border-colour;
}

.app-task-list__task-name {
     display: block;
     @include govuk-media-query($from: 450px) {
          float: left;
     }
}

// The `app-task-list__task-completed` class was previously used on the task
// list for the completed tag (changed in 86c90ec) – it's still included here to
// avoid breaking task lists in existing prototypes.
.app-task-list__tag,
.app-task-list__task-completed {
     margin-top: govuk-spacing(2);
     margin-bottom: govuk-spacing(1);

     @include govuk-media-query($from: 450px) {
          float: right;
          margin-top: 0;
          margin-bottom: 0;
     }
}
