{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation-sender-secondary.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry" id="transfers-hub">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <span class="govuk-caption-m">Find a business to transfer your levy to</span>
               <h1 class="govuk-heading-xl">Categories of apprenticeship training</h1>

               <form method="post" action="6-level" id="pledge-training-form">

                    <div class="govuk-form-group">
                         <fieldset class="govuk-fieldset" aria-describedby="pledge-training-hint">
                              <legend class="govuk-fieldset__legend">Select the categories of training you want to fund.</legend>
                              <div class="govuk-checkboxes">
                                   <div class="govuk-checkboxes__item select-all">
                                        <input class="govuk-checkboxes__input" id="pledge-training-all" name="_pledge-training" type="checkbox" value="Select all" onClick="toggle(this)">
                                        <label class="govuk-label govuk-checkboxes__label" for="pledge-training-all">All categories</label>
                                   </div>

                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="pledge-training-agriculture" name="pledge-training" type="checkbox" value="Agriculture, environmental and animal care" aria-describedby="pledge-training-agriculture-hint">
                                        <label class="govuk-label govuk-checkboxes__label" for="pledge-training-agriculture">Agriculture, environmental and animal care</label>
                                        <div id="pledge-training-agriculture-hint" class="govuk-hint govuk-checkboxes__hint">For example, Veterinary Nurse, Horticulture and Landscape Operative, Equine Groom, Golf Greenkeeper</div>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="pledge-training-business" name="pledge-training" type="checkbox" value="Business and administration" aria-describedby="pledge-training-business-hint">
                                        <label class="govuk-label govuk-checkboxes__label" for="pledge-training-business">Business and administration</label>
                                        <div id="pledge-training-business-hint" class="govuk-hint govuk-checkboxes__hint">For example, Team Leader or Supervisor, Operations or Departmental Manager, Business Administrator, HR support</div>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="pledge-training-care" name="pledge-training" type="checkbox" value="Care services" aria-describedby="pledge-training-care-hint">
                                        <label class="govuk-label govuk-checkboxes__label" for="pledge-training-care">Care services</label>
                                        <div id="pledge-training-care-hint" class="govuk-hint govuk-checkboxes__hint">For example, Social worker (degree), Adult Care Worker, Children, Young People and Families Practitioner, Youth support worker</div>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="pledge-training-catering" name="pledge-training" type="checkbox" value="Catering and hospitality" aria-describedby="pledge-training-catering-hint">
                                        <label class="govuk-label govuk-checkboxes__label" for="pledge-training-catering">Catering and hospitality</label>
                                        <div id="pledge-training-catering-hint" class="govuk-hint govuk-checkboxes__hint">For example, Hospitality Team Member, Hospitality Supervisor, Commis Chef, Production Chef, Baker</div>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="pledge-training-construction" name="pledge-training" type="checkbox" value="Construction" aria-describedby="pledge-training-construction-hint">
                                        <label class="govuk-label govuk-checkboxes__label" for="pledge-training-construction">Construction</label>
                                        <div id="pledge-training-construction-hint" class="govuk-hint govuk-checkboxes__hint">For example, Installation Electrician or Maintenance Electrician, Carpentry and Joinery, Chartered Surveyor (degree), Bricklayer</div>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="pledge-training-creative" name="pledge-training" type="checkbox" value="Creative and design" aria-describedby="pledge-training-creative-hint">
                                        <label class="govuk-label govuk-checkboxes__label" for="pledge-training-creative">Creative and design</label>
                                        <div id="pledge-training-creative-hint" class="govuk-hint govuk-checkboxes__hint">For example, Junior Content Producer, Junior Journalist, Creative Venue Technician, Broadcast Production Assistant</div>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="pledge-training-digital" name="pledge-training" type="checkbox" value="Digital" aria-describedby="pledge-training-digital-hint">
                                        <label class="govuk-label govuk-checkboxes__label" for="pledge-training-digital">Digital</label>
                                        <div id="pledge-training-digital-hint" class="govuk-hint govuk-checkboxes__hint">For example, Infrastructure Technician, Digital and Technology Solutions Professional, Data Analyst, Software Developer</div>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="pledge-training-education" name="pledge-training" type="checkbox" value="Education and childcare" aria-describedby="pledge-training-education-hint">
                                        <label class="govuk-label govuk-checkboxes__label" for="pledge-training-education">Education and childcare</label>
                                        <div id="pledge-training-education-hint" class="govuk-hint govuk-checkboxes__hint">For example, Early Years Educator, Teaching Assistant, Academic Professional, Learning and Skills Teacher</div>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="pledge-training-engineering" name="pledge-training" type="checkbox" value="Engineering and manufacturing" aria-describedby="pledge-training-engineering-hint">
                                        <label class="govuk-label govuk-checkboxes__label" for="pledge-training-engineering">Engineering and manufacturing</label>
                                        <div id="pledge-training-engineering-hint" class="govuk-hint govuk-checkboxes__hint">For example, Engineering Technician, Motor Vehicle Service and Maintenance Technician, Metal fabricator, Aerospace engineer (degree)</div>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="pledge-training-hair" name="pledge-training" type="checkbox" value="Hair and beauty" aria-describedby="pledge-training-hair-hint">
                                        <label class="govuk-label govuk-checkboxes__label" for="pledge-training-hair">Hair and beauty</label>
                                        <div id="pledge-training-hair-hint" class="govuk-hint govuk-checkboxes__hint">For example, Hair Professional, Beauty Therapist, Nail Services Technician</div>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="pledge-training-health" name="pledge-training" type="checkbox" value="Health and science" aria-describedby="pledge-training-health-hint">
                                        <label class="govuk-label govuk-checkboxes__label" for="pledge-training-health">Health and science</label>
                                        <div id="pledge-training-health-hint" class="govuk-hint govuk-checkboxes__hint">For example, Healthcare Support Worker, Dental Nurse, Nursing Associate, Midwife (degree), Laboratory technician</div>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="pledge-training-legal" name="pledge-training" type="checkbox" value="Legal, finance and accounting" aria-describedby="pledge-training-legal-hint">
                                        <label class="govuk-label govuk-checkboxes__label" for="pledge-training-legal">Legal, finance and accounting</label>
                                        <div id="pledge-training-legal-hint" class="govuk-hint govuk-checkboxes__hint">For example, Assistant Accountant, Mortgage adviser, Payroll administrator, Solicitor, Insurance Practitioner</div>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="pledge-training-protective" name="pledge-training" type="checkbox" value="Protective services" aria-describedby="pledge-training-protective-hint">
                                        <label class="govuk-label govuk-checkboxes__label" for="pledge-training-protective">Protective services</label>
                                        <div id="pledge-training-protective-hint" class="govuk-hint govuk-checkboxes__hint">For example, HM Forces Serviceperson, Police Constable, Operational Firefighter, Custody and Detention Officer</div>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="pledge-training-sales" name="pledge-training" type="checkbox" value="Sales, marketing and procurement" aria-describedby="pledge-training-sales-hint">
                                        <label class="govuk-label govuk-checkboxes__label" for="pledge-training-sales">Sales, marketing and procurement</label>
                                        <div id="pledge-training-sales-hint" class="govuk-hint govuk-checkboxes__hint">For example, Customer Service Practitioner, Digital Marketer, Retail Team Leader, Junior estate agent</div>
                                   </div>
                                   <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="pledge-training-transport" name="pledge-training" type="checkbox" value="Transport and logistics" aria-describedby="pledge-training-transport-hint">
                                        <label class="govuk-label govuk-checkboxes__label" for="pledge-training-transport">Transport and logistics</label>
                                        <div id="pledge-training-transport-hint" class="govuk-hint govuk-checkboxes__hint">For example, Large Goods Vehicle (LGV) Driver, Supply Chain Warehouse Operative, Cabin Crew, Train driver</div>
                                   </div>
                              </div>
                         </fieldset>
                    </div>

                    <button class="govuk-button" data-module="govuk-button" id="pledge-training-continue">Continue</button>

                    <a href="9-cancel-pledge" class="govuk-link govuk-link-secondary govuk-link--no-visited-state">Cancel pledge</a>

               </form>

          </div>

     </div>

</div>

{% endblock %}
