{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">


               <h1 class="govuk-heading-xl">Provide more detail about your apprenticeship</h1>

               <p>This information will help the business offering the funding opportunity to make a decision about accepting your application.</p>

               <p>In the box below, tell us about:</p>

               <ul class="govuk-list govuk-list--bullet">
                    <li>your organisation</li>
                    <li>why you want an apprentice</li>
                    <li>how you will support the apprentice</li>
               </ul>

               <p>Do not include personal or financial information like your bank account details.</p>

               <form method="post" action="7-new-transfer-application#section-3" id="">

                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="200">
                         <div class="govuk-form-group">
                              <textarea class="govuk-textarea govuk-js-character-count" id="pledge-application-more-details" name="pledge-application-more-details" rows="5" aria-describedby="pledge-application-more-details-hint pledge-application-more-details-info">{{ data['pledge-application-more-details'] }}</textarea>
                         </div>
                         <div id="pledge-application-more-details-info" class="govuk-hint govuk-character-count__message" aria-live="polite">You can enter up to 200 words</div>
                    </div>

                    <p><br></p>

                    <button class="govuk-button" data-module="govuk-button" id="application-more-details">Continue</button>

                    <!-- <a href="javascript:history.back()" class="govuk-link govuk-link-secondary govuk-link--no-visited-state govuk-back-link">Back</a> -->

               </form>

          </div>

          <div class="govuk-grid-column-one-third">
               <section class="employer-details side-panel">
                    <p class="govuk-heading-s"><span class="pledge-name-answer">####</span> wants to fund apprenticeship training in:</p>
                    <p class="details">
                         Location: <strong class="pledge-location-answer">####</strong><br>
                         Sector: <strong class="pledge-sector-answer">####</strong><br>
                         Type of job role: <strong class="pledge-training-answer">####</strong><br>
                         Level: <strong class="pledge-level-answer">####</strong>
                    </p>
                    <div class="total">
                         <p class="govuk-heading-s">Total funding available:<br>up to £<span class="pledge-value-answer value-format">####</span> in 2021/22</p>
                    </div>
               </section>
          </div>

     </div>

</div>

{% endblock %}
