{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-my-account">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="4-finance">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="5-transfers">Transfers</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="7-my-pledges">My transfer pledges</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Transfer pledge 910105</a></li>
          </ol>
     </div>

     <p><br></p>

     <!-- /////////////////// PLEDGE 2022 MESSAGE - START ///////////////////-->
     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               {% if data['pledge_actions_910105'] == "New pledge" and data['confirm_910105'] == "New pledge" %}
                    <div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                         <div class="govuk-notification-banner__header">
                              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
                         </div>
                         <div class="govuk-notification-banner__content">
                              {% if data['confirm_carry_over_910105'] == "Carry over" %}
                                   <p class="govuk-notification-banner__heading">
                                        You have created a new pledge 100356, this will go live on the 6th April 2022.
                                   </p>
                                   <p class="govuk-body">
                                        On the 5th April, all applications "awaiting approval" and "awaiting acceptance by applicant" will be carried forward into the renewed pledge.
                                   </p>
                              {% elseif data['confirm_carry_over_910105'] == "Dont carry over" %}
                                   <p class="govuk-notification-banner__heading">
                                        You have created a new pledge 100356, this will go live on the 6th April 2022.
                                   </p>
                                   <p class="govuk-body">
                                        On the 5th April, all the applications below will be automatically rejected, except 'accepted'.
                                   </p>
                              {% endif %}
                         </div>
                    </div>
               {% else %}
                    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                         <div class="govuk-notification-banner__header">
                              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Important</h2>
                         </div>
                         <div class="govuk-notification-banner__content">
                              <p class="govuk-notification-banner__heading">
                                   This pledge is set to automatically close on 5th April 2021.
                              </p>
                              <p class="govuk-body">
                                   Choose whether close or renew this pledge and what to do with its applications here: <a href="9C-pledge-action"><strong>Take action</strong></a>
                              </p>
                         </div>
                    </div>
               {% endif %}
          </div>
     </div>
     <!-- /////////////////// PLEDGE 2022 MESSAGE - END ///////////////////-->

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <h1 class="govuk-heading-xl no-margin-bottom">Transfer pledge 910105</h1>
               <details class="govuk-details">
                    <summary class="govuk-details__summary">
                         <span class="govuk-details__summary-text">Information about the applications</span>
                    </summary>
                    <div class="govuk-details__text">
                         <p><span class="govuk-body govuk-!-font-weight-bold">Estimated cost in this financial year</span><br>
                              This is an estimate of the cost of training for each application in this financial year. It is based on the funding band maximum and the planned start date of training.
                         </p>
                    </div>
               </details>

          </div>

          <div class="govuk-grid-column-one-third">
               <div class="side-panel-applications no-margin-top">
                    <a href="#" class="download-csv black-version float-right">
                         <span class="black-download"></span>
                         <div>Download applications - excel</div>
                    </a>
               </div>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
               <div class="pledge-values top-version">
                    <h3 class="govuk-heading-l">
                         <strong>£<span class="value-format">78000</span></strong>
                         <div class="sub-text">Pledge funds for 2021/22</div>
                    </h3>
                    <h3 class="govuk-heading-l">
                         <strong style="color: #1d70b8">£64,000</strong>
                         <div class="sub-text">Remaining pledge funds for 2021/22</div>
                    </h3>
               </div>
          </div>

          <div class="govuk-grid-column-one-half">

          </div>

     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <table class="govuk-table applications-table in-tab" id="new-applications-table" data-page-length='50'>
                    <thead class="govuk-table__head">
                         <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header sort-section" width="20%" onclick="sortTable(1)">Applicant</th>
                              <th scope="col" class="govuk-table__header sort-section" width="17.5%" onclick="sortTable(2)">Estimated cost 2021/22</th>
                              <th scope="col" class="govuk-table__header sort-section" width="17.5%" onclick="sortTable(3)">Typical duration</th>
                              <th scope="col" class="govuk-table__header sort-section" width="12.5%" onclick="sortTable(4)">Criteria</th>
                              <th scope="col" class="govuk-table__header sort-section" width="15%" onclick="sortTable(5)" data-class-name="priority">Date applied</th>
                              <th scope="col" class="govuk-table__header sort-section" width="15%" onclick="sortTable(6)">Status</th>
                         </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                         <!-- ///////////////////////////// BLOCK 1 - 5 START ///////////////////////////// -->
                         <tr class="govuk-table__row row-1" data-status="2" data-criteria="100">
                              <td class="govuk-table__cell">
                                   <a href="#">Belhavel Construction Ltd</a>
                                   <strong class="govuk-tag govuk-tag--green shortlisted">shortlisted</strong>
                              </td>
                              <td class="govuk-table__cell">£2,900</td>
                              <td class="govuk-table__cell">30 months</td>
                              <td class="govuk-table__cell">
                                   <span class="hide-content">A</span>100% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Sector <br>
                                        &#8226; Type of job role <br>
                                        &#8226; Level
                                   </p>
                              </td>
                              <td class="govuk-table__cell"><span class="hide-content">A</span> Today</td>
                              <td class="govuk-table__cell">
                                   <strong class="govuk-tag govuk-tag--blue">Awaiting approval</strong>
                                   <strong class="govuk-tag govuk-tag--yellow approved-label">Awaiting acceptance by applicant</strong>
                                   <strong class="govuk-tag govuk-tag--red rejected-label">Rejected</strong>
                              </td>
                         </tr>
                         <tr class="govuk-table__row row-2" data-status="3" data-criteria="75">
                              <td class="govuk-table__cell">
                                   <a href="#">CBJ Engineering</a>
                                   <strong class="govuk-tag govuk-tag--green shortlisted">shortlisted</strong>
                              </td>
                              <td class="govuk-table__cell">£36,000</td>
                              <td class="govuk-table__cell">24 months</td>
                              <td class="govuk-table__cell">
                                   <span class="hide-content">B</span>75% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Sector <br>
                                        &#8226; Type of job role
                                   </p>
                              </td>
                              <td class="govuk-table__cell"><span class="hide-content">B</span> 15/11/2021</td>
                              <td class="govuk-table__cell">
                                   <strong class="govuk-tag govuk-tag--yellow">Awaiting acceptance by applicant</strong>
                                   <strong class="govuk-tag govuk-tag--red rejected-label">Rejected</strong>
                              </td>
                         </tr>
                         <tr class="govuk-table__row row-3" data-status="5" data-criteria="50">
                              <td class="govuk-table__cell">
                                   <a href="#">Johnson and Johnson Building Co</a>
                                   <strong class="govuk-tag govuk-tag--green shortlisted">shortlisted</strong>
                              </td>
                              <td class="govuk-table__cell">£7,500</td>
                              <td class="govuk-table__cell">24 months</td>
                              <td class="govuk-table__cell">
                                   <span class="hide-content">C</span>50% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Sector <br>
                                        &#8226; Type of job role
                                   </p>
                              </td>
                              <td class="govuk-table__cell"><span class="hide-content">B</span> 15/11/2021</td>
                              <td class="govuk-table__cell">
                                   <strong class="govuk-tag govuk-tag--red">Rejected</strong>
                              </td>
                         </tr>
                         <tr class="govuk-table__row row-4" data-status="4" data-criteria="0">
                              <td class="govuk-table__cell">
                                   <a href="#">123 Windows Co</a>
                                   <strong class="govuk-tag govuk-tag--green shortlisted">shortlisted</strong>
                              </td>
                              <td class="govuk-table__cell">£1,000</td>
                              <td class="govuk-table__cell">18 months</td>
                              <td class="govuk-table__cell">
                                   <span class="hide-content">E</span>0% match
                              </td>
                              <td class="govuk-table__cell"><span class="hide-content">B</span> 15/11/2021</td>
                              <td class="govuk-table__cell">
                                   <strong class="govuk-tag govuk-tag--orange">Withdrawn by applicant</strong>
                              </td>
                         </tr>
                         <tr class="govuk-table__row row-5" data-status="4" data-criteria="0">
                              <td class="govuk-table__cell">
                                   <a href="#">Ferlot & Co</a>
                                   <strong class="govuk-tag govuk-tag--green shortlisted">shortlisted</strong>
                              </td>
                              <td class="govuk-table__cell">£1,200</td>
                              <td class="govuk-table__cell">12 months</td>
                              <td class="govuk-table__cell">
                                   <span class="hide-content">E</span>0% match
                              </td>
                              <td class="govuk-table__cell"><span class="hide-content">B</span> 15/11/2021</td>
                              <td class="govuk-table__cell">
                                   <strong class="govuk-tag govuk-tag--orange">Withdrawn by applicant</strong>
                              </td>
                         </tr>
                         <!-- ///////////////////////////// BLOCK 1 - 5 END ///////////////////////////// -->

                         <!-- ///////////////////////////// BLOCK 6 - 10 START ///////////////////////////// -->
                         <tr class="govuk-table__row row-6" data-status="3" data-criteria="100">
                              <td class="govuk-table__cell">
                                   <a href="#">ActiveCub Ltd</a>
                                   <strong class="govuk-tag govuk-tag--green shortlisted">shortlisted</strong>
                              </td>
                              <td class="govuk-table__cell">£2,900</td>
                              <td class="govuk-table__cell">30 months</td>
                              <td class="govuk-table__cell">
                                   <span class="hide-content">A</span>100% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Sector <br>
                                        &#8226; Type of job role<br>
                                        &#8226; Level
                                   </p>
                              </td>
                              <td class="govuk-table__cell"><span class="hide-content">C</span> 14/11/2021</td>
                              <td class="govuk-table__cell">
                                   <strong class="govuk-tag govuk-tag--yellow">Awaiting acceptance by applicant</strong>
                                   <strong class="govuk-tag govuk-tag--red rejected-label">Rejected</strong>
                              </td>
                         </tr>
                         <tr class="govuk-table__row row-7" data-status="3" data-criteria="75">
                              <td class="govuk-table__cell">
                                   <a href="#">Solidaric</a>
                                   <strong class="govuk-tag govuk-tag--green shortlisted">shortlisted</strong>
                              </td>
                              <td class="govuk-table__cell">£36,000</td>
                              <td class="govuk-table__cell">24 months</td>
                              <td class="govuk-table__cell">
                                   <span class="hide-content">B</span>75% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Sector <br>
                                        &#8226; Type of job role
                                   </p>
                              </td>
                              <td class="govuk-table__cell"><span class="hide-content">D</span> 13/11/2021</td>
                              <td class="govuk-table__cell">
                                   <strong class="govuk-tag govuk-tag--yellow">Awaiting acceptance by applicant</strong>
                                   <strong class="govuk-tag govuk-tag--red rejected-label">Rejected</strong>
                              </td>
                         </tr>
                         <tr class="govuk-table__row row-8" data-status="5" data-criteria="50">
                              <td class="govuk-table__cell">
                                   <a href="#">Nupositive</a>
                                   <strong class="govuk-tag govuk-tag--green shortlisted">shortlisted</strong>
                              </td>
                              <td class="govuk-table__cell">£7,500 </td>
                              <td class="govuk-table__cell">24 months</td>
                              <td class="govuk-table__cell">
                                   <span class="hide-content">C</span>50% match
                                   <p style="color: grey; padding-top: 5px;font-size: 16px;">
                                        &#8226; Location <br>
                                        &#8226; Type of job role
                                   </p>
                              </td>
                              <td class="govuk-table__cell"><span class="hide-content">D</span> 13/11/2021</td>
                              <td class="govuk-table__cell">
                                   <strong class="govuk-tag govuk-tag--red">Rejected</strong>
                              </td>
                         </tr>
                         <tr class="govuk-table__row row-9" data-status="3" data-criteria="0">
                              <td class="govuk-table__cell">
                                   <a href="#">Zurova</a>
                                   <strong class="govuk-tag govuk-tag--green shortlisted">shortlisted</strong>
                              </td>
                              <td class="govuk-table__cell">£1,250 </td>
                              <td class="govuk-table__cell">18 months</td>
                              <td class="govuk-table__cell">
                                   <span class="hide-content">E</span>0% match
                              </td>
                              <td class="govuk-table__cell"><span class="hide-content">D</span> 13/11/2021</td>
                              <td class="govuk-table__cell">
                                   <strong class="govuk-tag govuk-tag--yellow">Awaiting acceptance by applicant</strong>
                                   <strong class="govuk-tag govuk-tag--red rejected-label">Rejected</strong>
                              </td>
                         </tr>
                         <tr class="govuk-table__row row-10" data-status="4" data-criteria="0">
                              <td class="govuk-table__cell">
                                   <a href="#">Radicalsy Limited</a>
                                   <strong class="govuk-tag govuk-tag--green shortlisted">shortlisted</strong>
                              </td>
                              <td class="govuk-table__cell">£1,000</td>
                              <td class="govuk-table__cell">18 months</td>
                              <td class="govuk-table__cell">
                                   <span class="hide-content">E</span>0% match
                              </td>
                              <td class="govuk-table__cell"><span class="hide-content">E</span> 12/11/2021</td>
                              <td class="govuk-table__cell">
                                   <strong class="govuk-tag govuk-tag--orange">Withdrawn by applicant</strong>
                              </td>
                         </tr>
                         <!-- ///////////////////////////// BLOCK 6 - 10 END ///////////////////////////// -->

                    </tbody>

               </table>

               <p><br></p>

               <a href="#" class="govuk-button">Create a new transfer pledge</a>

               <a href="#" class="govuk-button govuk-link-secondary govuk-button--warning accepted-journey-cancel-button no-margin-top">Close pledge</a>

               <br>

               <a href="7-my-pledges" class="govuk-back-link">Back to my transfer pledges</a>

          </div>

     </div>

</div>

{% endblock %}
