{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <a href="javascript:history.back()" class="govuk-back-link">Back</a>
          </div>
     </div>

     <div class="govuk-grid-row title-options">
          <div class="govuk-grid-column-two-thirds">

               <!-- //////// ERROR SUMMARY 1 - START ////////-->
               <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" id="accept_funding_error_1">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                         <ul class="govuk-list govuk-error-summary__list">
                              <li>
                                   <a href="#accept_funding_form">You must choose to either accept or decline funding for this application</a>
                              </li>
                         </ul>
                    </div>
               </div>
               <!-- //////// ERROR SUMMARY 1 - END ////////-->

               <!-- //////// ERROR SUMMARY 2 - START ////////-->
               <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" id="accept_funding_error_2">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                         <ul class="govuk-list govuk-error-summary__list">
                              <li>
                                   <a href="#accept_funding_form">You must agree to the terms and conditions before accepting funding for this application</a>
                              </li>
                         </ul>
                    </div>
               </div>
               <!-- //////// ERROR SUMMARY 2 - END ////////-->

               <!-- //////// ERROR SUMMARY 3 - START ////////-->
               <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" id="accept_funding_error_3">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                         <ul class="govuk-list govuk-error-summary__list">
                              <li>
                                   <a href="#accept_funding_form">You must confirm that you wish to withdraw your application for this funding</a>
                              </li>
                         </ul>
                    </div>
               </div>
               <!-- //////// ERROR SUMMARY 3 - END ////////-->

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <h1 class="govuk-heading-xl">
                    Your
                    {% if data['pledge-application-standard'] %}
                         <span class="pledge-name-answer">####</span>
                    {% else %}
                         BARRY & BARRY Ltd (910106)
                    {% endif %}
                    application details
               </h1>

               <div class="govuk-warning-text application-status-one">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                         <span class="govuk-warning-text__assistive">Warning</span>
                         Application status: <span class="govuk-tag govuk-tag--blue">APPROVED, AWAITING YOUR ACCEPTANCE</span>
                         <br>
                         <br>
                         You will be able to use the funds pledged from the 27th October.
                    </strong>
               </div>

               <div class="govuk-warning-text application-status-one-accepted">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                         <span class="govuk-warning-text__assistive">Warning</span>
                         <span class="govuk-tag govuk-tag--blue">approved, awaiting your acceptance</span> Barry & Barry Ltd have approved your application - <strong id="date-stamp"></strong>
                    </strong>
               </div>

               <div class="accepted-text-hide">
                    <h2 class="govuk-heading-m">About your apprenticeship training course</h2>
               </div>

               <section class="employer-contact-details">
                    <p>
                         <strong>Apprenticeship training course:</strong>
                         {% if data['pledge-application-standard'] %}
                              {{ data['pledge-application-standard'] }}
                         {% else %}
                              Bricklayer (level 2)
                         {% endif %}
                    </p>
                    <p>
                         <strong>Number of apprentices:</strong>
                         {% if data['pledge-application-apprentices'] %}
                              {{ data['pledge-application-apprentices'] }}
                         {% else %}
                              2
                         {% endif %}
                    </p>
                    <p>
                         <strong>Estimated total cost:</strong>
                         {% if data['pledge-application-standard'] %}
                              £<span class="total-cost-multiplied value-format">####</span>
                         {% else %}
                              £18,000
                         {% endif %}
                    </p>
                    <p>
                         <strong>Apprenticeship training to start by:</strong>
                         {% if data['pledge-application-start-month'] %}
                              {{ data['pledge-application-start-month'] }}/{{ data['pledge-application-start-year'] }}
                         {% else %}
                              10/2021
                         {% endif %}
                    </p>
               </section>

               <form method="post" action="accept_funding_form_route" id="accept_funding_form_route">

                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios" id="accept_funding_form" >

                         <h2 class="govuk-heading-m">Do you want to accept this transfer of funds?</h2>

                         <span id="accept_funding_error_1_error_text" class="govuk-error-message">
                              <span class="govuk-visually-hidden">Error:</span> You must choose to either accept or decline funding for this application
                         </span>

                         <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="accept_funding_accept" name="accept_funding" type="radio" value="Accept" data-aria-controls="conditional-accept_funding">
                              <label class="govuk-label govuk-radios__label" for="accept_funding_accept">Yes, accept the funding</label>
                         </div>

                         <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-accept_funding">
                              <div class="govuk-form-group">

                                   <span id="accept_funding_error_2_error_text" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span> You must agree to the terms and conditions before accepting funding for this application
                                   </span>

                                   <p>I confirm that:</p>

                                   <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                             <input class="govuk-checkboxes__input" id="confirm_accept_info" name="confirm_accept" type="checkbox" value="Truthful">
                                             <label class="govuk-label govuk-checkboxes__label" for="confirm_accept_info">the information I have provided is truthful and accurate</label>
                                        </div>
                                   </div>

                                   <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                             <input class="govuk-checkboxes__input" id="confirm_accept_comply" name="confirm_accept" type="checkbox" value="Comply">
                                             <label class="govuk-label govuk-checkboxes__label" for="confirm_accept_comply">
                                                   I will comply with the <a href="https://www.gov.uk/guidance/apprenticeship-funding-rules" target="_blank" rel="external">apprenticeship funding rules</a>, including not offering or making any payments in return for a transfer of funding
                                             </label>
                                        </div>
                                   </div>

                              </div>
                          </div>

                         <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="accept_funding_decline" name="accept_funding" type="radio" value="Decline" data-aria-controls="conditional-accept_funding_decline">
                              <label class="govuk-label govuk-radios__label" for="accept_funding_decline">No, decline the funding and withdraw the application</label>
                         </div>

                         <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-accept_funding_decline">
                            <div class="govuk-form-group">
                                   <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                        <span id="accept_funding_error_3_error_text" class="govuk-error-message">
                                             <span class="govuk-visually-hidden">Error:</span> You must confirm that you wish to withdraw your application for this funding
                                        </span>
                                        <div class="govuk-checkboxes__item">
                                             <input class="govuk-checkboxes__input" id="confirm_decline" name="confirm_decline" type="checkbox" value="Decline">
                                             <label class="govuk-label govuk-checkboxes__label" for="confirm_decline">I confirm I want to decline the funding and withdraw the application</label>
                                        </div>
                                   </div>
                            </div>
                         </div>

                    </div>

                    <BR>

                    <div class="form-action">
                         <button class="govuk-button" data-module="govuk-button" id="accept_funding">Continue</button>
                         <br>
                         <a href="javascript:history.back()" class="govuk-link govuk-link-secondary govuk-link--no-visited-state govuk-back-link no-margin-left">Back</a>
                    </div>

               </form>

               <div class="error-action">
                    <button class="govuk-button" data-module="govuk-button" id="accept_funding_error">Continue</button>
                    <br>
                    <a href="javascript:history.back()" class="govuk-link govuk-link-secondary govuk-link--no-visited-state govuk-back-link no-margin-left">Back</a>
               </div>

          </div>

          <div class="govuk-grid-column-one-third">
               {% if data['pledge-application-standard'] %}
                    <section class="employer-details side-panel">
                         <p class="govuk-heading-s"><span class="pledge-name-answer">####</span> wants to fund apprenticeship training in:</p>
                         <p class="details">
                              Location: <strong class="pledge-location-answer">####</strong><br>
                              Sector: <strong class="pledge-sector-answer">####</strong><br>
                              Type of job role: <strong class="pledge-training-answer">####</strong><br>
                              Level: <strong class="pledge-level-answer">####</strong>
                         </p>
                         <div class="total">
                              <p class="govuk-heading-s">Total funding available:<br>up to £<span class="pledge-value-answer value-format">####</span> in 2021/22</p>
                         </div>
                    </section>
               {% else %}
                    <section class="employer-details side-panel">
                         <p class="govuk-heading-s">BARRY & BARRY Ltd (910106) wants to fund apprenticeship training in:</p>
                         <p class="details">
                              Location: <strong>Manchester, Liverpool, Leeds</strong><br>
                              Sector: <strong>Construction, Engineering and manufacturing</strong><br>
                              Type of job role: <strong>Business and administration, Construction, Digital</strong><br>
                              Level: <strong>Level 4 - HNC, Level 5 - HND, Level 6 - degree</strong>
                         </p>
                         <div class="total">
                              <p class="govuk-heading-s">Total funding available:<br>up to £65,000 in 2021/22</p>
                         </div>
                    </section>
               {% endif %}
          </div>

     </div>

</div>
{% endblock %}
