{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <a href="javascript:history.back()" class="govuk-back-link">Back</a>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <h1 class="govuk-heading-xl">Your Finders Keepers Ltd (684509) application details</h1>

               <div class="govuk-warning-text application-status-one">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                         <span class="govuk-warning-text__assistive">Warning</span>
                         Application status: <span class="govuk-tag govuk-tag--grey">Awaiting approval</span>
                         <br>
                         <br>
                         You will be able to use the funds pledged from the 27th October.
                    </strong>
               </div>

               <div class="govuk-warning-text application-status-one-accepted">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                         <span class="govuk-warning-text__assistive">Warning</span>
                         <span class="govuk-tag govuk-tag--blue">approved, awaiting your acceptance</span> Barry & Barry Ltd have approved your application - <strong id="date-stamp"></strong>
                    </strong>
               </div>

               <div class="accepted-text-hide">
                    <h2 class="govuk-heading-m">About your apprenticeship training course</h2>
               </div>

               <section class="employer-contact-details">
                    <p><strong>Apprenticeship training course:</strong> Engineer surveyor (level 4)</p>
                    <p><strong>Number of apprentices:</strong> 2</p>
                    <p><strong>Estimated total cost:</strong> £25,000</p>
                    <p><strong>Apprenticeship training to start by:</strong> 10/2021</p>
               </section>

               <form method="post" action="withdraw_application" id="withdraw_application">

                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios" id="">

                         <h2 class="govuk-heading-m">Do you want to withdraw this application?</h2>

                         <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="withdraw_application_withdraw" name="withdraw_application" type="radio" value="Withdraw" data-aria-controls="conditional-withdraw_application_withdraw">
                              <label class="govuk-label govuk-radios__label" for="withdraw_application_withdraw">Yes, withdraw the application</label>
                         </div>

                         <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-withdraw_application_withdraw">
                              <div class="govuk-form-group">

                                   <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                             <input class="govuk-checkboxes__input" id="confirm_withdraw" name="confirm_withdraw" type="checkbox" value="Truthful">
                                             <label class="govuk-label govuk-checkboxes__label" for="confirm_withdraw">I confirm I want to withdraw the application</label>
                                        </div>
                                   </div>

                              </div>
                          </div>

                         <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="withdraw_application_keep" name="withdraw_application" type="radio" value="Keep">
                              <label class="govuk-label govuk-radios__label" for="withdraw_application_keep">No, keep this application and return to my applications</label>
                         </div>

                    </div>

                    <BR>

                    <button class="govuk-button" data-module="govuk-button" id="accept_funding">Continue</button>
                    <br>
                    <a href="javascript:history.back()" class="govuk-link govuk-link-secondary govuk-link--no-visited-state govuk-back-link no-margin-left">Back</a>

               </form>

          </div>

          <div class="govuk-grid-column-one-third">
               <section class="employer-details side-panel">
                    <p class="govuk-heading-s">Finders Keepers Ltd (684509) wants to fund apprenticeship training in:</p>
                    <p class="details">
                         Location: <strong>Coventry, Birmingham, Wolverhampton</strong><br>
                         Sector: <strong>Construction, Engineering and manufacturing</strong><br>
                         Type of job role: <strong>Business and administration, Construction, Digital</strong><br>
                         Level: <strong>Level 4 - HNC, Level 5 - HND, Level 6 - degree</strong>
                    </p>
                    <div class="total">
                         <p class="govuk-heading-s">Total funding available:<br>up to £30,000 in 2021/22</p>
                    </div>
               </section>
          </div>

     </div>

</div>
{% endblock %}
