{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="2-my-account">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-finance">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-transfers">Transfers</a></li>
          </ol>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <p><br></p>
               <h1 class="govuk-heading-xl">Manage transfers</h1>
          </div>
     </div>

     <div class="section top-section">

          <div class="govuk-grid-row">

               {% if data['prototype_user_type'] == "non_levy" %}

               {% else %}
                    <div class="govuk-grid-column-full">
                         <h2 class="govuk-heading-m">My transfer finances</h2>
                         <p>This is a financial snapshot of what is available.</p>
                    </div>
               {% endif %}

          </div>

          <!-- ////////////// NUMBERS - START //////////////-->
          {% if data['prototype_user_type'] == "non_levy" %}

          {% elseif data['prototype_user_type'] == "levy_sender" %}
               <div class="transfer-values-prototype mvs-version">
                    <div class="transfer-values">
                         <div class="transfer-funds">
                              <p><span>Your transfer allowance FY 2021/22</span></p>
                              <p class="number">£200,000</p>
                         </div>
                         <div class="transfer-funds">
                              <p><span>Pledges  FY 2021/22</span></p>
                              {% if data['pledge_amount'] %}
                                   <p class="number">£<span class="value-format">{{ 120000+data['pledge_amount'] | int }}</span></p>
                              {% else %}
                                   <p class="number">£120,000</p>
                              {% endif %}
                         </div>
                         <div>
                              <p><span>Remaining transfer funds FY 2021/22</span></p>
                              {% if data['pledge_amount'] %}
                                   <p class="number">£<span class="value-format">{{ 80000-data['pledge_amount'] | int }}</span></p>
                              {% else %}
                                   <p class="number">£80,000</p>
                              {% endif %}
                         </div>
                    </div>
               </div>

               <!-- ////////////// EXTRA INFO - START //////////////-->
               <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                         <h2 class="govuk-heading-m">Transfers allowance information</h2>
                         <p><strong>Your transfer allowance for this financial year (FY)</strong></p>
                         <p>This is calculated every year on 6 April and shows in your account after 20 April.</p>
                         <p>Transfer payments will leave your account before payments for your own apprenticeships.</p>
                         <p><strong>Pledges and transfer connections</strong></p>
                         <p>This is an estimate of the amount allocated for your transfers in this financial year. It includes any existing transfer commitments carried over from last year.</p>
                         <p><strong>Remaining transfer funds</strong></p>
                         <p>This is an estimate of what remains for you to pledge to transfers in this financial year.</p>
                    </div>
                    <div class="govuk-grid-column-one-third">

                    </div>
               </div>
               <!-- ////////////// EXTRA INFO - END //////////////-->

               <a href="3A-my-finances" class="govuk-button govuk-button--secondary secondary-overwrite">View my transfer finances</a>
          {% else %}
               <div class="transfer-values-prototype mvs-version">
                    <div class="transfer-values">
                         <div class="transfer-funds">
                              <p><span>Your transfer allowance FY 2021/22</span></p>
                              <p class="number">£200,000</p>
                         </div>
                         <div class="transfer-funds">
                              <p><span>Pledges & transfer connections FY 2021/22</span></p>
                              {% if data['delete_pledge'] == 'Yes' %}
                                   <p class="number">£0</p>
                              {% else %}
                                   {% if data['pledge_amount'] %}
                                        <p class="number">£<span class="value-format">{{ data['pledge_amount'] }}</span></p>
                                   {% else %}
                                        <p class="number">£0</p>
                                   {% endif %}
                              {% endif %}
                         </div>
                         <div>
                              <p><span>Remaining transfer funds FY 2021/22</span></p>
                              {% if data['delete_pledge'] == 'Yes' %}
                                   <p class="number">£200,000</p>
                              {% else %}
                                   {% if data['pledge_amount'] %}
                                        <p class="number">£<span class="value-format">{{ 200000 - data['pledge_amount'] }}</span></p>
                                   {% else %}
                                        <p class="number">£200,000</p>
                                   {% endif %}
                              {% endif %}
                         </div>
                    </div>
               </div>

               <!-- ////////////// EXTRA INFO - START //////////////-->
               <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                         <h2 class="govuk-heading-m">Transfers allowance information</h2>
                         <p><strong>Your transfer allowance for this financial year (FY)</strong></p>
                         <p>This is calculated every year on 6 April and shows in your account after 20 April.</p>
                         <p>Transfer payments will leave your account before payments for your own apprenticeships.</p>
                         <p><strong>Pledges and transfer connections</strong></p>
                         <p>This is an estimate of the amount allocated for your transfers in this financial year. It includes any existing transfer commitments carried over from last year.</p>
                         <p><strong>Remaining transfer funds</strong></p>
                         <p>This is an estimate of what remains for you to pledge to transfers in this financial year.</p>
                    </div>
                    <div class="govuk-grid-column-one-third">

                    </div>
               </div>
               <!-- ////////////// EXTRA INFO - END //////////////-->

               <a href="3A-my-finances" class="govuk-button govuk-button--secondary secondary-overwrite">View my transfer finances</a>
          {% endif %}
          <!-- ////////////// NUMBERS - END //////////////-->

     </div>

     <!-- ////////////// 1 - PLEDGES - START //////////////-->
     {% if data['prototype_user_type'] == "levy_receiver" %}

     {% elseif data['prototype_user_type'] == "non_levy" %}

     {% else %}
          <div class="section">
               <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                         <h2 class="govuk-heading-m">My transfer pledges</h2>
                         <p>Create a public funding pledge which is shown online so that businesses can apply to you for a transfer of funds.</p>
                         {% if data['delete_pledge'] == 'Yes' %}
                              <div class="govuk-inset-text">You have <strong>0</strong> transfer pledges.</div>
                         {% else %}
                              {% if data['pledge_amount'] %}
                                   <div class="govuk-inset-text">You have <strong>1</strong> transfer pledge.</div>
                              {% else %}
                                   <div class="govuk-inset-text">You have <strong>0</strong> transfer pledges.</div>
                              {% endif %}
                         {% endif %}
                         <a href="4-start-new-pledge" class="govuk-button" data-module="govuk-button">Create a transfer pledge</a>
                         <a href="8-my-pledges" class="govuk-button govuk-button--secondary" data-module="govuk-button">View my transfer pledges and applications</a>
                    </div>
               </div>
          </div>
     {% endif %}
     <!-- ////////////// 1 - PLEDGES - END //////////////-->

     <!-- ////////////// 2 - APPLY - START //////////////-->
     {% if data['prototype_user_type'] == "levy_sender" %}

     {% elseif data['prototype_user_type'] == "non_levy" %}
          <div class="section">
               <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                         <h2 class="govuk-heading-m">Apply for transfers funding</h2>
                         <p>Search transfers funding opportunities and apply for a transfer of funds.</p>
                         <div class="govuk-inset-text">You have <strong class="number-of-applications">0</strong> transfer applications.</div>
                         <a href="#" class="govuk-button" data-module="govuk-button">Apply for transfer opportunities</a>
                         <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">View my transfer applications</a>
                    </div>
               </div>
          </div>
     {% else %}
          <div class="section">
               <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                         <h2 class="govuk-heading-m">Apply for transfers funding</h2>
                         <p>As a levy-payer you can receive transfer funds from other levy-payers, as long as you are not also sending transfer funds to other businesses.</p>
                         <p>Search transfers funding opportunities and apply for a transfer of funds.</p>
                         <div class="govuk-inset-text">You have <strong class="number-of-applications">0</strong> transfer applications.</div>
                         <a href="#" class="govuk-button" data-module="govuk-button">Apply for transfer funding </a>
                         <a href="#" class="govuk-button govuk-button--secondary data-module="govuk-button">View applications I've submitted</a>
                    </div>
               </div>
          </div>
     {% endif %}
     <!-- ////////////// 2 - APPLY - START //////////////-->

     <!-- ////////////// 3 - CONNECT - START //////////////-->
     <div class="section">
          <div class="govuk-grid-row">
               <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-m">Manage transfer connections with businesses you know</h2>
                    {% if data['prototype_user_type'] == "non_levy" %}
                         <p>If you want to receive a transfer of funds from a business you know, they'll need to send you a connection request using your apprenticeship service account ID number.</p>
                         <p>Discuss details of the transfer with them and give them your ID number so they can send you a connection request.</p>
                    {% else %}
                         <p>If you know a business you want to transfer funds to, you can make a connection to them and set up a transfer.</p>
                         <p>You'll need to know their apprenticeship service account ID number.</p>
                         <p>If you want to receive a transfer from a business you know, discuss details with them and give them your apprenticeship service account ID number so they can send you a connection request.</p>
                         <p><strong>You cannot receive and send transfer funds at the same time.</strong></p>
                         <div class="govuk-inset-text">You have <strong class="number-of-applications">0</strong> transfer applications.</div>
                         <a href="#" class="govuk-button govuk-button--secondary no-margin-left" data-module="govuk-button">Manage transfer connections</a>
                    {% endif %}
               </div>
          </div>
     </div>
     <!-- ////////////// 3 - CONNECT - END //////////////-->

</div>

{% endblock %}
