{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation-sender-secondary.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry" id="transfers-hub">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <span class="govuk-caption-m">Find a business to fund training for your apprentices</span>
               <h1 class="govuk-heading-xl">
                    Approve your pledge application to <span class="pledge-name-answer">####</span>
               </h1>

          </div>

          <div class="govuk-grid-column-two-thirds">

               <form method="post" action="../my-applications" id="accept-application-form">

                    {% from "govuk/components/radios/macro.njk" import govukRadios %}
                    {% from "govuk/components/input/macro.njk" import govukInput %}

                    {{ govukRadios({
                    idPrefix: "accept-application",
                         name: "accept-application",
                         fieldset: {
                              legend: {
                                   text: "Are you sure you want to approve the application?",
                                   isPageHeading: false
                              }
                         },
                         items: [
                              {
                                   value: "yes approve application",
                                   text: "Yes, approve application"
                              },
                              {
                                   value: "no refuse the application",
                                   text: "No, refuse the application"
                              },
                              {
                                   value: "decide later",
                                   text: "Decide later"
                              }
                         ]
                    }) }}

                    <button class="govuk-button" data-module="govuk-button" id="approve-application-continue">Continue</button>

                    <a href="javascript:history.back()" class="govuk-link govuk-link-secondary govuk-link--no-visited-state govuk-back-link">Back</a>

               </form>

          </div>

     </div>

</div>

{% endblock %}
