<div class="mvs-pledge-applications">
     <h2 class="govuk-heading-m">Applications for your transfers pledge</h2>

     <!-- <p class="applications-empty">You have no current applications for this pledge.</p> -->

     <!-- PLEDGE TABLE - START -->
     <table class="govuk-table applications-table" id="order-applications-table">
          <thead class="govuk-table__head">
               <tr class="govuk-table__row">
                    <!-- <th scope="col" class="govuk-table__header" onclick="sortTable(0)"><span class="icon sort"></span>Match</th> -->
                    <th scope="col" class="govuk-table__header" onclick="sortTable(2)"><span class="icon sort"></span>Applicant</th>
                    <th scope="col" class="govuk-table__header" onclick="sortTable(3)">
                         <span class="icon sort"></span>
                         <div class="small-text hover-over">
                              Estimated total cost
                              <span class="icon help"></span>
                              <span class="tooltiptext">
                                   Estimated cost of training over the lifetime of the apprentice's training.
                                   <br><br>
                                   This is an estimate based on the funding band maximum.
                                   <br><br>
                                   It may not reflect the final cost agreed with the training provider.
                              </span>
                         </div>
                    </th>
                    <th scope="col" class="govuk-table__header" onclick="sortTable(4)"><span class="icon sort"></span>Criteria</th>
                    <th scope="col" class="govuk-table__header" onclick="sortTable(5)"><span class="icon sort"></span>Date applied</th>
                    <th scope="col" class="govuk-table__header" onclick="sortTable(6)"><span class="icon sort"></span>Status</th>
                    <th scope="col" class="govuk-table__header"></th>
               </tr>
          </thead>
          <tbody class="govuk-table__body">

               <!-- !!!!!!!!!!!!!!! APPLICATION - 1 - START !!!!!!!!!!!!!!! -->
               <tr class="govuk-table__row" data-table-row="one">
                    <!-- <td class="govuk-table__cell"></td> -->
                    <td class="govuk-table__cell"><a href="2-application-details" class="govuk-heading-s govuk-link govuk-link--no-visited-state">Belhavel Construction Ltd</a></td>
                    <td class="govuk-table__cell">£9,000<br>over 24 months</td>
                    <td class="govuk-table__cell">
                         <strong class="govuk-tag govuk-tag--green">100% MATCH</strong>
                         <p><span class="icon tick"></span>Location</p>
                         <p><span class="icon tick"></span>Sector</p>
                         <p><span class="icon tick"></span>Type of job role</p>
                         <p><span class="icon tick"></span>Level</p>
                    </td>
                    <td class="govuk-table__cell">23/03/2021</td>
                    <td class="govuk-table__cell">
                         <p class="awaiting">Awaiting</p>
                         <p class="application-approved"><span class="icon approved"></span>Approved</p>
                    </td>
                    <td class="govuk-table__cell"><a href="2-application-details" class="">View</a></td>
               </tr>
               <!-- !!!!!!!!!!!!!!! APPLICATION - 1 - END !!!!!!!!!!!!!!! -->

               <!-- !!!!!!!!!!!!!!! APPLICATION - 2 - START !!!!!!!!!!!!!!! -->
               <tr class="govuk-table__row" data-table-row="two">
                    <!-- <td class="govuk-table__cell"></td> -->
                    <td class="govuk-table__cell"><a href="5-application-details" class="govuk-heading-s govuk-link govuk-link--no-visited-state">CBJ Engineering</a></td>
                    <td class="govuk-table__cell">£36,000<br>over 24 months</td>
                    <td class="govuk-table__cell">
                         <strong class="govuk-tag govuk-tag--yellow">75% match</strong>
                         <p><span class="icon tick"></span>Location</p>
                         <p><span class="icon tick"></span>Sector</p>
                         <p><span class="icon tick"></span>Type of job role</p>
                         <p><span class="icon cross"></span>Level</p>
                    </td>
                    <td class="govuk-table__cell">15/03/2021</td>
                    <td class="govuk-table__cell">
                         <p class="awaiting">Awaiting</p>
                         <p class="application-rejected"><span class="icon rejected"></span>Rejected</p>
                    </td>
                    <td class="govuk-table__cell"><a href="5-application-details" class="">View</a></td>
               </tr>
               <!-- !!!!!!!!!!!!!!! APPLICATION - 2 - END !!!!!!!!!!!!!!! -->

               <!-- !!!!!!!!!!!!!!! APPLICATION - 3 - START !!!!!!!!!!!!!!! -->
               <tr class="govuk-table__row">
                    <!-- <td class="govuk-table__cell"></td> -->
                    <td class="govuk-table__cell"><a href="#" class="govuk-heading-s govuk-link govuk-link--no-visited-state">Johnson and Johnson Building Co</a></td>
                    <td class="govuk-table__cell">£18,000<br>over 24 months</td>
                    <td class="govuk-table__cell">
                         <strong class="govuk-tag govuk-tag--orange">50% MATCH</strong>
                         <p><span class="icon cross"></span>Location</p>
                         <p><span class="icon tick"></span>Sector</p>
                         <p><span class="icon tick"></span>Type of job role</p>
                         <p><span class="icon cross"></span>Level</p>

                    </td>
                    <td class="govuk-table__cell">28/03/2021</td>
                    <td class="govuk-table__cell">Awaiting</td>
                    <td class="govuk-table__cell"><a href="#" class="">View</a></td>
               </tr>
               <!-- !!!!!!!!!!!!!!! APPLICATION - 3 - END !!!!!!!!!!!!!!! -->

          </tbody>
     </table>
     <!-- PLEDGE TABLE - END -->

     <!-- <h1 class="govuk-heading-xl">Total bids: £<span class="total-bids">160,000</span></h1> -->

</div>
