{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation-sender-secondary.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry" id="transfers-hub">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">

          <div class="govuk-grid-column-full">
               <span class="govuk-caption-m">Find a business to transfer your levy to</span>
               <h1 class="govuk-heading-xl">Create a transfers application</h1>
          </div>

          <div class="govuk-grid-column-two-thirds application-core">

               <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
               <p class="govuk-body govuk-!-margin-bottom-7">You have completed 1 of 8 sections.</p> -->

               <!-- <p>Create a transfers funding pledge that will be shown online so that businesses can apply to you for funding.</p>

               <p>The amount you choose and the criteria you set will be displayed publicly.</p>

               <p>You can choose whether or not to show your organisation's name publicly.</p> -->

               <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                         <span class="govuk-warning-text__assistive">Warning</span> All your details will be passed to the employer who owns the transfer funding.
                    </strong>
               </div>

               <ol class="app-task-list">

                    <!-- SECTION - ONE - START -->
                    <li class="pledge-section-one" id="pledge-section-one">
                         <h2 class="app-task-list__section">
                              <span class="app-task-list__section-number number-one">1. </span>
                              Apprenticeship training
                              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">not started</strong>
                         </h2>
                         <ul class="app-task-list__items">
                              <li class="app-task-list__item">
                                   <h3 class="govuk-heading-s">Apprenticeship one</h3>
                                   <span class="app-task-list__task-name">
                                        <a href="2-apprenticeship-details#pledge-application-standard">Job role</a>
                                   </span>
                                   <p class="before-apprenticeship-content">-</p>
                                   <p class="after-apprenticeship-content">{{ data['pledge-application-standard'] }}</p>
                              </li>
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="2-apprenticeship-details#pledge-application-apprentices">Number of apprentices</a>
                                   </span>
                                   <p class="before-apprenticeship-content">-</p>
                                   <p class="after-apprenticeship-content">{{ data['pledge-application-apprentices'] }}</p>
                              </li>
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="2-apprenticeship-details#pledge-application-apprentices">Start by</a>
                                   </span>
                                   <p class="before-apprenticeship-content">-</p>
                                   <p class="after-apprenticeship-content">{{ data['pledge-application-start-month'] }} / {{ data['pledge-application-start-year'] }}</p>
                              </li>
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="2-apprenticeship-details#pledge-application-training-provider-yes">Have you found a training provider?</a>
                                   </span>
                                   <p class="before-apprenticeship-content">-</p>
                                   <div class="after-apprenticeship-content">
                                        {{ data['pledge-application-training-provider'] }}
                                   </div>
                              </li>
                         </ul>
                         <button class="govuk-button" data-module="govuk-button" id="add-another-apprenticeship"><span class="icon add white"></span>Add another apprenticeship</button>
                         <h3 class="govuk-heading-m apprenticeship-total">
                              Total: <strong>£<span class="total-cost"></span></strong>
                              <br>
                              <span class="small-text">for financial year 2021/22</span>
                         </h3>
                    </li>
                    <!-- SECTION - ONE - END -->

                    <!-- SECTION - TWO - START -->
                    <li class="pledge-section-two" id="pledge-section-two">
                         <h2 class="app-task-list__section">
                              <span class="app-task-list__section-number">2. </span>
                              Your business details
                              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">not started</strong>
                         </h2>
                         <ul class="app-task-list__items">
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="3-business-details#pledge-application-sector">Sector</a>
                                   </span>
                                   <p class="before-business-content">-</p>
                                   <div class="after-business-content">
                                        {% if data['search-sector'] %}
                                        <ul class="govuk-list govuk-list--bullet">
                                             {% for answer in data['search-sector'] -%}
                                             <li>{{ answer }}</li>
                                             {% endfor %}
                                        </ul>
                                        {% endif %}
                                   </div>
                              </li>
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="3-business-details#pledge-application-location">Location</a>
                                   </span>
                                   <p class="before-business-content">-</p>
                                   <p class="after-business-content post-code-answer">{{ data['pledge-application-location'] }}</p>
                              </li>
                         </ul>
                    </li>
                    <!-- SECTION - TWO - END -->

                    <!-- SECTION - THREE - START -->
                    <li class="pledge-section-three" id="pledge-section-three">
                         <h2 class="app-task-list__section">
                              <span class="app-task-list__section-number">3. </span>
                              About your apprenticeship
                              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">optional</strong>
                         </h2>
                         <ul class="app-task-list__items">
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="4-more-details">More detail</a>
                                   </span>
                                   <p class="before-details-content">-</p>
                                   <div class="after-details-content">
                                        {{ data['pledge-application-more-details'] }}
                                   </div>
                              </li>
                         </ul>
                    </li>
                    <!-- SECTION - THREE - END -->

                    <!-- SECTION - FOUR - START -->
                    <li class="pledge-section-four" id="pledge-section-four">
                         <h2 class="app-task-list__section">
                              <span class="app-task-list__section-number">4. </span>
                              Contact details
                              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="">not started</strong>
                         </h2>
                         <ul class="app-task-list__items">
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="5-contact-details#pledge-application-firstname">Name</a>
                                   </span>
                                   <p class="before-contact-content">-</p>
                                   <div class="after-contact-content">
                                        {{ data['pledge-application-firstname'] }} {{ data['pledge-application-lastname'] }}
                                   </div>
                              </li>
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="5-contact-details#pledge-application-email">Email address</a>
                                   </span>
                                   <p class="before-contact-content">-</p>
                                   <div class="after-contact-content">
                                        {% if data['pledge-application-email'] %}
                                        <ul class="govuk-list">
                                             {% for key, email in data['pledge-application-email'] %}
                                                  <li>{{ email }}</li>
                                             {% endfor %}
                                        </ul>
                                        {% endif %}
                                        <!-- {% if data['pledge-application-email'] %}
                                        <ul class="govuk-list">
                                             {% for key, applicationEmail in data['pledge-application-email'] %}
                                                  <li>{{ applicationEmail }}</li>
                                             {% endfor %}
                                        </ul>
                                        {% endif %} -->
                                   </div>
                              </li>
                              <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a href="5-contact-details#pledge-application-website">Business website</a>
                                   </span>
                                   <p class="before-contact-content">-</p>
                                   <div class="after-contact-content">
                                        {{ data['pledge-application-website'] }}
                                   </div>
                              </li>
                         </ul>
                    </li>
                    <!-- SECTION - FOUR - END -->

               </ol>

               <div class="submit-transfer-application">

                    <div class="govuk-warning-text funding-over">
                         <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                         <strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive">Warning</span> Your application exceeds the transfer funding set by <span class="pledge-name-answer">####</span>. We will notify them of this.</strong>
                    </div>

                    <h2 class="govuk-heading-m">Submit your transfers application</h2>

                    <p class="govuk-body">I confirm that I want to make the above application so I can receive funding from another business for apprenticeship training.</p>

                    <form action="6-confirmation" method="post" novalidate>

                         <input type="hidden" name="answers-checked" value="true">
                         <div class="govuk-button-group">
                              <button class="govuk-button" data-module="govuk-button" id="application-confirm-continue">Submit my application</button>
                         </div>

                    </form>

               </div>

               <a href="8-delete" class="govuk-link govuk-link--no-visited-state">Cancel application</a>

          </div>

          <div class="govuk-grid-column-one-third">
               <section class="employer-details side-panel">
                    <p class="govuk-heading-s"><span class="pledge-name-answer">####</span> wants to fund apprenticeship training in:</p>
                    <p class="details">
                         Location: <strong class="pledge-location-answer">####</strong><br>
                         Sector: <strong class="pledge-sector-answer">####</strong><br>
                         Type of job role: <strong class="pledge-training-answer">####</strong><br>
                         Level: <strong class="pledge-level-answer">####</strong>
                    </p>
                    <div class="total">
                         <p class="govuk-heading-s">Total funding available:<br>up to £<span class="pledge-value-answer value-format">####</span> in 2021/22</p>
                    </div>
               </section>
          </div>

     </div>

</div>

{% endblock %}
