{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-finance">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3A-transfers">Transfers</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Financial breakdown</a></li>
          </ol>
     </div>
<!-- h1 -->
     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
               <p><br></p>
               <h1 class="govuk-heading-xl">View my transfer finances</h1>
          </div>
     </div>

<!-- end h1 -->

<!-- INTRO start -->
<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">My transfer finances</h2>
          <p>This is a financial snapshot of what is available.</p>

<p><strong>Your transfer allowance for this financial year</strong></p>
<p>This is calculated every year on 6 April and shows in your account after 20 April.</p>
<p>Transfer payments will leave your account before payments for your own apprenticeships.</p>
<p><strong>Pledges and transfer connections</strong></p>
<p>This is an estimate of the amount allocated for your transfers in this financial year. It includes any existing transfer commitments carried over from last year.</p>
<p><strong>Remaining transfer funds</strong></p>
<p>This is an estimate of what remains for you to pledge to transfers in this financial year.</p>

</div>
</div>
<!-- INTRO end -->

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<!-- TOTAL ALLOWANCE -->
<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Transfer allowance for financial year 2021/22</h2>
     </div>
</div>
<div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">

     <div style="background-color: #f3f2f1; height:6em; border:#f3f2f1 solid 1px;" class="govuk-!-padding-top-4 govuk-!-padding-left-2">
      
          <span class="govuk-body govuk-!-font-size-14 govuk-!-font-weight-bold">Total available transfer allowance</span>
          <h1 class="govuk-heading-xl">£200,000</h1>
     </div>

</div>

     <div class="govuk-grid-column-two-thirds">

          <p style="margin-bottom: 10px;">
               Your allowance this year is: <b>£220,000</b> <br>
               Deduction for in house apprenticeships: <b>£20,000</b> <br>
          </p>
          <br>
    
          <details class="govuk-details" data-module="govuk-details">
               <summary class="govuk-details__summary">
                 <span class="govuk-details__summary-text">
                   How is my available transfer allowance calculated?
                 </span>
               </summary>
               <div class="govuk-details__text">
                    Your available transfer allowance is calculated by subtractng the cost of your <b>in house apprenticeships</b> from your <b>transfer allowance</b>.  
               </div>
             </details>
    
      
     </div>
   </div>
<!-- TOTAL ALLOWANCE end -->

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<!-- COMMITTED FUNDS start -->
<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">

          <h2 class="govuk-heading-m small-margin-bottom">Committed funds for financial year 2021/22</h2>

     </div>
</div>

<div class="govuk-grid-row">
     <div class="govuk-grid-column-one-third">

         <div style="background-color: #1d70b8; height:6em; border:#1d70b8 solid 1px;" class="govuk-!-padding-top-4 govuk-!-padding-left-2">
               <span class="govuk-body govuk-!-font-size-14 govuk-!-font-weight-bold" style="color:white;">Estimated remaining allowance for 2021/22</span>
               <h1 class="govuk-heading-xl" style="color:white;">£91,600</h1>
         </div>

     </div>



     <div class="govuk-grid-column-two-thirds">

          <p style="margin-bottom: 10px;">
               <p style="margin-bottom: 10px;">
                    Live approved and active: <b>£8,000</b> <br>
                    Live transfer connections: <b>£400</b> <br>
                    Approved applications: <b>£100,000</b> <br><br>
               <b>Total estimated spend: £108,400</b> 
          </p>
     
          <br>
    
          <details class="govuk-details" data-module="govuk-details">
               <summary class="govuk-details__summary">
                 <span class="govuk-details__summary-text">
                   How is my committed funds calculated?
                 </span>
               </summary>
               <div class="govuk-details__text">
                    Your committed funds are calculated by subtracting your <b>total estimated spend</b> from your <b>total transfer allowance</b>. 
               </div>
          </details>
     
    
      
<!-- APPROVED FUNDS end -->





</main>
</div>

{% endblock %}
