{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="2-my-account">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-finance">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3A-transfers">Transfers</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="4-my-pledges">My transfer pledges</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Transfer pledge 910106</a></li>
          </ol>
     </div>

     {% if data['accept_application'] == 'Reject' %}
          <p><br></p>
          <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
               <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
               </div>
               <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">Application rejected</h3>
                    <p class="govuk-body">You rejected the Belhavel Construction Ltd application.</p>
               </div>
          </div>
     {% else %}

     {% endif %}


     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               {% if data['accept_application'] == 'Reject' %}

               {% else %}
                    <p><br></p>
               {% endif %}
               <h1 class="govuk-heading-xl no-margin-bottom">
                    Transfer pledge 910106
                    <!-- {% if data['accept_application'] == 'Reject' %}
                         <span class="govuk-caption-m">Applications for your transfer pledge: <strong>2</strong></span>
                    {% else %}
                         <span class="govuk-caption-m">Applications for your transfer pledge: <strong>3</strong></span>
                    {% endif %} -->
                    <a href="#" class="download-csv black-version float-right">
                         <span class="black-download"></span>
                         <div>Download applications - excel</div>
                    </a>
               </h1>

               <div class="pledge-values top-version">
                    <h3 class="govuk-heading-l">
                         <strong>£<span class="value-format">65000</span></strong>
                         <div class="sub-text">Pledge funds for 2021/22</div>
                    </h3>
                    <h3 class="govuk-heading-l">
                         <strong>£<span class="value-format">29000</span></strong>
                         <div class="sub-text">Remaining pledge funds for 2021/22</div>
                    </h3>
               </div>

               <details class="govuk-details">
                    <summary class="govuk-details__summary">
                         <span class="govuk-details__summary-text">Information about the applications</span>
                    </summary>
                    <div class="govuk-details__text">
                         <p><span class="govuk-body govuk-!-font-weight-bold">Estimated cost in this financial year </span> <br>
                              This is an estimate of the cost of training for each application in this financial year. It is based on the funding band maximum and the planned start date of training.
                         </p>
                    </div>
               </details>

          </div>

     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               {% include "../../../includes/tabs-application-page.html" %}

               {% include "../../../includes/applications/applications-all.html" %}
               {% include "../../../includes/applications/applications-approval.html" %}
               {% include "../../../includes/applications/applications-acceptance.html" %}
               {% include "../../../includes/applications/applications-withdrawn.html" %}
               {% include "../../../includes/applications/applications-rejected.html" %}

               {% include "../../../includes/pagination.html" %}

               <a href="#" class="govuk-button">Create a new transfer pledge</a>

               <a href="13-delete-pledge" class="govuk-button govuk-link-secondary govuk-button--warning accepted-journey-cancel-button no-margin-top">Close pledge</a>

               <br>

               <a href="4-my-pledges" class="govuk-back-link">Back to my transfer pledges</a>

          </div>

     </div>

</div>

{% endblock %}
