{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <a href="javascript:history.back()" class="govuk-back-link">Back</a>
          </div>
     </div>

     <p style="padding-bottom: 30px;"></p>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <h1 class="govuk-heading-xl">Add the locations you'd like to fund</h1>

               <form method="post" action="new-pledge-details-updated-2">

                    <div class="updates-locations">
                         <div id="locations">

                              <div class="govuk-form-group first-of-type">
                                   <label class="govuk-label" for="pledge-location[url0]">Start typing to find the city or town you'd like to pledge funding to.</label>
                                   <div class="govuk-hint">
                                        For example, Manchester
                                   </div>
                                   <input class="govuk-input govuk-input--width-20" id="pledge-location[url0]" name="pledge-location[url0]" type="text" spellcheck="false">
                                   <input class="govuk-input govuk-input--width-20 pledge-location-hidden" id="" name="" type="text" spellcheck="false">

                              </div>

                              {% for url, location in location -%}
                                   {% if url != 'url1' %}
                                   {% if location != '' %}
                                        <div class="govuk-form-group new-location">
                                             <label class="govuk-label" for="pledge-location[{{url}}]">Additional location</label>
                                             <input class="govuk-input govuk-input--width-20 pledge-location-test" name="pledge-location[{{url}}]" type="text" spellcheck="false">
                                             <p class="govuk-body">
                                                  <a class="govuk-link govuk-link--no-visited-state" data-remove="[{{url}}]" href="#">remove</a>
                                             </p>
                                        </div>
                                   {% endif %}
                                   {% endif %}
                              {%- endfor %}
                         </div>
                         <p class="govuk-body govuk-!-margin-bottom-6">
                              <a class="govuk-link govuk-link--no-visited-state add-location" href="#" id="addAnotherLocation">Add another location</a>
                         </p>
                    </div>

                    <div class="govuk-inset-text" id="clear-pledge-location-all-of-england">
                         <div class="govuk-form-group">
                              <fieldset class="govuk-fieldset">
                                   <div class="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                             <input class="govuk-checkboxes__input" id="pledge-location-all-of-england" name="pledge-location-all-of-england" type="checkbox" value="England">
                                             <label class="govuk-label govuk-checkboxes__label" for="pledge-location-all-of-england">Or all of England</label>
                                        </div>
                                   </div>
                              </fieldset>
                         </div>
                    </div>

                    <button class="govuk-button pledge-location-continue" data-module="govuk-button">Continue</button>

                    <a href="new-pledge-details-updated-1" class="govuk-link govuk-link-secondary govuk-link--no-visited-state govuk-back-link">Back</a>

               </form>

          </div>

     </div>

</div>

{% endblock %}
