{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="my-account">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="finance">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="transfers">Transfers</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="my-pledges-multiple-pledges">My transfer pledges</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Transfer pledge 910106</a></li>
          </ol>
     </div>

     <p style="padding-bottom: 30px;"></p>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <h1 class="govuk-heading-xl">
                    Transfer pledge 910106
               </h1>

               <section class="employer-details" style="padding-top: 20px;padding-bottom: 1px;">
                    <p>
                         Date: <strong>29/04/2021 13:36</strong><br>
                         Amount for 2021/22: <strong>£65,000</strong><br>
                         Remaining funds: <strong>£65,000</strong><br>
                         Applications for your transfers pledge: <strong>0</strong><br>
                    </p>
                    <div>   
                         <details class="govuk-details">
                              <summary class="govuk-details__summary">
                                   <span class="govuk-details__summary-text">Information about transfers costs and pledge amounts</span>
                              </summary>
                              <div class="govuk-details__text">

                                   <p><span class="govuk-body govuk-!-font-weight-bold">Estimated total cost </span> <br>
                                   This is an estimate of the total cost of training over the lifetime of the apprentice’s training. As the estimate is based on the funding band maximum, it may not reflect the final cost agreed with the training provider.

                                   <p><span class="govuk-body govuk-!-font-weight-bold">Pledge funds committed in this financial year </span> <br>
                                   This is an estimate of the funds you are expecting to transfer in this financial year for this specific pledge.

                                   The estimate is based on the funding band maximum, the planned start date of training and the 20% EPA payment made at the end of training.

                                   <p><span class="govuk-body govuk-!-font-weight-bold">Pledge funds remaining in this financial year </span> <br>
                                   This is an estimate of the funds still available to transfer for this specific pledge in this financial year.

                                   </p>
                              </div>
                         </details>
                    </div>
               </section>

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <div>

                    <div>

                         <!--

                         <h2 class="govuk-heading-m">Applications for your transfers pledge: 0</h2>

                         <div>
                              
                              <details class="govuk-details">
                                        <summary class="govuk-details__summary">
                                             <span class="govuk-details__summary-text">Information about transfers costs and pledge amounts</span>
                                        </summary>
                                        <div class="govuk-details__text">

                                             <p><span class="govuk-body govuk-!-font-weight-bold">Estimated total cost </span> <br>
                                             This is an estimate of the total cost of training over the lifetime of the apprentice’s training. As the estimate is based on the funding band maximum, it may not reflect the final cost agreed with the training provider.


                                             <p><span class="govuk-body govuk-!-font-weight-bold">Pledge funds committed in this financial year </span> <br>
                                             This is an estimate of the funds you are expecting to transfer in this financial year for this specific pledge.

                                             The estimate is based on the funding band maximum, the planned start date of training and the 20% EPA payment made at the end of training.

                                             <p><span class="govuk-body govuk-!-font-weight-bold">Pledge funds remaining in this financial year </span> <br>
                                             This is an estimate of the funds still available to transfer for this specific pledge in this financial year.

                                             </p>
                                        </div>
                              </details>

                         </div>

                         -->

                         <table class="govuk-table">
                              <thead class="govuk-table__head">
                                   <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">Applicant</th>
                                        <th scope="col" class="govuk-table__header">
                                             <div class="small-text">
                                                  Estimated total cost
                                             </div>
                                        </th>
                                        <th scope="col" class="govuk-table__header">Criteria</th>
                                        <th scope="col" class="govuk-table__header">Date applied</th>
                                        <th scope="col" class="govuk-table__header" width="100">Status</th>
                                   </tr>
                              </thead>
                              <tbody class="govuk-table__body">
                                   <tr class="govuk-table__row" data-table-row="one">
                                        <td class="govuk-table__cell" colspan="5" style="text-align: center;">No applications received yet</td>
                                   </tr>
                              </tbody>
                         </table>

                    </div>

               </div>

               <br>

               <a href="#" class="govuk-button">Create a new transfer pledge</a>
               &nbsp;&nbsp;&nbsp;
               <a href="delete-pledge" class="govuk-button govuk-button--warning accepted-journey-cancel-button">Delete transfer pledge</a>


               <div style="width: auto;float: right;margin-top: -0.5em;">
                    <h3 class="govuk-heading-l" style="display: inline-block;">
                         <strong>£<span>65,000</span></strong>
                         <br>
                         <div style="font-size: 16px; font-weight: normal;">
                              <span>Pledge 910106 funds<br>committed 2021/22</span>
                         </div>
                    </h3>
                    <h3 class="govuk-heading-l" style="display: inline-block;"> 
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </h3>
                    <h3 class="govuk-heading-l" style="display: inline-block;">
                         <strong><span style="color: #1d70b8">£65,000</span></strong>
                         <br>
                         <div style="font-size: 16px; font-weight: normal;">
                              <span>Pledge 910106 funds<br>remaining 2021/22</span>
                         </div>
                    </h3>
               </div>

               <!--
               <div class="new-pledge-values">
                    <h3 class="govuk-heading-l">
                         <strong>£<span class="value-format">65,000</span></strong>
                         <br>
                         <div class="small-text">
                              <span class="dotted-underline">Pledge 910106 funds<br>committed 2021/22</span>
                         </div>
                    </h3>
                    <h3 class="govuk-heading-l">
                         <strong><span class="total-value">£60,000</span></strong>
                         <br>
                         <div class="small-text">
                              <span class="dotted-underline">Pledge 910106 funds<br>remaining 2021/22</span>
                         </div>
                    </h3>
               </div>
               -->

               <br>

               <a href="my-pledges-one-pledges" class="govuk-back-link">Back to my transfer pledges</a> 

               <br><br><br><br><br>

          </div>

     </div>

</div>

{% endblock %}
