{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="my-account">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="finance">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="transfers">Transfers</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="my-pledges-multiple-pledges">My transfer pledges</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Transfer pledge 910106</a></li>
          </ol>
     </div>

     <p style="padding-bottom: 30px;"></p>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <h1 class="govuk-heading-xl">
                    Transfer pledge 910106
               </h1>

               <section class="employer-details" style="padding-top: 20px;padding-bottom: 1px;">
                    <p>
                         Date of pledge: <strong>29/04/2021 13:36</strong><br>
                         Pledge funds for 2021/22: <strong>£65,000</strong><br>
                         Remaining pledge funds for 2021/22: <strong>£29,000</strong><br>
                         Applications for your transfer pledge: <strong>3</strong><br>
                    </p>
                    <!--
                    <div>   
                         <details class="govuk-details">
                              <summary class="govuk-details__summary">
                                   <span class="govuk-details__summary-text">Information about transfers costs</span>
                              </summary>
                              <div class="govuk-details__text">

                                   <p><span class="govuk-body govuk-!-font-weight-bold">Estimated cost in this financial year </span> <br>
                                   This is an estimate of the cost of training for each application in this financial year. It is based on the funding band maximum and the planned start date of training.</p>

                                   <p><span class="govuk-body govuk-!-font-weight-bold">Pledge funds committed in this financial year</span> <br>
                                   This is an estimate of the funds you are expecting to transfer in this financial year for this specific pledge.
                                   The estimate is based on the funding band maximum, the planned start date of training and the 20% EPA payment made at the end of training.</p>

                                   <p><span class="govuk-body govuk-!-font-weight-bold">Pledge funds remaining in this financial year </span> <br>
                                   This is an estimate of the funds still available to transfer for this specific pledge in this financial year.
                                   </p>

                              </div>
                         </details>
                    </div>
                    -->
               </section>

          </div>
     </div>

     <div>   
          <details class="govuk-details">
               <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">Information about the applications</span>
               </summary>
               <div class="govuk-details__text">
                    <p><span class="govuk-body govuk-!-font-weight-bold">Estimated cost in this financial year </span> <br>
                         This is an estimate of the cost of training for each application in this financial year. It is based on the funding band maximum and the planned start date of training.
                    </p>
               </div>
          </details>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <div>

                    <div>

                         <table class="govuk-table">
                              <thead class="govuk-table__head">
                                   <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header" width="250px">Applicant</th>
                                        <th scope="col" class="govuk-table__header" width="120px">
                                             <div class="small-text">
                                                  Estimated cost 2021/22
                                             </div>
                                        </th>
                                        <th scope="col" class="govuk-table__header" width="120px">Typical duration</th>
                                        <th scope="col" class="govuk-table__header">Criteria</th>
                                        <th scope="col" class="govuk-table__header">Date applied</th>
                                        <th scope="col" class="govuk-table__header" width="100">Status</th>
                                   </tr>
                              </thead>
                              <tbody class="govuk-table__body">
                                   <tr class="govuk-table__row" data-table-row="one">
                                        <td class="govuk-table__cell"><a href="pledge-application-details-1">Belhavel Construction Ltd</a></td>
                                        <td class="govuk-table__cell">£2,880 <!--<br><p style="color: grey; padding-top: 5px;font-size: 16px;">Length of apprenticeship training: 24 months</p>-->
                                        </td>
                                        <td class="govuk-table__cell">30 months </td>
                                        <td class="govuk-table__cell">
                                             <!--<strong class="govuk-tag govuk-tag--green">-->100% match</strong>
                                             <p style="color: grey; padding-top: 5px;font-size: 16px;"> 
                                                  &#8226; Location <br>
                                                  &#8226; Sector </br>
                                                  &#8226; Type of job role </br>
                                                  &#8226; Level </p>
                                        </td>
                                        <td class="govuk-table__cell">23/03/2021</td>
                                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Awaiting approval</strong></td>
                                   </tr>
                                   <tr class="govuk-table__row" data-table-row="two">
                                        <td class="govuk-table__cell"><a href="#">CBJ Engineering</a></td>
                                        <td class="govuk-table__cell">£15,000 </td>
                                        <td class="govuk-table__cell">24 months </td>
                                        <td class="govuk-table__cell">
                                             <!--<strong class="govuk-tag govuk-tag--yellow">-->75% match</strong>
                                             <p style="color: grey; padding-top: 5px;font-size: 16px;"> 
                                                  &#8226; Location <br>
                                                  &#8226; Sector <br>
                                                  &#8226; Type of job role</p>
                                        </td>
                                        <td class="govuk-table__cell">15/03/2021</td>
                                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">AWAITING ACCEPTANCE BY APPLICANT</strong></td>
                                   </tr>
                                   <tr class="govuk-table__row">
                                        <td class="govuk-table__cell"><a href="#">Johnson and Johnson Building Co</a></td>
                                        <td class="govuk-table__cell">£7,500 </td>
                                        <td class="govuk-table__cell">24 months </td>
                                        <td class="govuk-table__cell">
                                             <!--<strong class="govuk-tag govuk-tag--orange">-->50% match</strong>
                                             <p style="color: grey; padding-top: 5px;font-size: 16px;">  
                                                  &#8226; Sector <br>
                                                  &#8226; Type of job role</p>
                                        </td>
                                        <td class="govuk-table__cell">28/03/2021</td>
                                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Rejected</strong></td>
                                   </tr>
                                   <tr class="govuk-table__row">
                                        <td class="govuk-table__cell"><a href="#">123 Windows Co</a></td>
                                        <td class="govuk-table__cell">£1,000 </td>
                                        <td class="govuk-table__cell">18 months </td>
                                        <td class="govuk-table__cell">
                                             <!--<strong class="govuk-tag govuk-tag--orange">-->0% match</strong>
                                             <p style="color: grey; padding-top: 5px;font-size: 16px;">  
                                                  &#8226; Sector <br>
                                                  &#8226; Type of job role</p>
                                        </td>
                                        <td class="govuk-table__cell">21/03/2021</td>
                                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Wihdrawn by applicant</strong></td>
                                   </tr>
                              </tbody>
                         </table>

                    </div>

               </div>

               <br>

              <!-- <a href="#" class="govuk-button">Create a new transfer pledge</a>
               &nbsp;&nbsp;&nbsp;
               <a href="#" class="govuk-button govuk-button--warning accepted-journey-cancel-button">Delete transfer pledge</a>
          -->
               <!--

               <div style="width: auto;float: right;margin-top: -0.5em;">
                    <h3 class="govuk-heading-l" style="display: inline-block;">
                         <strong>£<span>65,000</span></strong>
                         <br>
                         <div style="font-size: 16px; font-weight: normal;">
                              <span>Pledge 910106 funds<br>committed 2021/22</span>
                         </div>
                    </h3>
                    <h3 class="govuk-heading-l" style="display: inline-block;"> 
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </h3>
                    <h3 class="govuk-heading-l" style="display: inline-block;">
                         <strong><span style="color: #1d70b8">£29,000</span></strong>
                         <br>
                         <div style="font-size: 16px; font-weight: normal;">
                              <span>Pledge 910106 funds<br>remaining 2021/22</span>
                         </div>
                    </h3>
               </div>

              -->

               <br>

               <a href="my-pledges-multiple-pledges" class="govuk-back-link">Back to my transfer pledges</a> 

               <br><br><br><br><br>

          </div>

     </div>

</div>

{% endblock %}
