{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="my-account">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="finance">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="transfers">Transfers</a></li>
          </ol>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <h1 class="govuk-heading-xl small-margin-bottom">Manage transfers</h1>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
               <!-- <p>You can use unspent levy funds in your account by transferring up to 25% of your previous year's funds to another business.
               <p>They can use the transferred funds to pay for apprenticeship training and assessment.</p>
               <p>The levy funds you commit to a transfer will be paid from your account monthly over the duration of the apprenticeship. This means you are committing funds over multiple financial years.</p> -->

               <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                         <span class="govuk-details__summary-text">Information about transfers</span>
                    </summary>
                    <div class="govuk-details__text">
                         <p>You can use unspent levy funds in your account by transferring up to 25% of your previous year's funds to other organisations.</p>
                         <p>This is called your <strong>transfer allowance</strong>.</p>
                         <p>It is calculated every year on 6 April and shows in your account after 20 April.</p>
                         <p>The organisations receiving transferred funds can use this to pay for apprenticeship training and assessment.</p>
                         <p>The levy funds you commit to a transfer will be paid from your account monthly over the duration of the apprenticeship. This means you are committing funds over multiple financial years.</p>
                         <p>Transfer payments will leave your account before payments for your own apprenticeships.</p>
                    </div>
               </details>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <h2 class="govuk-heading-m transfers-title">Transfers finance</h2>
          </div>
          
     </div>

     <!-- transfer-values -->

     <div class="transfer-values-prototype mvs-version">

          <div class="transfer-values">
               <div class="transfer-funds">
                    <p>
                         <span>
                              <span>Your transfer allowance FY 2021/22</span>
                         </span>
                    </p>
                    <p class="number">£150,000</p>
               </div>


               <div class="transfer-funds">
                    <p>
                         <span>
                              <span>Allocated for transfers FY 2021/22</span>
                         </span>
                    </p>
                    <p class="number">£0</p>
               </div>

               <div>
                    <p>
                         <span>
                              <span>Remaining transfer funds FY 2021/22</span>
                         </span>
                    </p>
                    <p class="number">£150,000</p>
               </div>

          </div>

     </div>


     <div>
          
          <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                         <span class="govuk-details__summary-text">Information about transfers finance</span>
                    </summary>
                    <div class="govuk-details__text">

                         <p><span class="govuk-body govuk-!-font-weight-bold">Allocated for transfers in this financial year</span> <br>

                         
                         This is an estimate of the amount allocated for your transfers in this financial year and includes any existing transfer commitments carried over from last year. <br>

                         It uses an estimate of monthly payments based on the start date of training and the 20% EPA payment made at the end of training. <br>
                         It adds the pledges you have made this year to the ongoing transfer commitments you have made in previous years. </p>


                         <p><span class="govuk-body govuk-!-font-weight-bold">Remaining transfer funds </span><br>

                         This is an estimate of what remains for you to pledge to transfers in this financial year.

                         </p>
                    </div>
          </details>

     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <hr class="separator dotted">
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
               <h2 class="govuk-heading-m">My transfer pledges</h2>
               <p>Create a public funding pledge which is shown online so that businesses can apply to you for a transfer of funds.</p>
               <div class="govuk-inset-text">You have <strong>2</strong> transfers pledges.</div>
               <a href="start-new-pledge" class="govuk-button" data-module="govuk-button">Create a transfers pledge</a>
               <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">View my transfer pledges and applications</a>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <hr class="separator dotted">
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
               <h2 class="govuk-heading-m">My transfer connections</h2>
               <p>If you know a business you want to transfer funds to, you can make a connection to them and set up a transfer.</p>
               <p>You'll need to know their apprenticeship service account ID number.</p>
               <div class="govuk-inset-text">You have <strong>0</strong> pending transfer connections.</div>
               <a href="#" class="govuk-button govuk-button--secondary secondary-overwrite" data-module="govuk-button">Make a transfer to a business I know</a>
          </div>
     </div>

     <!-- <div class="govuk-grid-row">

          <div class="govuk-grid-column-full">

               <hr class="separator dotted">

               <div class="finance-homepage">
                    <h2 class="govuk-heading-m">My transfers</h2>
                    <p class="no-transfers">You have <strong class="number-of-pledges">0</strong> transfer pledges.</p>
                    <a href="transfers/index" class="govuk-button" data-module="govuk-button">Create a transfers pledge</a>
                    <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">View my pledges</a>
               </div>

               <div class="finance-homepage">
                    <h2 class="govuk-heading-m">My transfer connections</h2>
                    <p class="no-transfers">You have <strong class="number-of-connections">0</strong> pending transfer connections.</p>
                    <a href="private/1-business-id" class="govuk-button govuk-button--secondary" data-module="govuk-button">Make a transfer to a business I know</a>
               </div>

          </div>

     </div> -->

</div>

{% endblock %}
