{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <p style="padding-bottom: 30px;"></p>

     <div class="govuk-grid-row" id="sender-check-answers">
          <div class="govuk-grid-column-two-thirds">

               <span class="govuk-caption-m">Make a transfer to a business I know</span>
               <h1 class="govuk-heading-xl">Confirm details</h1>

               <div class="section-one">
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                         <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key" style="width: 40%;">Sending employer</dt>
                              <dd class="govuk-summary-list__value">BARRY & BARRY Ltd</dd>
                              <dd class="govuk-summary-list__actions"></dd>
                         </div>
                         <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">Receiving employer</dt>
                              <dd class="govuk-summary-list__value">Belhavel Construction Ltd</dd>
                              <dd class="govuk-summary-list__actions"><a class="govuk-link" href="transfer-to-business-1.html">Change<span class="govuk-visually-hidden"> receiving employer</span></a></dd>
                         </div>
                         <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">Receiving account ID</dt>
                              <dd class="govuk-summary-list__value">12345678</dd>
                              <dd class="govuk-summary-list__actions"><a class="govuk-link" href="transfer-to-business-1.html">Change<span class="govuk-visually-hidden"> receiving account ID</span></a></dd>
                         </div>
                    </dl>
               </div>

               <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

                           <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                              Do you want to connect with this receiving employer?
                           </legend>

                           <p></p>

                           <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                             <div class="govuk-radios__item">
                               <input class="govuk-radios__input" name="selector" id="option1" type="radio" data-aria-controls="conditional-contact-2">
                               <label class="govuk-label govuk-radios__label" for="option2">
                                 Yes, this is the correct employer
                                 <!--
                                 <div id="with-hint-hint" class="govuk-hint">
                                   You will be reimbursed via your deferment account.
                                 </div>
                                 -->
                               </label>
                             </div>

                             <div class="govuk-radios__item">
                               <input class="govuk-radios__input" name="selector" id="option2" type="radio">
                               <label class="govuk-label govuk-radios__label" for="option1">
                                 No, I want to re-enter account ID
                                 <!--
                                 <div id="with-hint-hint" class="govuk-hint">
                                   You will be reimbursed via your bank account.
                                 </div>
                                 -->
                               </label>
                             </div>

                    </fieldset>
               </div>

               <div>
                    <a href="" onclick='myFunction()' id="link"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
                    <a href="transfers" class="govuk-link govuk-link-secondary govuk-link--no-visited-state">Cancel transfer</a>
               </div>

          </div>               

     </div>

</div>


<script>
    function myFunction() {
   
        if(document.getElementById('option1').checked) {
            document.getElementById('link').href = "transfer-to-business-3.html";
        }
        if(document.getElementById('option2').checked) {
            document.getElementById('link').href = "transfer-to-business-1.html";
        }
    }
</script>


{% endblock %}
