{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../includes/navigation-sender.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container" id="transfers-hub">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="my-account">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="finance">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="transfers">Transfers</a></li>
          </ol>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <!-- APPLICATION COMPLETE - START -->
               <div class="govuk-panel govuk-panel--confirmation pledge-complete">
                    <h1 class="govuk-panel__title">Your pledge has been created</h1>
               </div>
               <!-- APPLICATION COMPLETE - END -->

               <h1 class="govuk-heading-xl transfers-title">Transfers</h1>

          </div>
     </div>

     <div class="transfer-values">
          <div class="transfer-funds">
               <p>Your transfer allowance</p>
               <p class="number">£<span class="value-format">150000</span></p>
          </div>
          <div class="transfer-funds-remaining">
               <p>Committed to transfers</p>
               <p class="number before-pledge">£<span class="value-format">0</span></p>
               <p class="number after-pledge">£<span class="value-format">{{ 0+data['pledge-amount'] }}</span></p>
          </div>
          <div class="transfer-funds-non-pledge">
               <p>Available balance (projected)</p>
               <p class="number">£<span class="value-format">150000</span></p>
               <p class="number after-pledge">£<span class="value-format">{{ 150000-data['pledge-amount'] }}</span></p>
               <!-- <p class="number after-approval">£<span class="value-format">{{ data['pledge-amount']-9000 }}</span></p> -->
          </div>
     </div>


     <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

               <h2 class="govuk-heading-s">What is a transfer?</h2>

               <p>You can send spare levy funds in your account by transferring up to 25% of your previous year's funds to another business, to pay for their apprenticeship training.</p>

               <h2 class="govuk-heading-s">Who can send and receive a transfer?</h2>

               <p>You can make a transfer to any business of your choice.</p>

               <p>Levy payers can receive a transfer from another levy payer, but you cannot do both at the same time. You can only be a sender or receiver of a transfer at any one time.</p>

               <p>By making a transfer of funds, you are only responsible for paying the cost of apprenticeship training for another business with that transfer.</p>

               <p>The business receiving the transfer is responsible for everything else related to that apprenticeship.</p>

               <h2 class="govuk-heading-s">Deciding who to transfer funding to</h2>

               <p>There are 2 ways to make a transfer:</p>

               <ul class="govuk-list govuk-list--bullet">
                    <li>transferring funding to a business you know by making a connection with them on the Apprenticeship Service</li>
                    <li>creating a public funding pledge which is advertised online so that businesses can apply to you for funding</li>
               </ul>

               <p>You can use both options and manage it all in your Apprenticeship Service account.</p>

               <p>Anyone receiving a transfer will also need an Apprenticeship Service account.</p>

               <h2 class="govuk-heading-l">Manage my transfers</h2>

               <!-- <ul class="govuk-list">
                    <li><a class="govuk-link" href="#">View my transfer connections</a></li>
                    <li><a class="govuk-link" href="#">View my transfer pledges</a></li>
                    <li><a class="govuk-link" href="#">View my approved transfers</a></li>
               </ul> -->

          <!-- <div class="govuk-grid-column-two-thirds">

               <p>You can spend spare levy funds by transferring up to 25% of your previous year's funds to another business, to pay for their apprenticeship training.</p>

               <p>You can make a transfer to any business of your choice.</p>

               <p>You are only responsible for paying the cost of their training with a transfer.</p>

               <p>The business receiving the transfer is responsible for everything else related to that apprenticeship.</p>

               <p>That business will need an Apprenticeship Service account to receive the transfer.</p>

               <p><strong>Create a transfer</strong></p>

               <p>You can:</p>

               <ol class="govuk-list govuk-list--number">
                    <li>create a public pledge that businesses can search online and apply for</li>
                    <li>make a transfer to a business you know</li>
               </ol>

               <h2 class="govuk-heading-s no-margin-bottom">Transfer pledges</h2>
               <p class="no-pledges">You have no pending pledges.</p>
          </div> -->

          </div>

          <div class="govuk-grid-column-full">

               <div class="govuk-tabs" data-module="govuk-tabs" id="transfers-tabs">
                    <ul class="govuk-tabs__list">
                         <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                              <a class="govuk-tabs__tab" href="#transfer-connections">Transfer connections</a>
                         </li>
                         <li class="govuk-tabs__list-item">
                              <a class="govuk-tabs__tab" href="#transfer-pledges">Transfer pledges</a>
                         </li>
                         <li class="govuk-tabs__list-item">
                              <a class="govuk-tabs__tab" href="#approved-transfers">Approved transfers</a>
                         </li>
                    </ul>
                    <div class="govuk-tabs__panel" id="transfer-connections">
                         <h2 class="govuk-heading-s">Transfer connections</h2>
                         <p class="">You have no pending transfer connections.</p>
                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="transfer-pledges">
                         <h2 class="govuk-heading-s">Transfer pledges</h2>
                         <p class="no-pledges">You have no pending pledges.</p>

                         <!-- PLEDGE TABLE - START -->
                         <table class="govuk-table pledge-complete-table">
                              <thead class="govuk-table__head">
                                   <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">Description</th>
                                        <th scope="col" class="govuk-table__header">Date</th>
                                        <th scope="col" class="govuk-table__header">Total</th>
                                        <th scope="col" class="govuk-table__header">Applications</th>
                                        <th scope="col" class="govuk-table__header">Approved</th>
                                        <th scope="col" class="govuk-table__header"></th>
                                   </tr>
                              </thead>
                              <tbody class="govuk-table__body">
                                   <tr class="govuk-table__row new-pledge">
                                        <td class="govuk-table__cell">
                                             <strong>
                                                  Pledge number - 9101
                                                  <!-- <div class="anonymous-yes">Anonymous Pledge (9101)</div>
                                                  <div class="anonymous-no">BARRY & BARRY Ltd (9101)</div> -->
                                             </strong>
                                        </td>
                                        <td class="govuk-table__cell"><div id="date-stamp"></div></td>
                                        <td class="govuk-table__cell">£<span class="value-format">{{ data['pledge-amount'] }}</span></td>
                                        <td class="govuk-table__cell"><span class="pledge-bids">3</span></td>
                                        <td class="govuk-table__cell"><span class="pledge-approved-table">0</span></td>
                                        <td class="govuk-table__cell"><a href="pledges/1-pledge-details">View</a></td>
                                   </tr>
                              </tbody>
                         </table>
                         <!-- PLEDGE TABLE - END -->

                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="approved-transfers">
                         <h2 class="govuk-heading-s">Approved transfers</h2>
                         <p class="">You have no pending approved transfers.</p>
                    </div>
               </div>

               {% from "govuk/components/button/macro.njk" import govukButton %}

               <a href="transfers/index" class="govuk-button" data-module="govuk-button">Create a funding pledge</a>

               <a href="" class="govuk-button govuk-button--secondary" data-module="govuk-button">Make a transfer to a business I know</a>

               <p>View <a href="#">'Find a business to fund training for your apprentices'</a> to see how pledges look online.</p>

               <!-- <hr class="separator">

               <h2 class="govuk-heading-s">Connection requests</h2>
               <p>You have no pending or approved requests.</p>

               <h2 class="govuk-heading-s">Transfer requests</h2>
               <p>You have no pending or approved requests.</p> -->


          </div>

     </div>

</div>

{% endblock %}
