<div class="transfer-values-prototype mvs-version">

     <div class="transfer-values transfer-values-2021">
          <div class="transfer-funds">
               <p>
                    <span class="small-text hover-over">
                         <span class="dotted-underline">Your transfer allowance 2021/22</span>
                         <!--
                         <span class="icon help"></span>
                         <span class="tooltiptext">
                              Your transfer allowance is 25% of your previous year's levy funds. It is calculated every year on 6 April.
                         </span>
                         -->
                    </span>
               </p>
               <p class="number before-transfer">£<span class="value-format">150000</span></p>
               <p class="number after-transfer">£<span class="value-format">{{ 150000-data['transfer-private-amount'] }}</span></p>
               <p class="number after-transfer-and-pledge">£<span class="value-format">{{ 150000-18000-data['transfer-private-amount'] }}</span></p>
          </div>
          <div class="transfer-funds-remaining">
               <p>
                    <span class="small-text hover-over">
                         <span class="dotted-underline">Allocated for transfers 2021/22</span>
                         <!--<span class="icon help"></span>
                         <span class="tooltiptext">
                              Allocated for transfers shows an estimate of your levy funds allocated for transfers in this financial year.
                              <br><br>
                              It uses an estimate of monthly payments based on the start date of training and the 20% EPA payment made at the end of training.
                              <br><br>
                              It adds the pledges you have made this year to the ongoing transfer commitments you have made in previous years.
                         </span>
                         -->
                    </span>
               </p>
               <p class="number before-pledge before-transfer">£<span class="value-format">0</span></p>
               <p class="number after-pledge">£<span class="value-format">{{ data['pledge-amount'] }}</span></p>
               <p class="number after-transfer">£<span class="value-format">{{ data['transfer-private-amount'] }}</span></p>
               <p class="number after-transfer-and-pledge">£<span class="value-format">{{ data['transfer-private-amount'] }}</span></p>
          </div>
          <div class="transfer-funds-non-pledge">
               <p>
                    <span class="small-text hover-over">
                         <span class="dotted-underline">Remaining transfer funds 2021/22</span>
                         <!--
                         <span class="icon help white"></span>
                         <span class="tooltiptext">
                              Your remaining transfer funds is an estimate of what remains for you to pledge to transfers in this financial year.
                         </span>
                         -->
                    </span>
               </p>
               <p class="number before-transfer">£<span class="value-format">150000</span></p>
               <p class="number after-pledge">£<span class="value-format">{{ 150000-data['pledge-amount'] }}</span></p>
               <p class="number after-transfer">£<span class="value-format">{{ 150000-data['transfer-private-amount'] }}</span></p>
               <p class="number after-transfer-and-pledge">£<span class="value-format">{{ 150000-data['transfer-private-amount']-18000 }}</span></p>
          </div>
     </div>

</div>
