<!-- PLEDGE TABLE - START -->
<table class="govuk-table applications-table" id="order-applications-table-unhappy">
     <thead class="govuk-table__head">
          <tr class="govuk-table__row">
               <th scope="col" class="govuk-table__header" onclick="sortTable(0)"><span class="icon sort"></span>Match</th>
               <th scope="col" class="govuk-table__header" onclick="sortTable(2)"><span class="icon sort"></span>Applicant</th>
               <th scope="col" class="govuk-table__header" onclick="sortTable(3)"><span class="icon sort"></span>Total cost</th>
               <th scope="col" class="govuk-table__header" onclick="sortTable(4)"><span class="icon sort"></span>Criteria</th>
               <th scope="col" class="govuk-table__header" onclick="sortTable(5)"><span class="icon sort"></span>Date</th>
               <th scope="col" class="govuk-table__header" onclick="sortTable(6)"><span class="icon sort"></span>Status</th>
               <th scope="col" class="govuk-table__header"></th>
          </tr>
     </thead>
     <tbody class="govuk-table__body">

          <!-- !!!!!!!!!!!!!!! APPLICATION - 1 - START !!!!!!!!!!!!!!! -->
          <tr class="govuk-table__row" data-table-row="one">
               <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">100%</strong></td>
               <td class="govuk-table__cell"><a href="2/2A-application-details" class="govuk-heading-s govuk-link govuk-link--no-visited-state">Belhavel Construction Ltd</a></td>
               <td class="govuk-table__cell">£20,000<br>over 24 months</td>
               <td class="govuk-table__cell">
                    <p><span class="icon tick"></span>Location</p>
                    <p><span class="icon tick"></span>Sector</p>
                    <p><span class="icon tick"></span>Category of training</p>
                    <p><span class="icon tick"></span>Level</p>
               </td>
               <td class="govuk-table__cell">23/03/2021</td>
               <td class="govuk-table__cell">
                    <p class="awaiting">Awaiting</p>
                    <p class="application-approved"><span class="icon approved"></span>Approved</p>
               </td>
               <td class="govuk-table__cell"><a href="2/2A-application-details" class="">View</a></td>
          </tr>
          <!-- !!!!!!!!!!!!!!! APPLICATION - 1 - END !!!!!!!!!!!!!!! -->

          <!-- !!!!!!!!!!!!!!! APPLICATION - 2 - START !!!!!!!!!!!!!!! -->
          <tr class="govuk-table__row" data-table-row="two">
               <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">75%</strong></td>
               <td class="govuk-table__cell"><a href="3/3A-application-details" class="govuk-heading-s govuk-link govuk-link--no-visited-state">CBJ Engineering</a></td>
               <td class="govuk-table__cell">£10,000<br>over 24 months</td>
               <td class="govuk-table__cell">
                    <p><span class="icon tick"></span>Location</p>
                    <p><span class="icon tick"></span>Sector</p>
                    <p><span class="icon tick"></span>Category of training</p>
                    <p><span class="icon cross"></span>Level</p>
               </td>
               <td class="govuk-table__cell">15/03/2021</td>
               <td class="govuk-table__cell">
                    <p class="awaiting">Awaiting</p>
                    <p class="application-approved"><span class="icon approved"></span>Approved</p>
               </td>
               <td class="govuk-table__cell"><a href="3/3A-application-details" class="">View</a></td>
          </tr>
          <!-- !!!!!!!!!!!!!!! APPLICATION - 2 - END !!!!!!!!!!!!!!! -->

          <!-- !!!!!!!!!!!!!!! APPLICATION - 3 - START !!!!!!!!!!!!!!! -->
          <tr class="govuk-table__row" data-table-row="three">
               <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">75%</strong></td>
               <td class="govuk-table__cell"><a href="4/4A-application-details" class="govuk-heading-s govuk-link govuk-link--no-visited-state">Dev Mechanics Ltd</a></td>
               <td class="govuk-table__cell">£10,000<br>over 24 months</td>
               <td class="govuk-table__cell">
                    <p><span class="icon tick"></span>Location</p>
                    <p><span class="icon cross"></span>Sector</p>
                    <p><span class="icon tick"></span>Category of training</p>
                    <p><span class="icon tick"></span>Level</p>
               </td>
               <td class="govuk-table__cell">15/03/2021</td>
               <td class="govuk-table__cell">
                    <p class="awaiting">Awaiting</p>
                    <p class="application-approved"><span class="icon approved"></span>Approved</p>
               </td>
               <td class="govuk-table__cell"><a href="4/4A-application-details" class="">View</a></td>
          </tr>
          <!-- !!!!!!!!!!!!!!! APPLICATION - 3 - END !!!!!!!!!!!!!!! -->

          <!-- !!!!!!!!!!!!!!! APPLICATION - 4 - START !!!!!!!!!!!!!!! -->
          <tr class="govuk-table__row" data-table-row="four" id="error-row">
               <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">50%</strong></td>
               <td class="govuk-table__cell"><a href="5/5A-application-details" class="govuk-heading-s govuk-link govuk-link--no-visited-state">Johnson and Johnson Building Co</a></td>
               <td class="govuk-table__cell">£12,000<br>over 24 months</td>
               <td class="govuk-table__cell">
                    <p><span class="icon cross"></span>Location</p>
                    <p><span class="icon tick"></span>Sector</p>
                    <p><span class="icon tick"></span>Category of training</p>
                    <p><span class="icon cross"></span>Level</p>

               </td>
               <td class="govuk-table__cell">28/03/2021</td>
               <td class="govuk-table__cell">
                    <p class="awaiting">Awaiting</p>
                    <p class="application-funds"><span class="icon rejected"></span>Not enough funds</p>
               </td>
               <td class="govuk-table__cell"><a href="5/5A-application-details" class="">View</a></td>
          </tr>
          <!-- !!!!!!!!!!!!!!! APPLICATION - 4 - END !!!!!!!!!!!!!!! -->

     </tbody>
</table>
<!-- PLEDGE TABLE - END -->
