<div class="transfer-values-V3">

     <!-- 2020 - START -->
     <div class="transfer-values transfer-values-2020">
          <div class="transfer-funds">
               <p>Transfer allowance</p>
               <p class="number">£<span class="value-format">25000</span></p>
          </div>
          <div class="transfer-funds-remaining">
               <div class="text">
                    <p>Committed to transfers</p>
                    <p class="number">£<span class="value-format">17000</span></p>
               </div>
          </div>
          <div class="transfer-funds-non-pledge">
               <p>Remaining balance (actual)</p>
               <p class="number">£<span class="value-format">8000</span></p>
          </div>
     </div>
     <!-- 2020 - END -->

     <!-- 2021 - START -->
     <div class="transfer-values transfer-values-2021">
          <div class="transfer-funds">
               <p>Your transfer allowance</p>
               <p class="number">£<span class="value-format">25000</span></p>
          </div>
          <div class="transfer-funds-remaining">
               <div class="text">
                    <p>Committed to transfers</p>
                    <p class="number">£<span class="value-format">15000</span></p>
               </div>
          </div>
          <div class="transfer-funds-non-pledge">
               <p>Remaining balance (actual)</p>
               <p class="number">£<span class="value-format">10000</span></p>
          </div>
     </div>
     <!-- 2021 - END -->

     <!-- 2022 - START -->
     <div class="transfer-values transfer-values-2022">
          <div class="transfer-funds">
               <p>Transfer allowance</p>
               <p class="number">Not known</p>
          </div>
          <div class="transfer-funds-remaining">
               <div class="text">
                    <p>Committed to transfers</p>
                    <p class="number">£<span class="value-format">25000</span></p>
               </div>
          </div>
          <div class="transfer-funds-non-pledge">
               <p>Remaining balance (actual)</p>
               <p class="number">Not known</p>
          </div>
     </div>
     <!-- 2022 - END -->

     <!-- 2023 - START -->
     <div class="transfer-values transfer-values-2023">
          <div class="transfer-funds">
               <p>Transfer allowance</p>
               <p class="number">Not known</p>
          </div>
          <div class="transfer-funds-remaining">
               <div class="text">
                    <p>Committed to transfers</p>
                    <p class="number">£<span class="value-format">15000</span></p>
               </div>
          </div>
          <div class="transfer-funds-non-pledge">
               <p>Remaining balance (actual)</p>
               <p class="number">Not known</p>
          </div>
     </div>
     <!-- 2023 - END -->

     <!-- 2024 - START -->
     <div class="transfer-values transfer-values-2024">
          <div class="transfer-funds">
               <p>Transfer allowance</p>
               <p class="number">Not known</p>
          </div>
          <div class="transfer-funds-remaining">
               <div class="text">
                    <p>Committed to transfers</p>
                    <p class="number">£<span class="value-format">5000</span></p>
               </div>
          </div>
          <div class="transfer-funds-non-pledge">
               <p>Remaining balance (actual)</p>
               <p class="number">Not known</p>
          </div>
     </div>
     <!-- 2024 - END -->

</div>
