{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <a href="javascript:history.back()" class="govuk-back-link">Back</a>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <h1 class="govuk-heading-xl">There are multiple locations based on your selected locations</h1>

               <form method="post" action="5-new-pledge-details#section-2">

                    <div class="govuk-form-group">
                         <fieldset class="govuk-fieldset">
                              <legend class="govuk-fieldset__legend">Please select the correct location</legend>
                              <div class="govuk-radios">
                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="location_duplicate_one" name="location_duplicate" type="radio" value="Show" {{ checked("location_duplicate", "Warwick, Warwickshire") }}>
                                        <label class="govuk-label govuk-radios__label" for="location_duplicate_one">Warwick, Warwickshire</label>
                                   </div>
                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="location_duplicate_two" name="location_duplicate" type="radio" value="Show" {{ checked("location_duplicate", "Warwick, Greater London") }}>
                                        <label class="govuk-label govuk-radios__label" for="location_duplicate_two">Warwick, Greater London</label>
                                   </div>
                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="location_duplicate_three" name="location_duplicate" type="radio" value="Show" {{ checked("location_duplicate", "Warwick Bridge, Cumbria") }}>
                                        <label class="govuk-label govuk-radios__label" for="location_duplicate_three">Warwick Bridge, Cumbria</label>
                                   </div>
                              </div>
                         </fieldset>
                    </div>

                    <button class="govuk-button pledge-amount-continue" data-module="govuk-button">Continue</button>

                    <a href="javascript:history.back()" class="govuk-link govuk-link-secondary govuk-link--no-visited-state govuk-back-link">Back</a>

               </form>

          </div>

     </div>

</div>

{% endblock %}
