{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               {% if data['pledge-application-standard'] %}
                    <h1 class="govuk-heading-xl">Your <span class="pledge-name-answer">####</span> application details</h1>
               {% else %}
                    <h1 class="govuk-heading-xl">Your BARRY & BARRY Ltd (910106) application details</h1>
               {% endif %}

               <div class="govuk-warning-text application-status-one">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                         <span class="govuk-warning-text__assistive">Warning</span>
                         Application status: <span class="govuk-tag govuk-tag">FUNDS AVAILABLE TO USE</span>
                    </strong>
               </div>

               <div class="accepted-text-hide">
                    <h2 class="govuk-heading-m">Funds balance</h2>
               </div>

               <section class="employer-contact-details">
                    <p>
                         {% if data['pledge-application-standard'] %}
                              <strong>Accepted:</strong> £<span class="total-cost-multiplied value-format">####</span> <br>
                              <strong>Used:</strong> 0 <br>
                              <strong>Remaining:</strong> £<span class="total-cost-multiplied value-format">####</span>
                         {% else %}
                              <strong>Accepted:</strong> £18,000 <br>
                              <strong>Used:</strong> 0 <br>
                              <strong>Remaining:</strong> £18,000
                         {% endif %}
                    </p>
               </section>

               <div class="accepted-text-hide">
                    <h2 class="govuk-heading-m">About your apprenticeship training course</h2>
               </div>

               <section class="employer-contact-details">
                    <p>
                         <strong>Apprenticeship training course:</strong>
                         {% if data['pledge-application-standard'] %}
                              {{ data['pledge-application-standard'] }}
                         {% else %}
                              Bricklayer (level 2)
                         {% endif %}
                    </p>
                    <p>
                         <strong>Number of apprentices:</strong>
                         {% if data['pledge-application-apprentices'] %}
                              {{ data['pledge-application-apprentices'] }}
                         {% else %}
                              2
                         {% endif %}
                    </p>
                    <p>
                         <strong>Estimated total cost:</strong>
                         {% if data['pledge-application-standard'] %}
                              £<span class="total-cost-multiplied value-format">####</span>
                         {% else %}
                              £18,000
                         {% endif %}
                    </p>
                    <p>
                         <strong>Apprenticeship training to start by:</strong>
                         {% if data['pledge-application-start-month'] %}
                              {{ data['pledge-application-start-month'] }}/{{ data['pledge-application-start-year'] }}
                         {% else %}
                              10/2021
                         {% endif %}
                    </p>
               </section>

               <br>

               <form method="post" action="5B-application-details" id="">
                    <button class="govuk-button" data-module="govuk-button">Use funds</button>
                    <br>
                    <a href="4-my-applications" class="govuk-link govuk-link-secondary govuk-link--no-visited-state govuk-back-link no-margin-left">Back</a>
               </form>

          </div>

     </div>

</div>

{% endblock %}
