{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-finance">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3A-transfers">Transfers</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Financial breakdown</a></li>
          </ol>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
               <p><br></p>
               <h1 class="govuk-heading-xl">View my transfer finances</h1>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <h2 class="govuk-heading-m small-margin-bottom">My finances</h2>
               <p>This is a financial snapshot of what is available.</p>
          </div>
          <div class="govuk-grid-column-two-thirds">
               <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                         <span class="govuk-details__summary-text">Your transfer allowance for this financial year (FY)</span>
                    </summary>
                    <div class="govuk-details__text">
                         <p>This is calculated every year on 6 April and shows in your account after 20 April.</p>
                         <p>Transfer payments will leave your account before payments for your own apprenticeships.</p>
                         <p><strong>Pledges and transfer connections</strong></p>
                         <p>This is an estimate of the amount allocated for your transfers in this financial year. It includes any existing transfer commitments carried over from last year.</p>
                         <p><strong>Remaining transfer funds</strong></p>
                         <p>This is an estimate of what remains for you to pledge to transfers in this financial year.</p>
                    </div>
               </details>
          </div>
     </div>

     <div class="transfer-values-prototype mvs-version">

          <div class="transfer-values">
               <div class="transfer-funds">
                    <p><span>Your transfer allowance FY 2021/22</span></p>
                    <p class="number">£200,000</p>
               </div>


               <div class="transfer-funds">
                    <p><span>Pledges & transfer connections FY 2021/22</span></p>
                    <p class="number">£187,400</p>
               </div>

               <div>
                    <p><span>Remaining transfer funds FY 2021/22</span></p>
                    <p class="number">£12,600</p>
               </div>

          </div>

     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
               <p><br></p>
               <h2 class="govuk-heading-m small-margin-bottom">Your transfer commitments in future financial years</h2>
               <p>These finances show approved application for your pledge and for transfers where you have connected directly with an employer.</p>
               <p>This uses an estimated total cost of training, based on the funding band maximum for this apprenticeship.</p>
               <p>The yearly estimate costs are based on the planned start date of training and the 20% completion payment. It uses the financial year starting April.</p>
               <p>This estimate is based on the information provided in the transfer funding application. As details such as start and end dates, final agreed costs, and breaks in learning may change, it can only be used as a guide.</p>
               <!-- <p>The costs could change because ESFA use the funding band maximum and your training provider may charge less than this.</p>
               <p>Delays in start dates or breaks in learning will affect the spending profile of the monthly payments leaving your account.</p> -->
          </div>
     </div>

     <div class="transfer-values-prototype post-mvs-version">

          <div class="transfer-values">
               <div>
                    <p><span>Committed FY 2021/22</span></p>
                    <p class="number">£108,400</p>
               </div>
               <div>
                    <p><span>Committed FY 2022/23</span></p>
                    <p class="number">£142,400</p>
               </div>

               <div>
                    <p><span>Committed FY 2023/24</span></p>
                    <p class="number">£90,800</p>
               </div>

               <div>
                    <p><span>Committed FY 2024/25</span></p>
                    <p class="number">£54,000</p>
               </div>

               <div>
                    <p><span>Committed FY 2025/26</span></p>
                    <p class="number">£0</p>
               </div>

          </div>

     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <p><br></p>
               <p style="border-top: 2px solid #b1b4b6;margin-top: 20px;margin-bottom: 40px;"></p>
          </div>
          <div class="govuk-grid-column-two-thirds">

               <h2 class="govuk-heading-m small-margin-bottom">Download transfers finance data</h2>

               <p>Below are two downloadable csv files that will provide you with a detailed breakdown of your transfer finances</p>

               <!-- <p>This includes:</p>

               <ul class="govuk-list govuk-list--bullet">
                    <li>High level financial data</li>
                    <li>Pledge data</li>
                    <li>Application financial data</li>
                    <li>Learner level financial data</li>
               </ul> -->

               <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                         <span class="govuk-warning-text__assistive">Warning</span>
                         Your projection was last updated on 14 November 2021
                    </strong>
               </div>

               <div class="downloads">
                    <a href="/public/images/sample-year-to-date.csv" class="download-csv black-version" download>
                         <span class="black-download"></span>
                         <div>Download year-to-date finance data - excel</div>
                    </a>
                    <p class="govuk-caption-m">This shows actual learner level spend based on transactions reported by training providers via ILRs.</p>

                    <a href="/public/images/sample-forecast.csv" class="download-csv black-version" download>
                         <span class="black-download"></span>
                         <div>Download forecasted finance data - excel</div>
                    </a>
                    <p class="govuk-caption-m">
                         This shows learner level forecasted financial data.  This is based on the information provided within approved pledge applications and confirmed transfers.
                         This is a forecast and subject to change as details such as start and end dates, final agreed costs and breaks in learning may change.
                    </p>
               </div>
          </div>
     </div>


     <p><br></p>

</div>

{% endblock %}
