{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation-sender-secondary.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry" id="transfers-hub">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <span class="govuk-caption-m">Transfer matching service</span>
               <h1 class="govuk-heading-xl">Location of the employer receiving the transfer</h1>

               <form method="post" action="3-sector" id="pledge-location-form">

                    <div class="updates-locations">
                         <div id="locations" data-location-count="{{numberOfLocations}}">
                              <div class="govuk-form-group">
                                   <label class="govuk-label" for="pledge-location[url1]">Select region of the receiving employer:</label>
                                   <select class="govuk-select" id="pledge-location[url1]" name="pledge-location[url1]">
                                        <option value="All locations in England" selected>All locations in England</option>
                                        <option disabled>---------------------------------</option>
                                        <option value="East Midlands">East Midlands</option>
                                        <option value="East of England">East of England</option>
                                        <option value="Greater London">Greater London</option>
                                        <option value="North East">North East</option>
                                        <option value="North West England">North West England</option>
                                        <option value="South East England">South East England</option>
                                        <option value="South West England">South West England</option>
                                        <option value="West Midlands">West Midlands</option>
                                        <option value="Yorkshire and the Humber">Yorkshire and the Humber</option>
                                   </select>
                              </div>

                              {% for url, location in locations -%}
                                   {% if url != 'url1' %}
                                   {% if location != '' %}
                                        <div class="govuk-form-group new-location">
                                             <label class="govuk-label" for="pledge-location[{{url}}]">Additional location</label>
                                             <select class="govuk-select" id="pledge-location[{{url}}]" name="pledge-location[{{url}}]">
                                                  <option value="All locations in England" selected>All locations in England</option>
                                                  <option disabled>---------------------------------</option>
                                                  <option value="East Midlands">East Midlands</option>
                                                  <option value="East of England">East of England</option>
                                                  <option value="Greater London">Greater London</option>
                                                  <option value="North East">North East</option>
                                                  <option value="North West England">North West England</option>
                                                  <option value="South East England">South East England</option>
                                                  <option value="South West England">South West England</option>
                                                  <option value="West Midlands">West Midlands</option>
                                                  <option value="Yorkshire and the Humber">Yorkshire and the Humber</option>
                                             </select>
                                             <p class="govuk-body">
                                                  <a class="govuk-link govuk-link--no-visited-state" data-remove="[{{url}}]" href="#">remove</a>
                                             </p>
                                        </div>
                                   {% endif %}
                                   {% endif %}
                              {%- endfor %}
                         </div>
                         <p class="govuk-body govuk-!-margin-bottom-6">
                              <a class="govuk-link govuk-link--no-visited-state add-location" href="#" id="addAnotherLocation">Add another location</a>
                         </p>
                    </div>

                    <p><br></p>

                    <button class="govuk-button" data-module="govuk-button" id="pledge-location-continue">Continue</button>

                    <a href="8-cancel-pledge" class="govuk-link govuk-link-secondary govuk-link--no-visited-state">Cancel pledge</a>

               </form>

          </div>

     </div>

</div>

{% endblock %}
