{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation-sender.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container" id="transfers-hub">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row" id="sender-check-answers">
          <div class="govuk-grid-column-two-thirds">

               <span class="govuk-caption-m">Transfer matching service</span>
               <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

               <!-- SECTION 1 - START -->
               <div class="section-one">
                    <h2 class="govuk-heading-m">Pledge details</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                         <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">Anonymous?</dt>
                              <dd class="govuk-summary-list__value">{{ data['pledge-anonymous'] }}</dd>
                              <dd class="govuk-summary-list__actions"><a class="govuk-link" href="1-funding#pledge-anonymous">Change<span class="govuk-visually-hidden"> to remain anonymous</span></a></dd>
                         </div>
                         <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">How much</dt>
                              <dd class="govuk-summary-list__value">{{ data['pledge-amount'] }}</dd>
                              <dd class="govuk-summary-list__actions"><a class="govuk-link" href="1-funding#pledge-amount">Change<span class="govuk-visually-hidden"> pledge amount</span></a></dd>
                         </div>
                         <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">Show pledge amount</dt>
                              <dd class="govuk-summary-list__value">{{ data['pledge-public'] }}</dd>
                              <dd class="govuk-summary-list__actions"><a class="govuk-link" href="1-funding#pledge-public">Change<span class="govuk-visually-hidden"> show pledge amount</span></a></dd>
                         </div>
                    </dl>
               </div>
               <!-- SECTION 1 - END -->

               <div class="any-criteria">

                    <h2 class="govuk-heading-m">Your pledge criteria</h2>
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                         <!-- SECTION 2 - START -->
                         <div class="govuk-summary-list__row section-two">
                              <dt class="govuk-summary-list__key">Location of the employer receiving the transfer</dt>
                              <dd class="govuk-summary-list__value">
                                {% for key, location in data['pledge-location'] %}
                                  {{ location }} <br>
                                {% endfor %}
                              </dd>
                              <dd class="govuk-summary-list__actions"><a class="govuk-link" href="2-location">Change<span class="govuk-visually-hidden"> lcoations</span></a></dd>
                         </div>
                         <!-- SECTION 2 - END -->

                         <!-- SECTION 3 - START -->
                         <div class="govuk-summary-list__row section-three">
                              <dt class="govuk-summary-list__key">Sector the employer receiving the transfer works in</dt>
                              <dd class="govuk-summary-list__value">
                                {% if data['pledge-sector'] %}
                                <ul class="govuk-list govuk-list--bullet">
                                  {% for answer in data['pledge-sector'] -%}
                                    <li>{{ answer }}</li>
                                  {% endfor %}
                                </ul>
                                {% endif %}
                              </dd>
                              <dd class="govuk-summary-list__actions"><a class="govuk-link" href="3-sector">Change<span class="govuk-visually-hidden"> sectors</span></a></dd>
                         </div>
                         <!-- SECTION 3 - END -->

                         <!-- SECTION 4 - START -->
                         <div class="govuk-summary-list__row section-four">
                              <dt class="govuk-summary-list__key">Category of apprenticeship training</dt>
                              <dd class="govuk-summary-list__value">
                                {% if data['pledge-training'] %}
                                <ul class="govuk-list govuk-list--bullet">
                                  {% for answer in data['pledge-training'] -%}
                                  <li>{{ answer }}</li>
                                  {% endfor %}
                                </ul>
                                {% endif %}
                              </dd>
                              <dd class="govuk-summary-list__actions"><a class="govuk-link" href="4-training">Change<span class="govuk-visually-hidden"> training</span></a></dd>
                         </div>
                         <!-- SECTION 4 - END -->

                         <!-- SECTION 5 - START -->
                         <div class="govuk-summary-list__row section-five">
                              <dt class="govuk-summary-list__key">Qualification level of apprenticeship training</dt>
                              <dd class="govuk-summary-list__value">{{ data['pledge-level'] }}</dd>
                              <dd class="govuk-summary-list__actions"><a class="govuk-link" href="5-level">Change<span class="govuk-visually-hidden"> levels</span></a></dd>
                         </div>
                         <!-- SECTION 5 - END -->

                    </dl>
               </div>

               <!-- SECTION 6 - START -->
               <div class="section-six">
                    <h2 class="govuk-heading-m">Do you work with another organisation to manage transfers?</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                         <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">Intermediaries</dt>
                              <dd class="govuk-summary-list__value">{{ data['pledge-intermediaries'] }}</dd>
                              <dd class="govuk-summary-list__actions"><a class="govuk-link" href="6-intermediaries">Change<span class="govuk-visually-hidden"> intermediaries</span></a></dd>
                         </div>

                         <div class="govuk-summary-list__row intermediary-details">
                              <dt class="govuk-summary-list__key">Emails</dt>
                              <dd class="govuk-summary-list__value">
                                {% for key, email in data['pledge-email'] %}
                                  {{ email }} <br>
                                {% endfor %}
                              <dd class="govuk-summary-list__actions"><a class="govuk-link" href="6-intermediaries">Change<span class="govuk-visually-hidden"> intermediaries</span></a></dd>
                         </div>

                    </dl>
               </div>
               <!-- SECTION 6 - END -->


               <h2 class="govuk-heading-m">Now send your application</h2>

               <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

               <form action="/form-handler" method="post" novalidate>

                    <input type="hidden" name="answers-checked" value="true">
                 <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button" id="pledge-confirm-continue">Accept and send</button>
                    <a href="../transfers" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                 </div>

               </form>

          </div>

     </div>

</div>

{% endblock %}
