{% extends "layout-ltm.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">


               <h1 class="govuk-heading-xl">Search funding opportunities</h1>

               <p>Large businesses that want to fund the apprenticeships of other businesses can set funding criteria to show the training they want to support.</p>

               <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                         <span class="govuk-details__summary-text">Examples</span>
                    </summary>
                    <div class="govuk-details__text">
                         <strong>Example 1</strong><br>
                         A large business might choose to fund apprenticeships in construction companies based in the West Midlands.
                         <br>
                         <br>
                         <strong>Example 2</strong><br>
                         A large business might choose to fund digital apprenticeships in any sector in the North East.
                    </div>
               </details>

          </div>
     </div>

     <div class="govuk-grid-row search-container">

          <div class="govuk-grid-column-one-third">

               <!-- Filter -->

               <div class="search-filter">
                    <h4 class="govuk-heading-m">Apply filter</h4>
                    <div class="filters">

                         <!-- FILTER - 1 - START -->
                         <details class="govuk-details" data-module="govuk-details" data-search-filter="location">
                              <summary class="govuk-details__summary"><span class="govuk-details__summary-text">Your location</span></summary>
                              <div class="govuk-details__text">
                                   <div class="govuk-form-group">
                                        <div class="govuk-hint">Enter your business location using city, town or postcode</div>
                                        <input class="govuk-input  govuk-!-width-one-half" id="pledge-application-location" name="pledge-application-location" type="text" value="{{ data['pledge-application-location'] }}">
                                   </div>
                                  <!-- <div class="govuk-form-group">
                                        <fieldset class="govuk-fieldset">
                                             <div class="govuk-checkboxes govuk-checkboxes--small search-locations-filter">
                                                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                       <h1 class="govuk-fieldset__heading">Additional location</h1>
                                                  </legend>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-location-east-mids" name="search-location" type="checkbox" value="East Midlands" rel="east-mids" onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-location-east-mids">East Midlands</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-location-east-eng" name="search-location" type="checkbox" value="East of England" rel="east-eng" onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-location-east-eng">East of England</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-location-london" name="search-location" type="checkbox" value="Greater London" rel="london" onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-location-london">Greater London</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-location-north-east" name="search-location" type="checkbox" value="North East" rel="north-east" onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-location-north-east">North East</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-location-north-west" name="search-location" type="checkbox" value="North West England" rel="north-west" onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-location-north-west">North West England</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-location-south-east" name="search-location" type="checkbox" value="South East England" rel="south-east" onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-location-south-east">South East England</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-location-south-west" name="search-location" type="checkbox" value="South West England" rel="south-west" onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-location-south-west">South West England</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-location-west" name="search-location" type="checkbox" value="West Midlands" rel="west-mids" onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-location-west">West Midlands</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-location-york" name="search-location" type="checkbox" value="Yorkshire and the Humber" rel="yorks" onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-location-york">Yorkshire and the Humber</label>
                                                  </div>
                                             </div>
                                        </fieldset>
                                   </div>-->
                              </div>
                         </details>
                         <!-- FILTER - 1 - END -->

                         <!-- FILTER - 2 - START -->
                         <details class="govuk-details" data-module="govuk-details" data-search-filter="sector">
                              <summary class="govuk-details__summary"><span class="govuk-details__summary-text">Your business sector</span></summary>
                              <div class="govuk-details__text">
                                   <div class="govuk-form-group">
                                        <fieldset class="govuk-fieldset">
                                             <div class="govuk-checkboxes govuk-checkboxes--small search-sector-filter">
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-sector-agriculture" name="search-sector" type="checkbox" value="Agriculture, environmental and animal care" rel="sector-agriculture" {{checked('search-sector','Agriculture, environmental and animal care')}} onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-sector-agriculture">Agriculture, environmental and animal care</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-sector-business" name="search-sector" type="checkbox" value="Business and administration" rel="sector-business" {{checked('search-sector','Business and administration')}} onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-sector-business">Business and administration</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-sector-care" name="search-sector" type="checkbox" value="Care services" rel="sector-care" {{checked('search-sector','Care services')}} onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-sector-care">Care services</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-sector-catering" name="search-sector" type="checkbox" value="Catering and hospitality" rel="sector-catering" {{checked('search-sector','Catering and hospitality')}} onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-sector-catering">Catering and hospitality</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-sector-charity" name="search-sector" type="checkbox" value="Charity" rel="sector-charity" {{checked('search-sector','Charity')}} onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-sector-charity">Charity</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-sector-construction" name="search-sector" type="checkbox" value="Construction" rel="sector-construction" {{checked('search-sector','Construction')}} onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-sector-construction">Construction</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-sector-creative" name="search-sector" type="checkbox" value="Creative and design" rel="sector-creative" {{checked('search-sector','Creative and design')}} onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-sector-creative">Creative and design</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-sector-digital" name="search-sector" type="checkbox" value="Digital" rel="sector-digital" {{checked('search-sector','Digital')}} onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-sector-digital">Digital</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-sector-education" name="search-sector" type="checkbox" value="Education and childcare" rel="sector-education" {{checked('search-sector','Education and childcare')}} onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-sector-education">Education and childcare</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-sector-engineering" name="search-sector" type="checkbox" value="Engineering and manufacturing" rel="sector-engineering" {{checked('search-sector','Engineering and manufacturing')}} onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-sector-engineering">Engineering and manufacturing</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-sector-hair" name="search-sector" type="checkbox" value="Hair and beauty" rel="sector-hair" {{checked('search-sector','Hair and beauty')}} onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-sector-hair">Hair and beauty</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-sector-health" name="search-sector" type="checkbox" value="Health and science" rel="sector-health" {{checked('search-sector','Health and science')}} onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-sector-health">Health and science</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-sector-legal" name="search-sector" type="checkbox" value="Legal, finance and accounting" rel="sector-legal" {{checked('search-sector','Legal, finance and accounting')}} onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-sector-legal">Legal, finance and accounting</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-sector-protective" name="search-sector" type="checkbox" value="Protective services" rel="sector-protective" {{checked('search-sector','Protective services')}} onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-sector-protective">Protective services</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-sector-sales" name="search-sector" type="checkbox" value="Sales, marketing and procurement" rel="sector-sales" {{checked('search-sector','Sales, marketing and procurement')}} onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-sector-sales">Sales, marketing and procurement</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-sector-transport" name="search-sector" type="checkbox" value="Transport and logistics" rel="sector-transport" {{checked('search-sector','Transport and logistics')}} onchange="change();">
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-sector-transport">Transport and logistics</label>
                                                  </div>
                                             </div>
                                        </fieldset>
                                   </div>
                              </div>
                         </details>
                         <!-- FILTER - 2 - END -->

                         <!-- FILTER - 3 - START -->
                         <details class="govuk-details" data-module="govuk-details" data-search-filter="training">
                              <summary class="govuk-details__summary"><span class="govuk-details__summary-text">Type of job role</span></summary>
                              <div class="govuk-details__text">

                                   <div class="govuk-form-group">
                                        <fieldset class="govuk-fieldset">
                                             <div class="govuk-checkboxes govuk-checkboxes--small search-training-filter">

                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-training-agriculture" name="search-training" type="checkbox" value="Agriculture, environmental and animal care" rel="training-agriculture" onchange="change();" {{checked('search-training','Agriculture, environmental and animal care')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-training-agriculture">Agriculture, environmental and animal care</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-training-business" name="search-training" type="checkbox" value="Business and administration" rel="training-business" onchange="change();" {{checked('search-training','Business and administration')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-training-business">Business and administration</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-training-care" name="search-training" type="checkbox" value="Care services" rel="training-care" onchange="change();" {{checked('search-training','Care services')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-training-care">Care services</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-training-catering" name="search-training" type="checkbox" value="Catering and hospitality" rel="training-catering" onchange="change();" {{checked('search-training','Catering and hospitality')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-training-catering">Catering and hospitality</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-training-construction" name="search-training" type="checkbox" value="Construction" rel="training-construction" onchange="change();" {{checked('search-training','Construction')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-training-construction">Construction</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-training-creative" name="search-training" type="checkbox" value="Creative and design" rel="training-creative" onchange="change();" {{checked('search-training','Creative and design')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-training-creative">Creative and design</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-training-digital" name="search-training" type="checkbox" value="Digital" rel="training-digital" onchange="change();" {{checked('search-training','Digital')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-training-digital">Digital</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-training-education" name="search-training" type="checkbox" value="Education and childcare" rel="training-education" onchange="change();" {{checked('search-training','Education and childcare')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-training-education">Education and childcare</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-training-engineering" name="search-training" type="checkbox" value="Engineering and manufacturing" rel="training-engineering" onchange="change();" {{checked('search-training','Engineering and manufacturing')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-training-engineering">Engineering and manufacturing</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-training-hair" name="search-training" type="checkbox" value="Hair and beauty" rel="training-hair" onchange="change();" {{checked('search-training','Hair and beauty')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-training-hair">Hair and beauty</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-training-health" name="search-training" type="checkbox" value="Health and science" rel="training-health" onchange="change();" {{checked('search-training','Health and science')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-training-health">Health and science</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-training-legal" name="search-training" type="checkbox" value="Legal, finance and accounting" rel="training-legal" onchange="change();" {{checked('search-training','Legal, finance and accounting')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-training-legal">Legal, finance and accounting</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-training-protective" name="search-training" type="checkbox" value="Protective services" rel="training-protective" onchange="change();" {{checked('search-training','Protective services')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-training-protective">Protective services</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-training-sales" name="search-training" type="checkbox" value="Sales, marketing and procurement" rel="training-sales" onchange="change();" {{checked('search-training','Sales, marketing and procurement')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-training-sales">Sales, marketing and procurement</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-training-transport" name="search-training" type="checkbox" value="Transport and logistics" rel="training-transport" onchange="change();" {{checked('search-training','Transport and logistics')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-training-transport">Transport and logistics</label>
                                                  </div>
                                             </div>
                                        </fieldset>
                                   </div>
                              </div>
                         </details>
                         <!-- FILTER - 3 - END -->

                         <!-- FILTER - 4 - START -->
                         <details class="govuk-details" data-module="govuk-details" data-search-filter="level">
                              <summary class="govuk-details__summary"><span class="govuk-details__summary-text">Apprenticeship qualification level</span></summary>
                              <div class="govuk-details__text">
                                   <div class="govuk-form-group">
                                        <fieldset class="govuk-fieldset">
                                             <div class="govuk-checkboxes govuk-checkboxes--small search-level-filter">
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-level-two" name="search-level" type="checkbox" value="Level 2 - GCSE" rel="level-two" onchange="change();" {{checked('search-level','')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-level-two">Level 2 - GCSE</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-level-three" name="search-level" type="checkbox" value="Level 3 - A level" rel="level-three" onchange="change();" {{checked('search-level','Level 3 - A level')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-level-three">Level 3 - A level</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-level-four" name="search-level" type="checkbox" value="Level 4 - higher national certificate (HNC)" rel="level-four" onchange="change();" {{checked('search-level','Level 4 - higher national certificate (HNC)')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-level-four">Level 4 - higher national certificate (HNC)</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-level-five" name="search-level" type="checkbox" value="Level 5 - higher national diploma (HND)" rel="level-five" onchange="change();" {{checked('search-level','Level 5 - higher national diploma (HND)')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-level-five">Level 5 - higher national diploma (HND)</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-level-six" name="search-level" type="checkbox" value="Level 6 - degree" rel="level-six" onchange="change();" {{checked('search-level','Level 6 - degree')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-level-six">Level 6 - degree</label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                       <input class="govuk-checkboxes__input" id="search-level-seven" name="search-level" type="checkbox" value="Level 7 - master’s degree" rel="level-seven" onchange="change();" {{checked('search-level','Level 7 - master’s degree')}}>
                                                       <label class="govuk-label govuk-checkboxes__label" for="search-level-seven">Level 7 - master’s degree</label>
                                                  </div>
                                             </div>
                                        </fieldset>
                                   </div>
                              </div>
                         </details>
                         <!-- FILTER - 4 - END -->

                         <a href="#" class="govuk-button" data-module="govuk-button" id="">Update results</a>
                         <br>
                         <a href="filters" class="govuk-link govuk-link--no-visited-state" id="">Start again</a>

                    </div>
               </div>

               <!-- End filter -->

          </div>

          <div class="govuk-grid-column-two-thirds">

               <div class="search-results">

                    <div class="search-title">
                         <h2 class="govuk-heading-m"><span class="filter-number">21</span> opportunities</h2>
                         <p>Sorted by: <strong>Name</strong>
                    </div>

                    <section class="pledge-details" data-search="search-item-3">
                         <h2 class="govuk-heading-m">
                              <a href="6-transfer-fund-details" class="pledge-name govuk-link--no-visited-state">BARRY & BARRY Ltd (910106)</a>
                         </h2>
                         <div class="govuk-caption-m">up to £65,000 available in 2021/22</div>
                         <p>
                              <strong>Locations:</strong> <span class="location">Manchester, Liverpool, Leeds</span><br>
                              <strong>Sectors:</strong> <span class="sector">Construction, Engineering and manufacturing</span><br>
                              <strong>Type of job role:</strong> <span class="training">Business and administration, Construction, Digital</span><br>
                              <strong>Levels:</strong>  <span class="level">All</span>
                         </p>
                    </section>

                    <section class="pledge-details east-mids east-eng london north-east north-west south-east south-west west-mids yorks sector-agriculture sector-business sector-care sector-catering sector-construction sector-creative sector-digital sector-education sector-engineering sector-hair sector-health sector-legal sector-protective sector-sales sector-transport training-agriculture training-business training-care training-catering training-construction training-creative training-digital training-education training-engineering training-hair training-health training-legal training-protective training-sales training-transport level-two level-three level-four level-five level-six level-seven" data-search="search-item-4">
                         <h2 class="govuk-heading-m">
                              <a href="#" class="pledge-name govuk-link--no-visited-state">BASS Ltd (111262)</a>
                         </h2>
                         <div class="govuk-caption-m">up to £<span class="value-format" data-application-value="30000">30000</span> available in 2021/22</div>
                         <p>
                              <strong>Locations:</strong> <span class="location">All</span><br>
                              <strong>Sectors:</strong> <span class="sector">All</span><br>
                              <strong>Type of job role:</strong> <span class="training">All</span><br>
                              <strong>Levels:</strong>  <span class="level">All</span>
                         </p>
                    </section>

                    <section class="pledge-details east-mids sector-agriculture training-agriculture level-two level-three level-four level-five level-six level-seven" data-search="search-item-5">
                         <h2 class="govuk-heading-m">
                              <a href="#" class="pledge-name govuk-link--no-visited-state">Construction Now (123478)</a>
                         </h2>
                         <div class="govuk-caption-m">up to £<span class="value-format" data-application-value="15000">15000</span> available in 2021/22</div>
                         <p>
                              <strong>Locations:</strong> <span class="location">Derby, Leicester, Nottingham</span><br>
                              <strong>Sectors:</strong> <span class="sector">Agriculture, environmental and animal care</span><br>
                              <strong>Type of job role:</strong> <span class="training">Agriculture, environmental and animal care</span><br>
                              <strong>Levels:</strong>  <span class="level">All</span>
                         </p>
                    </section>

                    <section class="pledge-details west-mids sector-engineering sector-transport training-business training-agriculture training-engineering training-transport level-four level-five level-six" data-search="search-item-6">
                         <h2 class="govuk-heading-m">
                              <a href="#" class="pledge-name govuk-link--no-visited-state">Daytime Hauliers (567864)</a>
                         </h2>
                         <div class="govuk-caption-m">up to £<span class="value-format" data-application-value="25000">250000</span> available in 2021/22</div>
                         <p>
                              <strong>Locations:</strong> <span class="location">Birmingham, Coventry, Walsall, Wolverhampton</span><br>
                              <strong>Sectors:</strong> <span class="sector">Engineering and manufacturing, Transport and logistics</span><br>
                              <strong>Type of job role:</strong> <span class="training">Business and administration, Engineering and manufacturing, Transport and logistics</span><br>
                              <strong>Levels:</strong> <span class="level">4, 5, 6</span>
                         </p>
                    </section>

                    <section class="pledge-details north-east north-west yorks sector-care sector-health training-agriculture training-business training-care training-catering training-construction training-creative training-digital training-education training-engineering training-hair training-health training-legal training-protective training-sales training-transport level-two level-three level-four level-five level-six level-seven" data-search="search-item-7">
                         <h2 class="govuk-heading-m">
                              <a href="#" class="pledge-name govuk-link--no-visited-state">Everbright Ltd (910106)</a>
                         </h2>
                         <div class="govuk-caption-m">up to £<span class="value-format" data-application-value="65000">65000</span> available in 2021/22</div>
                         <p>
                              <strong>Locations:</strong> <span class="location">Newcastle Upon Tyne, Sunderland, Liverpool, Manchester, York, Sheffield, Leeds</span><br>
                              <strong>Sectors:</strong> <span class="sector">Care services, Health and science</span><br>
                              <strong>Type of job role:</strong> <span class="training">All</span><br>
                              <strong>Levels:</strong> <span class="level">All</span>
                         </p>
                    </section>

                    <section class="pledge-details east-mids sector-agriculture sector-business sector-care sector-catering sector-construction sector-creative sector-digital sector-education sector-engineering sector-hair sector-health sector-legal sector-protective sector-sales sector-transport training-agriculture training-business training-care training-catering training-construction training-creative training-digital training-education training-engineering training-hair training-health training-legal training-protective training-sales training-transport level-two level-three level-four level-five level-six level-seven" data-search="search-item-8">
                         <h2 class="govuk-heading-m">
                              <a href="#" class="pledge-name govuk-link--no-visited-state">Finders Keepers Ltd (111278)</a>
                         </h2>
                         <div class="govuk-caption-m">up to £<span class="value-format" data-application-value="300000">300000</span> available in 2021/22</div>
                         <p>
                              <strong>Locations:</strong> <span class="location">Derby, Leicester, Nottingham</span><br>
                              <strong>Sectors:</strong> <span class="sector">All</span><br>
                              <strong>Type of job role:</strong> <span class="training">All</span><br>
                              <strong>Levels:</strong> <span class="level">All</span>
                         </p>
                    </section>

                    <section class="pledge-details london ector-agriculture sector-business sector-care sector-catering sector-construction sector-creative sector-digital sector-education sector-engineering sector-hair sector-health sector-legal sector-protective sector-sales sector-transport training-agriculture training-business training-care training-catering training-construction training-creative training-digital training-education training-engineering training-hair training-health training-legal training-protective training-sales training-transport level-two level-three level-four level-five level-six level-seven" data-search="search-item-9">
                         <h2 class="govuk-heading-m">
                              <a href="#" class="pledge-name govuk-link--no-visited-state">Great Gatsby (123441)</a>
                         </h2>
                         <div class="govuk-caption-m">up to £<span class="value-format" data-application-value="25000">25000</span> available in 2021/22</div>
                         <p>
                              <strong>Locations:</strong> <span class="location">London</span><br>
                              <strong>Sectors:</strong> <span class="sector">All</span><br>
                              <strong>Type of job role:</strong> <span class="training">All</span><br>
                              <strong>Levels:</strong> <span class="level">All</span>
                         </p>
                    </section>

                    <section class="pledge-details west-mids sector-agriculture sector-engineering sector-transport training-agriculture training-engineering training-transport level-two level-three level-four level-five level-six level-seven" data-search="search-item-1">
                         <h2 class="govuk-heading-m">
                              <a href="#" class="pledge-name govuk-link--no-visited-state">Opportunity (123465)</a>
                         </h2>
                         <div class="govuk-caption-m">up to £<span class="value-format" data-application-value="25000">25000</span> available in 2021/22</div>
                         <p>
                              <strong>Locations:</strong> <span class="location">Birmingham, Coventry, Walsall, Wolverhampton</span><br>
                              <strong>Sectors:</strong> <span class="sector">Agriculture, environmental and animal care, Engineering and manufacturing, Transport and logistics</span><br>
                              <strong>Type of job role:</strong> <span class="training">Agriculture, environmental and animal care, Engineering and manufacturing, Transport and logistics</span><br>
                              <strong>Levels:</strong> <span class="level">All</span>

                         </p>
                    </section>

                    <section class="pledge-details london sector-agriculture sector-engineering training-agriculture training-business training-care training-catering training-construction training-creative training-digital training-education training-engineering training-hair training-health training-legal training-protective training-sales training-transport level-two level-three level-four level-five level-six level-seven" data-search="search-item-2">
                         <h2 class="govuk-heading-m">
                              <a href="#" class="pledge-name govuk-link--no-visited-state">Opportunity (567899)</a>
                         </h2>
                         <div class="govuk-caption-m">up to £<span class="value-format" data-application-value="50000">50000</span> available in 2021/22</div>
                         <p>
                              <strong>Locations:</strong> <span class="location">London</span><br>
                              <strong>Sectors:</strong> <span class="sector">Engineering and manufacturing</span><br>
                              <strong>Type of job role:</strong> <span class="training">All</span><br>
                              <strong>Levels:</strong>  <span class="level">All</span>
                         </p>
                    </section>

               </div>

               <!-- NO RESULTS - START -->
               <section class="no-results">
                    <h4 class="govuk-heading-m">There are no results for these criteria.</h4>
                    <p>Try selecting different criteria options.</p>
                    <p>If you're unsuccessful in getting one of these funding opportunities, you can still get 95% of your apprenticeship training funded by the government.</p>
                    <p><a href="#">Make a funding reservation in your account.</a></p>
                    <!-- <a href="#" class="govuk-button">Alert me</a> -->
               </section>
               <!-- NO RESULTS - END -->

          </div>

     </div>

</div>

{% endblock %}
