<div class="navigation-account provider">
     <div class="govuk-width-container">
          <p class="business-name">Your training provider account</p>
          <ul class="govuk-list">
               <li><a href="#">SFSTEST 10000528</a></li>
               <li><a href="#" class="">Notification settings</a></li>
               <li><a href="#">Sign out</a></li>
          </ul>
     </div>
</div>

<div class="navigation">
     <div class="govuk-width-container">
          <ul class="govuk-list">
               <li><a href="2-my-account" class="govuk-link link-one">Home</a></li>
               <li><a href="#" class="govuk-link link-two selected">Apprentice requests</a></li>
               <li><a href="#" class="govuk-link link-three">Manage funding</a></li>
               <li><a href="#" class="govuk-link link-four">Manage your apprentices</a></li>
               <li><a href="#" class="govuk-link link-five">Recruit apprentices</a></li>
               <li class="float-right"><a href="#" class="govuk-link link-six more">More</a></li>
               <li class="icon-burger"></li>
          </ul>
     </div>
</div>
