<h2 class="govuk-heading-l" id="sprint-18">
     Sprint 18
     <span class="govuk-caption-l">
          29th September - 12th October 2021
     </span>
</h2>

<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">

          <ul class="govuk-list govuk-list--bullet">
               <li>
                    <strong>STEP 1:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/MVS/sender/STEP-1/0-prototype-user.html">Sender creates a transfer pledge</a>
               </li>
               <li>
                    <strong>STEP 2:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/MVS/receiver/STEP-2/0-prototype-user.html">Receiver applies to the transfer pledge</a>
               </li>
               <li>
                    <strong>STEP 3:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/MVS/sender/STEP-3/1-signin.html">Sender approves the transfer pledge application</a>
               </li>
               <li>
                    <strong>STEP 4:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/MVS/receiver/STEP-4/1-signin.html">Receiver accept the approved transfer pledge application</a>
               </li>
               <li>
                    <strong>STEP 5:</strong> <a class="govuk-link govuk-link--no-visited-state" href="https://das-standards-versioning-proto.herokuapp.com/sprint-4-beta/add-version-employer/2a-add-traing-provider" target="_blank">Receiver add apprentices using the transfer pledge funds</a>
               </li>
               <li>
                    <strong>STEP 6:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/MVS/receiver/STEP-6/1-signin.html">Receiver view used transfer pledge funds</a>
               </li>
               <li>
                    <strong>STEP 7 and 8:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/MVS/sender/STEP-7-8/1-signin.html">Sender rejects a pledge application (910106), Sender deletes a pledge (910105)</a>
               </li>
               <li>
                    <strong>STEP 9 and 10:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/MVS/receiver/STEP-9-10/1-signin.html">Receiver rejects a funding request application, Receiver cancels a funding request application</a>
               </li>
               <li>
                    <strong>STEP 11:</strong> <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/MVS/sender/STEP-11/1-signin.html">Sender makes transfer conntection</a>
               </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <h2 class="govuk-heading-m" style="padding-top: 10px;margin-bottom: 0px;">Post MVS</h2>

          <span class="govuk-caption-m" style="padding-bottom: 20px;margin-top: 5px;"></span>

          <ul class="govuk-list govuk-list--bullet">
               <li>
                    <strong>CSV Export - My transfer pledges:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/Post-MVS/sender/CSV-export/1A-my-pledges.html">Design 1</a>
                    &nbsp; |  &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/Post-MVS/sender/CSV-export/1B-my-pledges.html">Design 2</a>
                    &nbsp; |  &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/Post-MVS/sender/CSV-export/1C-my-pledges.html">Design 3</a>
               </li>
               <li>
                    <strong>Finance:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/MVS/sender/STEP-3/3-transfers.html">Finance view designs</a>
               </li>
               <!-- <li>
                    <strong>Finance:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/Post-MVS/sender/Finance/1B-transfers.html">Finance running low design</a>
               </li> -->
               <li>
                    <strong>CSV Export - Pledge details:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/Post-MVS/sender/CSV-export/2A-pledge-details.html">Design 1</a>
                    &nbsp; |  &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/Post-MVS/sender/CSV-export/2B-pledge-details.html">Design 2</a>
                    &nbsp; |  &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/Post-MVS/sender/CSV-export/2C-pledge-details.html">Design 3</a>
               </li>
          </ul>

          <p></p>

          <ul class="govuk-list govuk-list--bullet">
               <li><strong>TASK 1:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/Post-MVS/ALERTS/1-my-account.html">Application submitted to a pledge</a></li>
               <li><strong>TASK 2:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/Post-MVS/ALERTS/2-my-account.html">Application ready to use</a></li>
               <li><strong>EMAIL 1:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/Post-MVS/ALERTS/1-email">Application approved by sending employer</a></li>
               <li><strong>EMAIL 2:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/Post-MVS/ALERTS/2-email">Application rejected by sending employer</a></li>
               <li><strong>EMAIL 3:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/Post-MVS/ALERTS/3-email">Pledge deleted (automatically reject applications 'awaiting approval')</a></li>
               <li><strong>EMAIL 4:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/Post-MVS/ALERTS/4-email">Application submitted to a pledge</a></li>
               <li><strong>EMAIL 5:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/Post-MVS/ALERTS/5-email">Funding rejected / application cancelled by receiving employer</a></li>
               <li><strong>EMAIL 6:</strong> &nbsp; <a class="govuk-link govuk-link--no-visited-state" href="/sprint-18/Post-MVS/ALERTS/6-email">funding accepted by receiving employer</a></li>
          </ul>

     </div>
</div>
