{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation-sender-secondary.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container" id="transfers-hub">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="../my-account">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="../finance">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="../transfers">Transfers</a></li>
          </ol>
     </div>

     <div class="govuk-grid-row title-options">
          <div class="govuk-grid-column-full">

               <!-- REJECTION COMPLETE - START -->
               <div class="govuk-panel govuk-panel--confirmation pledge-rejected">
                    <h1 class="govuk-panel__title">Application rejected</h1>
                    <p>You rejected the CBJ Engineering application</p>
               </div>
               <!-- REJECTION COMPLETE - END -->

               <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds left-side">
                         <span class="govuk-caption-m">Find a business to transfer your levy to</span>
                    </div>
                    <div class="govuk-grid-column-one-third right-side">
                         <p class="govuk-caption-m">
                              <a href="" class="share govuk-link--no-visited-state">Share pledge</a>
                              <!-- <a href="" class="edit govuk-link--no-visited-state">Edit pledge</a> -->
                         </p>
                    </div>
               </div>

               <h1 class="govuk-heading-xl">
                    Applications for your transfer pledge
                    <span class="govuk-caption-xl">Pledge number - 910106</span>
               </h1>

               <details class="govuk-details pledge-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                         <span class="govuk-details__summary-text">Details of your pledge</span>
                    </summary>
                    <div class="govuk-details__text">
                         <section class="employer-details">
                              <div class="wrapper">
                                   <p><strong>Locations:</strong></p>
                                   <ul class="govuk-list govuk-list--bullet">
                                        <li>West Midlands</li>
                                   </ul>
                              </div>
                              <div class="wrapper">
                                   <p><strong>Sectors:</strong></p>
                                   <ul class="govuk-list govuk-list--bullet">
                                        <li>Construction</li>
                                   </ul>
                              </div>
                              <div class="wrapper">
                                   <p><strong>Type of training:</strong></p>
                                   <ul class="govuk-list govuk-list--bullet">
                                        <li>Construction</li>
                                   </ul>
                              </div>
                              <div class="wrapper">
                                   <p><strong>Level:</strong></p>
                                   <ul class="govuk-list govuk-list--bullet">
                                        <li>3</li>
                                        <li>4</li>
                                        <li>5</li>
                                   </ul>
                              </div>
                              <div class="total">
                                   <p class="govuk-heading-m">Total funding: £<span class="value-format">50000</span></p>
                              </div>
                         </section>
                    </div>
               </details>

          </div>
     </div>

     <div class="pledge-values" id="unhappy-finance">
          <div class="pledge-funds">
               <p>Pledge amount</p>
               <p class="number">£<span class="value-format">50000</span></p>
          </div>
          <div class="pledge-funds-spent">
               <p>Pledge funds committed</p>
               <p class="number">£<span class="value-format">0</span></p>
          </div>
          <div class="pledge-funds-remaining">
               <p>Pledge funds remaining</p>
               <p class="number">£<span class="value-format">50000</span></p>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" id="no-more-funds">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                         <ul class="govuk-list govuk-error-summary__list">
                              <li><a href="#error-row">You have insufficient funds to accept any more applications</a></li>
                         </ul>
                    </div>
               </div>

               {% include "../../includes/pledges-table-unhappy.html" %}

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

               <a href="#" class="govuk-button main-cta-float-right">Create a new pledge</a>

          </div>

     </div>

</div>

{% endblock %}
