
{% extends "layout-email.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
     <!-- <div class="email-banner">
          <img src="/public/images/ESFA-logo.jpg" alt="Education & Skills Funding Agency">
     </div> -->
{% endblock %}

{% block content %}

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <h1 class="govuk-heading-m">Hi "NAME",</h1>


               <h2 class="govuk-heading-s">You application has been rejected</h2>

               <p><span class="govuk-tag govuk-tag--red">Unsuccessful</span></p>

               <p class="govuk-body">
                    Just because you have been rejected for this application it doesn't mean that this is the end.
               </p>

               <p>
                    There are plenty more apprentice funding pledges out there for you to apply for.
               </p>

               <p><br></p>

               {% from "govuk/components/button/macro.njk" import govukButton %}

               {{ govukButton({
                    text: "Search pledges",
                    classes: "no-bottom-margin",
                    href: "#"
               }) }}
               <!-- Entry 1 - END -->

          </div>

     </div>

{% endblock %}
