{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <a href="javascript:history.back()" class="govuk-back-link">Back</a>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <!-- ERROR MESSAGING - START -->
               <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" id="pledge-amount-error">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                         <ul class="govuk-list govuk-error-summary__list">
                              <li class="under-1000"><a href="#pledge-amount">Your pledge amount is under £1,000</a></li>
                              <li class="over-80000"><a href="#pledge-amount">Your pledge amount is over £80,000</a></li>
                         </ul>
                    </div>
               </div>
               <!-- ERROR MESSAGING - END -->

               <h1 class="govuk-heading-xl">Pledge amount and option to hide organisation name</h1>

               <form method="post" action="5-new-pledge-details#section-1" id="pledge-funding-form">

                    <div class="govuk-form-group" id="pledge-amount-container">
                         <div class="total">
                              <p>In this financial year you can pledge up to:</p>
                              <p class="number">£164,000</p>
                         </div>
                         <div class="wrapper">
                              {% if data['new_pledge_amount'] %}
                                   <label class="govuk-label" for="new_pledge_amount">How much funding would you like to transfer?</label>
                                   <div id="new_pledge_amount-hint" class="govuk-hint">
                                        Minimum pledge amount is £1,000
                                   </div>
                                   <span id="pledge-amount-error-message" class="govuk-error-message">
                                        <div class="under-1000"><span class="govuk-visually-hidden">Error:</span> Your pledge amount is under £1,000</div>
                                        <div class="over-80000"><span class="govuk-visually-hidden">Error:</span> Your pledge amount is over £80,000</div>
                                   </span>
                                   <div class="govuk-input__wrapper">
                                       <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                       <input class="govuk-input govuk-input--width-10" id="new_pledge_amount" name="new_pledge_amount" type="text" spellcheck="false" value="{{ data['new_pledge_amount'] }}">
                                   </div>
                              {% else %}
                                   <label class="govuk-label" for="new_pledge_amount">How much funding would you like to transfer?</label>
                                   <div id="new_pledge_amount-hint" class="govuk-hint">
                                        Minimum pledge amount is £1,000
                                   </div>
                                   <span id="pledge-amount-error-message" class="govuk-error-message">
                                        <div class="under-1000"><span class="govuk-visually-hidden">Error:</span> Your pledge amount is under £1,000</div>
                                        <div class="over-80000"><span class="govuk-visually-hidden">Error:</span> Your pledge amount is over £80,000</div>
                                   </span>
                                   <div class="govuk-input__wrapper">
                                       <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                       <input class="govuk-input govuk-input--width-10" id="new_pledge_amount" name="new_pledge_amount" type="text" spellcheck="false" value="65000">
                                   </div>
                              {% endif %}
                         </div>
                    </div>



                    <div class="govuk-form-group">
                         <fieldset class="govuk-fieldset">
                              <legend class="govuk-fieldset__legend">
                                   Would you like your pledge to show your organisation's name publicly?
                              </legend>
                              <div class="govuk-radios">
                                   {% if data['new_show_publicly'] == 'No' %}
                                        <div class="govuk-radios__item">
                                             <input class="govuk-radios__input" id="show_publicly_show" name="new_show_publicly" type="radio" value="Show" {{ checked("show_publicly", "Show") }}>
                                             <label class="govuk-label govuk-radios__label" for="show_publicly_show">Yes</label>
                                        </div>
                                        <div class="govuk-radios__item">
                                             <input class="govuk-radios__input" id="show_publicly_hide" name="new_show_publicly" type="radio" value="No" {{ checked("show_publicly", "No") }}>
                                             <label class="govuk-label govuk-radios__label" for="show_publicly_hide">No, I'd like our organisation to be anonymous</label>
                                        </div>
                                   {% else %}
                                        <div class="govuk-radios__item">
                                             <input class="govuk-radios__input" id="show_publicly_show" name="new_show_publicly" type="radio" value="Show" checked>
                                             <label class="govuk-label govuk-radios__label" for="show_publicly_show">Yes</label>
                                        </div>
                                        <div class="govuk-radios__item">
                                             <input class="govuk-radios__input" id="show_publicly_hide" name="new_show_publicly" type="radio" value="No" {{ checked("show_publicly", "No") }}>
                                             <label class="govuk-label govuk-radios__label" for="show_publicly_hide">No, I'd like our organisation to be anonymous</label>
                                        </div>
                                   {% endif %}
                              </div>
                         </fieldset>
                    </div>

                    <div class="form-action">
                         <button class="govuk-button pledge-amount-continue" data-module="govuk-button" id="accept_amount">Continue</button>
                    </div>

               </form>

               <div class="error-action">
                    <button class="govuk-button" data-module="govuk-button" id="amount_error">Continue</button>
               </div>

          </div>

     </div>

</div>

{% endblock %}
