{% extends "layout.html" %}

{% block pageTitle %}
     Levy transfer matching service
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
          <p><br><br></p>
          <h1 class="govuk-heading-xl">
               <!--<span class="govuk-tag">ALPHA</span><br>-->
               Levy transfer matching prototype
          </h1>
     </div>
</div>


<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">

          <h2 class="govuk-heading-m govuk-!-margin-top-6">
               What is Levy transfer matching?
          </h2>

          <p class="govuk-body">
               Levy transfer matching service allow employers and trainers to manage apprenticeships funds transfers. This service is part of the Manage Apprenticeship project.
          </p>

          <p class="govuk-body">
               All documents and links are being collected on <a href="#" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">a Confluence page</a>.
          </p>

          <p class="govuk-body">
               This documents the Discovery and Alpha phase of the {{serviceName}} project, January 2021 onwards.
          </p>

          <h2 class="govuk-heading-m govuk-!-margin-top-6">
               Prototype design team
          </h2>

          <ul class="govuk-list govuk-list--bullet">
               <li><strong>User Researcher: &nbsp;</strong><a class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank" href="https://skillsfundingagency.atlassian.net/wiki/people/6017e65c332cbe0070fe81e3" title="Link to Heather's profile on Confluence">Heather Fawbert</a></li>
               <li><strong>Content Designer: &nbsp;</strong><a class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank" href="https://skillsfundingagency.atlassian.net/wiki/people/5aba06b0f75bb52a823417cc" title="Link to Catherine's profile on Confluence">Catherine Gilhooly</a></li>
               <li><strong>Interaction Designer: &nbsp;</strong><a class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank" href="#" title="Link to Chris's profile on Confluence">Chris Hewison</a></li>
          </ul>

     </div>

     <div class="govuk-grid-column-one-third">
          <!--<h2 class="govuk-heading-m">
               <br>Design artefacts
          </h2>
          <div class="govuk-inset-text">
               <ul class='govuk-list govuk-list--bullet'>
                    <li><a href='#' class='govuk-link govuk-link--no-visited-state'>Thing #1</a></li>
               </ul>
          </div>-->
     </div>

</div>


<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row">

     <div class="govuk-grid-column-full">

          <strong class="govuk-tag">new version</strong>

          <h2 class="govuk-heading-l" style="padding-top: 10px;margin-bottom: 0px;">MVS prototypes</h2>

          <span class="govuk-caption-m" style="padding-bottom: 20px;margin-top: 5px;">Sprint 20</span>

          {% include './sprint-20/_summary.html' %}

     </div>

</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row">

     <div class="govuk-grid-column-full">

          <strong class="govuk-tag">previous version</strong>

          <h2 class="govuk-heading-l" style="padding-top: 10px;margin-bottom: 0px;">Sprint prototypes</h2>

          <span class="govuk-caption-m" style="padding-bottom: 20px;margin-top: 5px;">Up to sprint 19</span>

          <details class="govuk-details" data-module="govuk-details">
               <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">Details</span>
               </summary>
               <div class="govuk-details__text">

                    <!-- Start old versions of prototype -->

                    <div class="govuk-grid-row">
                         <!-- Sprints section starts -->
                         <div class="govuk-grid-column-two-thirds">

                              <h2 class="govuk-heading-l">Beta sprints</h2>

                              {% set sprint19Html %}
                                   {% include './sprint-19/_summary.html' %}
                              {% endset %}

                              {% set sprint18Html %}
                                   {% include './sprint-18/_summary.html' %}
                              {% endset %}

                              {% set sprint17Html %}
                                   {% include './sprint-17/_summary.html' %}
                              {% endset %}

                              {% set sprint15Html %}
                                   {% include './sprint-15/_summary.html' %}
                              {% endset %}

                              {% set sprint12Html %}
                                   {% include './sprint-12/_summary.html' %}
                              {% endset %}

                              {% set sprint11Html %}
                                   {% include './sprint-11/_summary.html' %}
                              {% endset %}

                              {% set sprint10Html %}
                                   {% include './sprint-10/_summary.html' %}
                              {% endset %}

                              {% set sprint9Html %}
                                   {% include './sprint-9/_summary.html' %}
                              {% endset %}

                              {% set sprint8Html %}
                                   {% include './sprint-8/_summary.html' %}
                              {% endset %}

                              {{ govukAccordion({
                                   id: "accordion-beta",
                                   items: [
                                        {
                                             heading: {
                                                  text: "Sprint 19"
                                             },
                                             content: {
                                                  html: sprint19Html
                                             },
                                             summary: {
                                                  html: '13th September - 26th October 2021'
                                             }
                                        },
                                        {
                                             heading: {
                                                  text: "Sprint 18"
                                             },
                                             content: {
                                                  html: sprint18Html
                                             },
                                             summary: {
                                                  html: '29th September - 12th October 2021'
                                             }
                                        },
                                        {
                                             heading: {
                                                  text: "Sprint 17"
                                             },
                                             content: {
                                                  html: sprint17Html
                                             },
                                             summary: {
                                                  html: '15th September - 28th September 2021'
                                             }
                                        },
                                        {
                                             heading: {
                                                  text: "Sprint 15"
                                             },
                                             content: {
                                                  html: sprint15Html
                                             },
                                             summary: {
                                                  html: '18th August - 31st August 2021'
                                             }
                                        },
                                        {
                                             heading: {
                                                  text: "Sprint 12"
                                             },
                                             content: {
                                                  html: sprint12Html
                                             },
                                             summary: {
                                                  html: '7th July - 17th August 2021'
                                             }
                                        },
                                        {
                                             heading: {
                                                  text: "Sprint 11"
                                             },
                                             content: {
                                                  html: sprint11Html
                                             },
                                             summary: {
                                                  html: '23rd June - 6th July 2021'
                                             }
                                        },
                                        {
                                             heading: {
                                                  text: "Sprint 10"
                                             },
                                             content: {
                                                  html: sprint10Html
                                             },
                                             summary: {
                                                  html: '9th June - 22nd June 2021'
                                             }
                                        },
                                        {
                                             heading: {
                                                  text: "Sprint 9"
                                             },
                                             content: {
                                                  html: sprint9Html
                                             },
                                             summary: {
                                                  html: '26th May - 8th June 2021'
                                             }
                                        },
                                        {
                                             heading: {
                                                  text: "Sprint 8"
                                             },
                                             content: {
                                                  html: sprint8Html
                                             },
                                             summary: {
                                                  html: '12th May - 25th May 2021'
                                             }
                                        }
                                   ]
                              }) }}

                              <h2 class="govuk-heading-l govuk-!-margin-top-9">Alpha sprints</h2>

                              {% set sprint7Html %}
                                   {% include './sprint-7/_summary.html' %}
                              {% endset %}

                              {% set sprint6Html %}
                                   {% include './sprint-6/_summary.html' %}
                              {% endset %}

                              {% set sprint5Html %}
                                   {% include './sprint-5/_summary.html' %}
                              {% endset %}

                              {% set sprint4Html %}
                                   {% include './sprint-4/_summary.html' %}
                              {% endset %}

                              {% set sprint3Html %}
                                   {% include './sprint-3/_summary.html' %}
                              {% endset %}

                              {{ govukAccordion({
                                   id: "accordion-alpha",
                                   items: [
                                        {
                                             heading: {
                                                  text: "Sprint 7"
                                             },
                                             content: {
                                                  html: sprint7Html
                                             },
                                             summary: {
                                                  html: '28th April - 11th May 2021'
                                             }
                                        },
                                        {
                                             heading: {
                                                  text: "Sprint 6"
                                             },
                                             content: {
                                                  html: sprint6Html
                                             },
                                             summary: {
                                                  html: '14th April - 27th April 2021'
                                             }
                                        },
                                        {
                                             heading: {
                                                  text: "Sprint 5"
                                             },
                                             content: {
                                                  html: sprint5Html
                                             },
                                             summary: {
                                                  html: '31st March - 13th April 2021'
                                             }
                                        },
                                        {
                                             heading: {
                                                  text: "Sprint 4"
                                             },
                                             content: {
                                                  html: sprint4Html
                                             },
                                             summary: {
                                                  html: '17th March 2021 — 30th March 2021'
                                             }
                                        },
                                        {
                                             heading: {
                                                  text: "Sprint 3"
                                             },
                                             content: {
                                                  html: sprint3Html
                                             },
                                             summary: {
                                                  html: '3rd March 2021 — 16th March 2021'
                                             }
                                        }
                                   ]
                              }) }}


                              <h2 class="govuk-heading-l govuk-!-margin-top-9">Discovery sprints</h2>

                              {% set sprint2Html %}
                                   {% include './sprint-2/_summary.html' %}
                              {% endset %}

                              {% set sprint1Html %}
                                   {% include './sprint-1/_summary.html' %}
                              {% endset %}

                              {% set sprint0Html %}
                                   {% include './sprint-0/_summary.html' %}
                              {% endset %}


                              {{ govukAccordion({
                                   id: "accordion-discovery",
                                   items: [
                                        {
                                             heading: {
                                                  text: "Sprint 2"
                                             },
                                             content: {
                                                  html: sprint2Html
                                             },
                                             summary: {
                                                  html: '17th February 2021 — 2nd March 2021'
                                             }
                                        },
                                        {
                                             heading: {
                                                  text: "Sprint 1"
                                             },
                                             content: {
                                                  html: sprint1Html
                                             },
                                             summary: {
                                                  html: '3rd February 2021 — 16th February 2021'
                                             }
                                        },
                                        {
                                             heading: {
                                                  text: "Sprint 0"
                                             },
                                             content: {
                                                  html: sprint0Html
                                             },
                                             summary: {
                                                  html: '20th January - 2nd February 2021'
                                             }
                                        }
                                   ]
                              }) }}

                         </div>

                    </div>

                    <!-- End of old versions of prototype -->

               </div>
          </details>

     </div>

</div>


{% endblock %}
