{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="2-my-account">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-finance">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">Transfers</a></li>
          </ol>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <p><br></p>
               <h1 class="govuk-heading-xl">Manage transfers</h1>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
               <h2 class="govuk-heading-m">My transfer pledges</h2>
               <p>Create a public funding pledge which is shown online so that businesses can apply to you for a transfer of funds.</p>
               <div class="govuk-inset-text">You have <strong>3</strong> transfer pledges.</div>
               <a href="../STEP-1/4-start-new-pledge" class="govuk-button" data-module="govuk-button">Create a transfer pledge</a>
               <a href="4-my-pledges" class="govuk-button govuk-button--secondary" data-module="govuk-button">View my transfer pledges and applications</a>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <p style="border-top: 2px solid #b1b4b6;margin-top: 20px;margin-bottom: 40px;"></p>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
               <h2 class="govuk-heading-m">My transfer connections</h2>
               <p>If you know a business you want to transfer funds to, you can make a connection to them and set up a transfer.</p>
               <p>You'll need to know their apprenticeship service account ID number.</p>
               <div class="govuk-inset-text">You have <strong>0</strong> pending transfer connections.</div>
               <a href="#" class="govuk-button govuk-button--secondary secondary-overwrite" data-module="govuk-button">Make a transfer to a business I know</a>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <p style="border-top: 2px solid #b1b4b6;margin-top: 10px;margin-bottom: 40px;"></p>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <h2 class="govuk-heading-m">My transfer finances</h2>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <p>View a breakdown of your finances including your transfer allowance and commitments in future financial years.</p>
               <a href="3A-my-finances" class="govuk-button govuk-button--secondary secondary-overwrite">View my transfer finances</a>
          </div>
          <div class="govuk-grid-column-one-third">
          </div>
     </div>

</div>

{% endblock %}
