{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

     <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="2-my-account">Home</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-finance">Finance</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="3-transfers">Transfers</a></li>
               <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="#">My transfer pledges</a></li>
          </ol>
     </div>

     <p style="padding-bottom: 30px;"></p>

     <!-- /////////////////// DELETED MESSAGE - START ///////////////////-->
     {% if data['delete_pledge'] == "Yes" %}
          <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" id="delete_pledge_banner">
               <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
               </div>
               <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">Transfer pledge deleted</h3>
                    <p class="govuk-body">You deleted the transfer pledge 910105.</p>
               </div>
          </div>
     {% else %}

     {% endif %}
     <!-- /////////////////// DELETED MESSAGE - END ///////////////////-->

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <h1 class="govuk-heading-xl">My transfer pledges</h1>

          </div>
     </div>

     <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

               {% if data['delete_pledge'] == "Yes" %}
                    <p>You have <strong>2</strong> transfer pledges.</p>
               {% else %}
                    <p>You have <strong>3</strong> transfer pledges.</p>
               {% endif %}

               <table class="govuk-table">
                    <thead class="govuk-table__head">
                         <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Transfer pledge</th>
                              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Pledged to transfers</th>
                              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Approved for apprenticeships</th>
                              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Remaining funds</th>
                              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Applications</th>
                         </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                         <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header"><a href="5A-pledge-details" style="font-weight: 400;">910106</a></th>
                              <td class="govuk-table__cell govuk-table__cell--numeric">
                                   {% if data['pledge_amount'] %}
                                        £<span class="value-format">{{ data['pledge_amount'] }}</span>
                                   {% else %}
                                        £65,000
                                   {% endif %}
                              </td>
                              <td class="govuk-table__cell govuk-table__cell--numeric">
                                   {% if data['pledge_amount'] %}
                                        £<span class="value-format">16500</span>
                                   {% else %}
                                        £36,000
                                   {% endif %}
                              </td>
                              <td class="govuk-table__cell govuk-table__cell--numeric">
                                   {% if data['pledge_amount'] %}
                                        {% if data['accept_application'] == 'Accept' %}
                                             £27,100
                                        {% else %}
                                             £30,000
                                        {% endif %}
                                   {% else %}
                                        {% if data['accept_application'] == 'Accept' %}
                                             £26,100
                                        {% else %}
                                             £29,000
                                        {% endif %}
                                   {% endif %}
                              </td>
                              <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
                         </tr>

                         {% if data['delete_pledge'] == "Yes" %}

                         {% else %}
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header"><a href="5B-pledge-details" style="font-weight: 400;">910105</a></th>
                                   <td class="govuk-table__cell govuk-table__cell--numeric">£78,000</td>
                                   <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
                                   <td class="govuk-table__cell govuk-table__cell--numeric">£78,000</td>
                                   <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                              </tr>
                         {% endif %}

                         <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header"><a href="#" style="font-weight: 400;">910104</a></th>
                              <td class="govuk-table__cell govuk-table__cell--numeric">£42,000</td>
                              <td class="govuk-table__cell govuk-table__cell--numeric">£6,000</td>
                              <td class="govuk-table__cell govuk-table__cell--numeric">£36,000</td>
                              <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                         </tr>
                    </tbody>
               </table>

               <br>

               <a href="#" class="govuk-button" data-module="govuk-button">Create a transfer pledge</a>

               <br><br>

          </div>

     </div>

</div>

{% endblock %}
