{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../../includes/navigation_sender_finance.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <a href="javascript:history.back()" class="govuk-back-link">Back</a>
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <span class="govuk-caption-m">Find an employer to transfer your levy to</span>
               <h1 class="govuk-heading-xl">Delete transfer pledge 910105</h1>

               <p>When you delete a transfer pledge you will also remove all applications to the transfer pledge and the transfer pledge details itself.</p>

               <form method="post" action="delete_pledge_action">

                    <div class="govuk-form-group">
                         <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Are you sure you want to continue and delete this transfer pledge?</legend>

                              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" name="delete_pledge" id="delete_pledge_yes" type="radio" data-aria-controls="conditional-delete_pledge_yes" value="Yes" {{ checked("delete_pledge", "Yes") }}>
                                        <label class="govuk-label govuk-radios__label" for="delete_pledge_yes">Yes, delete transfer pledge 910105</label>
                                   </div>

                                   <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-delete_pledge_yes">
                                        <div class="govuk-form-group">
                                             <label class="govuk-label" for="contact-by-email">
                                                 <strong>Disclaimer: </strong>
                                                 <p>Your transfer pledge will no longer be publicly displayed so businesses won't be able to apply to it for funding.</p>
                                                 <p>Any applications you have already approved for this transfer pledge will still be valid, including applications you have approved where the receiving employer is yet to accept the funding.</p>
                                                 <p> Any pending applications for this transfer pledge will be automatically rejected.</p>
                                             </label>
                                        </div>
                                   </div>

                                   <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" name="delete_pledge" id="delete_pledge_no" type="radio" value="No" {{ checked("delete_pledge", "No") }}>
                                        <label class="govuk-label govuk-radios__label" for="delete_pledge_no">No, keep transfer pledge 910105</label>
                                   </div>

                         </fieldset>
                    </div>

                    <button class="govuk-button" data-module="govuk-button">Continue</button>
                    <a href="4-my-pledge" class="govuk-link govuk-link-secondary govuk-link--no-visited-state">Cancel</a>

               </form>

          </div>

     </div>

</div>

{% endblock %}
