{% extends "layout.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <h1 class="govuk-heading-xl">Sign in</h1>

               <p>Sign in or <a href="create-an-account">create an account</a> to manage your apprenticeship funds</p>

               <form method="post" action="my-account" class="check-answers-page">
                    <div class="govuk-form-group">
                         <label class="govuk-label govuk-label--m" for="sender-email">Email address</label>
                         <input class="govuk-input govuk-input--width-20" id="sender-email" name="sender-email" type="text">
                    </div>

                    <div class="govuk-form-group">
                         <label class="govuk-label govuk-label--m" for="sender-password">Password</label>
                         <input class="govuk-input govuk-input--width-20" id="sender-password" name="sender-password" type="password">
                    </div>

                    <button class="govuk-button" data-module="govuk-button">Sign in</button>

                    <p><a href="#" class="govuk-link govuk-link--no-visited-state">Forgotton your password?</a></p>
               </form>
          </div>
     </div>

</div>


<!--

  {% if data['signin_error'] %}

  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      Your details do not match
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#">Enter a valid user ID and password. You will be locked out for 2 hours if you enter the wrong details 5 times</a>
        </li>
      </ul>
    </div>
  </div>

  {% endif %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sign in </h1>

      {% if data['signin_error'] %}
      <div class="govuk-form-group">
        <form name="loginform" action="signin_validation" method="post">
          <div class="govuk-form-group govuk-form-group--error"> 
            <div class="govuk-form-group"> 
              <div class="govuk-label govuk-error-message govuk-!-font-weight-bold" style="color: #d4351c"><span class="govuk-visually-hidden">Error:</span>Email </div> 
              <input class="govuk-input govuk-!-width-one-half govuk-input--error" id="one-half" name="gid" type="text" value maxlength="20">
            </div>
            <div class="govuk-form-group govuk-form-group--error">
              <div class="govuk-label govuk-!-font-weight-bold" style="color: #d4351c">Password</div>
              <input class="govuk-input govuk-!-width-one-half govuk-input--error" id="one-half" name="pword" type="text" value maxlength="20">
            </div>
          </div>
          <p style="padding: 0 0 1em 0;"></p>
          <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
      </div>
      {% else %}
      <div class="govuk-form-group">
        <form name="loginform" action="signin_validation" method="post">
          <div class="govuk-form-group"> 
            <div class="govuk-label">Email</div> 
            <input class="govuk-input govuk-!-width-one-half" id="one-half" name="gid" type="text" value maxlength="20">
          </div>
          <div class="govuk-form-group">
            <div class="govuk-label">Password</div>
            <input class="govuk-input govuk-!-width-one-half" id="one-half" name="pword" type="text" value maxlength="20">
          </div>
          <p style="padding: 0 0 1em 0;"></p>
          <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
      </div>
      {% endif %}
      
      <p><a href="#">Forgotton your password?</a></p>
      <p><a href="#">Create an account to manage your apprenticeship funds</a></p>

      <p style="padding: 0 0 2em 0;"></p>

    </div>

  </div>

-->


{% endblock %}



