{% extends "layout-my-account.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block beforeContent %}
{% include "../../includes/navigation-sender-secondary.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container form-entry" id="transfers-hub">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <a href="javascript:history.back()" class="govuk-back-link">Back</a>

          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <span class="govuk-caption-m">Transfer matching service</span>
               <h1 class="govuk-heading-xl">Tells us about the apprenticeship</h1>

               <form method="post" action="4-check-answers" id="">

                    <div class="govuk-form-group">
                         <h1 class="govuk-label-wrapper">
                              <label class="govuk-label" for="pledge-application-more-detail">Can you provide more detail about the apprenticeship you hope you fund?</label>
                         </h1>
                         <div id="pledge-application-more-detail-hint" class="govuk-hint">This will help the employer providing the funds understand more about how it will help your business</div>
                         <textarea class="govuk-textarea" id="pledge-application-more-detail" name="pledge-application-more-detail" rows="5" aria-describedby="pledge-application-more-detail-hint"></textarea>
                    </div>

                    <p><br></p>

                    <button class="govuk-button" data-module="govuk-button" id="">Continue</button>

                    <a href="../search-pledges" class="govuk-link govuk-link-secondary govuk-link--no-visited-state">Cancel application</a>

               </form>

          </div>

     </div>

</div>

{% endblock %}
